[2016-11-30 18:13] ariel-phet commented on #177
@jonathanolson Oh...that was probably brought in to support the electric field line view.

I still get the feeling these will be two separate sims, and probably just makes sense in this particular case to copy over the useful parts of the model to the full port, and remove the unused portions from this sim. I do not expect them to share a relationship like Molecule Shapes and its Basics version, t

[2016-11-30 18:26] jonathanolson commented on #177
Understood, will make recommendations based on that. Thanks!

[2016-11-30 18:26] #177 closed

[2016-11-30 18:31] jessegreenberg commented on #176
If CAG were available it would have simplified the port a bit.  The wires, dielectric boxes, and capacitor plates all used CAG in the Java.  Instead of adding shapes with CAG, I drew shapes in the view in an order that produced the correct look.  The wires use a different workaround with ```getStrokedShape```.

For the full Capacitor Lab, dielectrics and new wire segments should be able to use wha

[2016-11-30 19:04] jonathanolson opened #178 "Air vs. Vacuum"
Since we have no need to handle dielectrics (re https://github.com/phetsims/capacitor-lab-basics/issues/177), and I was confused that dielectrics were added on top of air's contribution (which is the same as the vacuum).

Seems best to just handle things as a vacuum (and rename as such).

Tagging @pixelzoom to make sure this sounds good (due to AP's comments on the basics sim), and because:
[code]

[2016-11-30 21:21] jonathanolson opened #179 "Check dragging both circuit switches at the same time"
Presumably dragging one should disable dragging on the other.

Haven't fully reviewed code, so don't know if this is properly checked for.

[2016-11-30 21:54] jonathanolson commented on #179
For code review: #117

[2016-11-30 21:54] jonathanolson opened #180 "Moving mouse focus causes weird visual stacking"
Mousing around the switch's end point and back to the switch causes weird toggling/flickering between the end point being on top or the switch wire being on top:

![clb-stack-1](https://cloud.githubusercontent.com/assets/480878/20772923/c1f70324-b70c-11e6-9c28-c265cbbc3284.PNG)
![clb-stack-2](https://cloud.githubusercontent.com/assets/480878/20772927/c5652018-b70c-11e6-8f20-b9a85177f99e.PNG)

For

[2016-11-30 22:35] jessegreenberg commented on #23
This code should not be moved to master.  The accessibility features and implementations need to be redone after what we have learned in the latest prototypes.  But I would like to keep it around for reference for when we begin working on accessibility in this sim again.

[2016-12-01 17:51] jonathanolson commented on #117
I've done an initial pass for the model. There are enough recommended changes that it would probably be best for me to wait to do more in-depth model review until most of the mentioned review items have been handled.

I'll plan to continue with the view review for now.

[2016-12-01 17:56] pixelzoom commented on #178
Yes, agreed.

     * beer that it will never be a problem.  Any developer who needs to change this in the future
     * is hereby bound by the Developer Code of Ethics to inform me, so that I can collect on
     * this wager.

@kathy-phet @ariel-phet Stout or IPA will be fine :)

[2016-12-01 18:33] andrewadare commented on #161
Both the voltmeter and its icon in the panel now have cursor = 'pointer'.

[2016-12-01 19:13] jonathanolson commented on #161
Looks good, thanks.

[2016-12-01 19:13] #161 closed

[2016-12-01 21:17] andrewadare commented on #162
The cursor is now an arrow.

[2016-12-01 21:18] andrewadare commented on #157
Closing since no issues came up in dev testing with regard to this.

[2016-12-01 21:18] #157 closed

[2016-12-01 22:02] andrewadare commented on #117
@ariel-phet I've been going through the REVIEW comments generated from @jonathanolson so far. There are over 600 remaining. He is a good man, and thorough.

This is just a heads up that although many of them will be quick to address (e.g. visibility documentation), several involve more significant code design changes, so your comment in today's meeting that these are addressable in a day or so may

[2016-12-01 23:00] jonathanolson commented on #117
Also, most of my notes are just recommendations; if you disagree one is beneficial, it would be great to discuss.

[2016-12-01 23:23] andrewadare commented on #117
@jonathanolson so far all recommendations have been very valuable and worth implementing.

[2016-12-02 01:01] ariel-phet commented on #117
@andrewadare no problem, there is no official "deadline" associated with CL:B and @jonathanolson's review comments are partially meant as teachable moments to improve your coding chops.

(and yes I caught the Big Lebowski reference, but I did not have a clever retort....)

[2016-12-02 01:02] ariel-phet commented on #117
@andrewadare I would also say if it looks like it will be a longer haul, just split your time between CL:B and EFAC if possible just keep forward momentum on both with a bit of a skew toward CL:B

[2016-12-02 16:19] andrewadare opened #181 "Circuit model refactoring"
This is an attempt to unify several issues and REVIEW comments from #117 related to the circuit model. The following four components are related as follows:
[code]
We have the following issues:
 - Given its name and position in the graph, AbstractCircuit should behave more like an abstract class. There is too much implementation there right now. Some of this has already been handled by yesterday's

[2016-12-02 16:44] jonathanolson commented on #181
Sounds great!

In general, I'm not concerned with having lots of implementation in abstract types (usually the concrete functions operate on what the abstract ones would do). Many notes refer to moving behavior shared between CapacitanceCircuit/LightBulbCircuit into the shared supertype.

[2016-12-02 21:21] andrewadare commented on #178
All use of non-vacuum dielectric quantities has now been removed from the sim. Apart from the six-pack arrangement, this issue is complete. A surprisingly large amount of cruft was removed in the process. There were many unused functions caught by @jonathanolson that are now gone.

[2016-12-02 21:23] #178 closed

[2016-12-05 16:21] andrewadare commented on #181
AbstractCircuit has been removed from the model, and its functionality has been moved elsewhere. ParallelCircuit is now a bit distended, but this is a temporary condition. Closing since there is ample coverage for remaining work in other issues and the review comments.

[2016-12-05 16:21] #181 closed

[2016-12-05 16:29] andrewadare commented on #171
As noted in the review comments, the job of createCircuitComponents should be done in the two subtypes of ParallelCircuit, namely CapacitanceCircuit and LightBulbCircuit. This function should just be removed from ParallelCircuit: it's too general, as it returns an arbitrary number of capacitors and light bulbs in an array. But there is only ever one capacitor, and zero or one light bulbs.

We shou

[2016-12-05 18:35] andrewadare commented on #171
createCircuitComponents is gone, the arrays of circuitComponents, capacitors, and lightbulbs are all gone, and there's now just a circuit.capacitor and a circuit.lightBulb. The latter is defined to be null in CapacitanceCircuit, and there's only one place where the null check takes place in ParallelCircuit.

The circuit part of the model is looking much cleaner. There's more cleanup and refactorin

[2016-12-05 18:40] andrewadare commented on #164
This is fixed now by #171 and #181 (AbstractCircuit and createCircuitSwitches no longer exist.)

[2016-12-05 18:40] #164 closed

[2016-12-05 19:03] zepumph opened #182 "Cannot register two different instances to the same id"
After running phet-io tests on capacitor lab basics, I got this error. @andrewadare do you know anything about this?

[code]

[2016-12-06 17:07] andrewadare commented on #182
CL:B needed to be caught up for instrumentation to ArrowNode. I fixed it yesterday in fc8c84dea58529976917c1e63c2a772cdcd02b25 and a508b892197c3389f9e22d4489c5b99e365a027b. Tests with the aqua server pass in my working copy. @zepumph can you confirm, and close if all is well for you? Thanks.

[2016-12-06 17:16] andrewadare commented on #117
GH auto-closed this due to the "fixes" keyword. Don't love that feature.

updatePlateVoltages in ParallelCircuit has this review comment:
[code]
The two functions don't quite share identical conditional statements, and the repeated code is only a few simple lines, so this is one of the *very* few instances where I'd prefer to keep the code as-is.

[2016-12-06 18:27] jonathanolson commented on #117
I'll typically exclusively put "see ISSUE" or "fixes ISSUE" when referencing issues in commit messages. The "see" part keeps it from closing, even if you included "fixes" earlier in the message.

Sure, sorry!

[2016-12-07 18:57] andrewadare commented on #117
The getMaxEffectiveEField functions in CapacitanceModel and CLBLightBulbModel have long been a problem.

* They have a very awkward implementation: they construct temporary circuit model elements, configured for maximum E-field.
* The temporary components are awkward for PhET-iO. We don't want them instrumented, because they're just an implementation detail. This originally led to passing null Tan

[2016-12-07 22:22] andrewadare commented on #117
I was able to make a similar simplification for getMaxPlateCharge in CLBModel, which has a side benefit of paving the way for consolidating the Capacitor and SwitchedCapacitor (another review item).

[2016-12-07 22:38] jonathanolson commented on #117
Sounds excellent to have this factored out to a simple formula.

[2016-12-08 17:32] zepumph commented on #182
Looks good to me, and the tests are passing! Closing.

[2016-12-08 17:32] #182 closed

[2016-12-08 17:45] andrewadare opened #183 "[For posterity] CL:B version with general circuit model"
Before the extensive refactor for #117, the circuit model was a general n-capacitor, m-lightbulb parallel circuit. After #117, arrays like AbstractCircuit.capacitors have been reduced to vars like AbstractCircuit.capacitor. (And in fact AbstractCircuit no longer exists).

Checking out 0b7cb69ede15b121c324055d0de39ce2a72703fc would provide a snapshot of CL:B before the refactoring commits started a

[2016-12-08 19:01] #155 closed

[2016-12-09 16:38] andrewadare commented on #117
Regression!
![image](https://cloud.githubusercontent.com/assets/154163/21055895/8c5ab946-bdf0-11e6-8707-299613cce64e.png)
Bisected to 746186a015f9e0e92bd82581a9f5b9c8bad8b3de. If I do
[code]
it looks like these two changes are the culprits,
[code]
because reverting them seems to fix the regression.

[2016-12-09 20:23] jonathanolson commented on #117
Weird, feel free to leave it, and I can investigate later after checking whether performance is a bottleneck.

[2016-12-12 18:04] andrewadare opened #184 "Mousing over drag arrows makes + and - appear"
On initial load, the charge symbols appear on the plates if the mouse pointer crosses a drag arrow.

Dies ist ein Heisenbug. I have not gotten a screenshot yet. When it happens, the reset button doesn't always clear the symbols, and they don't redistribute with plate resizing.

[2016-12-12 21:21] andrewadare commented on #184
![image](https://cloud.githubusercontent.com/assets/154163/21117309/4701845a-c076-11e6-9fa1-520dc5c830c0.png)

[2016-12-12 22:04] andrewadare commented on #159
I'm not able to reproduce this on OSX 10.11 Chrome, and don't have Windows to test on. Not too much I can do for this issue at the moment.

[2016-12-12 22:58] andrewadare commented on #169
These three branches are now gone:
* ama/wireseg-factories-out (can be removed, since it was merged in)
* ama/property (has a commit on it not in master)
* wip (can be removed, since it was merged in)

[2016-12-13 00:51] jonathanolson commented on #117
I checked over the view code (in its current status), and I'm really not seeing any systematic problems or large issues. There may be some performance optimizations, but I'd probably take care of those myself after testing with devices and profiling.

@ariel-phet, I'd recommend that @andrewadare applies to the view the same style of REVIEW comment recommentations to the model (visibility and gener

[2016-12-13 15:55] andrewadare commented on #117
IGridSizeStrategy.js contains this header message:
[code]
The REVIEW recommendation pertains to comments that I removed in 6499a80. I should have also removed this summary. I'm aware of no issues from any of the testing rounds over the arraying of charge symbols using this algorithm.

I'm going to remove this message, but @jonathanolson please let me know if you'd prefer it (and the commented Java

[2016-12-13 16:32] jonathanolson commented on #117
Sounds good.

[2016-12-13 17:14] andrewadare commented on #117
I revisited every single view-related file and committed some minor cleanups and visibility doc updates. These files required far less revision than the model.

[2016-12-13 22:28] jessegreenberg commented on #40
Removing assignment until we continue work on this sim for a11y.

[2016-12-13 22:30] jessegreenberg commented on #42
Removing assignment until we continue to work in this sim for a11y.

[2016-12-13 22:50] andrewadare commented on #174
I gave this some thought today and as a first attempt, I wrote this function (which is untested):

[code]
I did not even commit this...by the time I finished writing it, I realized it's no better than the set of `connectedTo` functions it is intended to replace.

As a second attempt, I am working on replacing the set of Wire arrays like `ParallelCircuit.topBatteryWires` and `ParallelCircuit.topCap

[2016-12-13 23:42] andrewadare commented on #174
The next step is to replace all the specially-named functions like `Capacitor.intersectsTopPlate(shape)` and `Battery.intersectsTopTerminal(shape)` with more general functions like `Capacitor.contactBetween(shape, CircuitLocation.CAPACITOR_TOP)`. This should be done for the Battery, Capacitor, and LightBulb.

Once that is done, the `connectedTo` functions can be condensed.

[2016-12-13 23:44] andrewadare commented on #174
Also, there is no Shape instance doing any contacting other than the voltmeter probes. So it would improve readability to replace the `shape` parameter with `probe` (the type info will still be clear from the function docs).

[2016-12-14 19:23] jessegreenberg commented on #21
Removing assignment until we continue work on this sim for a11y.

[2016-12-14 19:24] jessegreenberg commented on #20
Removing assignment until we begin work on this sim again for a11y.

[2016-12-15 00:07] andrewadare commented on #174
I have condensed the logic of all the duplicated functions into a single function called ParallelCircuit.probeContactsComponent. It covers 12 cases (6 locations x (isolated/connected)).

The code is shorter overall, but despite all the work, it's not very a very satisfying refactor. The core problem is that the logic is still boolean, so functions like getVoltageAt are still playing 20 questions.

[2016-12-15 15:16] andrewadare commented on #173
This has been completed by dozens of commits that are referenced in #117.

[2016-12-15 15:31] andrewadare commented on #172
Now AbstractCircuit no longer exists, and the equivalent code in ParallelCircuit looks like this:
[code]
This looks cleaner, but not sure whether performance is any different now.

[2016-12-15 16:02] andrewadare commented on #170
Math.round has been replaced.

[2016-12-15 16:02] #170 closed

[2016-12-15 16:06] andrewadare commented on #174
@jonathanolson it would be worth some brief discussion on this to decide how to proceed. Perhaps we can find a few minutes after today's meeting.

[2016-12-15 16:07] andrewadare commented on #171
This issue has been addressed, closing.

[2016-12-15 16:07] #171 closed

[2016-12-15 16:10] andrewadare commented on #165
I've done a full pass through every file (both model and view) and added the docs. @jonathanolson please close if this looks satisfactory.

[2016-12-15 16:11] andrewadare commented on #163
All docs have been added, closing.

[2016-12-15 16:11] #163 closed

[2016-12-15 18:13] andrewadare commented on #166
@pixelzoom had a comment in the original Java implementation-notes.txt file about this:
[code]
I preserved his remarks in implementation-notes.md (mentioning BoxShapeCreator instead of BoxShapeFactory).

[2016-12-15 18:16] andrewadare commented on #166
The two files have been added, @jonathanolson they are ready for review.

[2016-12-15 18:41] jonathanolson commented on #166
Looks good, thanks!

[2016-12-15 18:41] #166 closed

[2016-12-15 18:47] andrewadare commented on #167
The light-bulb-base png and license entry were moved from both CLB and Faraday's Law to scenery-phet.

[2016-12-15 18:47] #167 closed

[2016-12-15 19:55] andrewadare commented on #168
I took a shot, based on my own incomplete knowledge. @ariel-phet can you review this?
[code]

[2016-12-15 21:08] andrewadare commented on #180
There were some design revisions a few months ago related to the switch appearance, as discussed in #140. #145 may also pertain. For those issues, I introduced a tipCircle node in SwitchNode.js, but it looks like there was an ordering problem. The commits above add a listener that keeps the visual effect consistent between the center switch position and the others.

[2016-12-16 16:24] ariel-phet commented on #168
@arouinfar I think this is correct - do you want to have a gander?

[2016-12-16 16:49] arouinfar commented on #168
The team should include Emily Moore and Emily Randall. It's also possible that Emily Randall ported some of the model, but @jessegreenberg would know for sure. QA seems reasonable, based on the sim's timeline. I think we can eliminate the graphic arts category. I don't believe @amyh-phet created any of the artwork (please correct me if I'm wrong!) and I wouldn't need to be credited there because I

[2016-12-16 17:42] amyh-phet commented on #168
@arouinfar is correct.  I haven't worked on Capacitor lab, so I shouldn't be mentioned in the credits.

[2016-12-16 17:44] andrewadare commented on #168
Thanks all, credits have been updated. Please reopen (or edit capacitor-lab-basics-main.js directly) if any further revisions are needed.

[2016-12-16 17:44] #168 closed

[2016-12-16 19:35] phet-steele commented on #148
@andrewadare, this is back in 1.0.0-dev.37! I can see where maybe we thought this was resolved, but there is a chance it never was. The key is this:

Move your mouse over a solder ball to highlight it first, THEN take a screenshot.

Solder balls that have not been "highlighted" look completely normal in the screenshot. Something about the highlight, followed by the return of the solder ball when t

[2016-12-19 23:34] EthanWJohnson opened #185 "Capacitor Plate contact area not updating"
It seems like the voltage probe's contact area for the capacitor plates isn't updating at all when the size or separation is updated.
![image](https://cloud.githubusercontent.com/assets/22551096/21332721/a760ee30-c607-11e6-825d-940466d162c1.png)
The probe is at the plate's original position and size, and is registering voltage.
![image](https://cloud.githubusercontent.com/assets/22551096/21332740/

[2016-12-20 17:11] andrewadare commented on #185
@EthanWJohnson great catch. The problem might have been introduced in 1261e84.

[2016-12-20 17:38] andrewadare commented on #185
This should be fixed now on master (it is behaving correctly in my local tests.)

[2016-12-21 19:40] andrewadare commented on #148
@ariel-phet, I assume you'll want @jonathanolson to have a look at this one.

[2016-12-21 22:43] ariel-phet commented on #160
@arouinfar assigning to you to take a look at.

If all looks good, feel free to close, if further work is needed, please describe and assign to JO

[2016-12-24 21:07] arouinfar commented on #160
@ariel-phet I'm not able to pull capacitor-lab-basics from master (other repos seem fine), so I think it's temporarily broken. I'll check again later.

[2016-12-24 21:14] arouinfar commented on #160
Left-aligning the values looks reasonable to me. Closing.

[2016-12-24 21:14] #160 closed

[2017-01-03 18:35] phet-steele commented on #159
Seems fixed in 1.0.0-dev.37. Tentatively closing. For the record, I could reproduce in dev.36 on macOS 10.12.2 Chrome.

[2017-01-03 18:35] #159 closed

[2017-01-10 17:23] jessegreenberg commented on #169
I commented in the issue (#23) - I would like keep the branch around for reference when we continue work on this sim for accessibility.  Since the other branches were removed, closing.

[2017-01-10 17:23] #169 closed

[2017-01-14 04:23] jonathanolson commented on #184
Haven't been able to reproduce, but will review the code to find out how it happens.

[2017-01-14 04:33] jonathanolson commented on #148
Yup, able to reproduce on Firefox and IE now. Investigating.

[2017-01-14 05:09] jonathanolson commented on #148
Looks like the fill of the dashed circle outline was being set to ```'none'``` (the string) instead of null. Scenery treats strings as being filled, so when Canvas tries to render it, it keeps the old fill.

In this case, the old fill looked like the background color of the sim, so it erased the content behind (erasing our poor properly-filled switch ball).

I'll be adding assertions to Scenery to

[2017-01-14 05:38] jonathanolson commented on #148
Should be fixed, @phet-steele can you verify?

Also MANY MANY thanks for noticing that the mouse-over was the trigger!

[2017-01-19 08:46] #162 closed

[2017-01-19 08:47] #165 closed

[2017-01-19 08:48] #173 closed

[2017-01-19 08:53] jonathanolson commented on #76
Looks like this was fixed with the changes to input handling.

[2017-01-19 08:53] #76 closed

[2017-01-19 09:05] #172 closed

[2017-01-19 09:19] jonathanolson commented on #179
Behavior and code looks good.

[2017-01-19 09:19] #179 closed

[2017-01-19 10:31] jonathanolson commented on #180
I'm a bit unclear on when the connection point is supposed to be yellow (where is the mouse / what state is the mouse button/touch in, what is the state of the switch, etc.), and where the connection point highlight is supposed to be (yellow, but there is one on top of the wire end and one below the wire end).

@arouinfar, can you advise?

[2017-01-19 17:55] phet-steele commented on #148
It's fixed on phettest, let's hope this doesn't come up again! And don't mention it, @jonathanolson.

[2017-01-19 17:55] #148 closed

[2017-01-19 21:00] arouinfar commented on #180
@jonathanolson the connection point should be yellow when the mouse hovers over the click area for the switch position. In the screenshot below, my mouse was in the right-most triangle.
<img width="271" alt="screen shot 2017-01-19 at 1 59 14 pm" src="https://cloud.githubusercontent.com/assets/8419308/22125074/87128c0a-de4f-11e6-873f-bce099839ef0.png">

I have not been able to observe the layering

[2017-01-19 21:46] jonathanolson commented on #180
Does "hovers over" imply that there should be no highlight when the switch is being dragged or when the mouse is pressed down on it?

[2017-01-24 18:01] phet-steele opened #186 "Automated Testing Lint Error (1/24/2017 10:25 AM)"
[code]

[2017-01-28 13:46] #186 closed

[2017-04-13 18:44] pixelzoom opened #187 "review open issues"
@ariel-phet asked me to review open issues, to see what I might be able to address.

[2017-04-14 01:36] pixelzoom commented on #187
@ariel-phet Should I skip the issues labeled "dev:ally"?   How about the ones labeled "priority:5-deferred"?

[2017-04-14 01:39] pixelzoom commented on #180
I'm reviewing this issues as part of #187. This issue is labeled "ready-for-review". It looks like @jonathanolson was in the process of reviewing, but had some questions and is eating for a reply from @arouinfar.   @arouinfar @jonathanolson?

[2017-04-14 01:43] pixelzoom commented on #175
Reviewing status of this issue as part of #187.

@jonathanolson status of this issue?  You said "I'll take care of it", but then labeled it as deferred.

[2017-04-14 16:00] ariel-phet commented on #187
@pixelzoom yes you can definitely skip "dev:a11y"

Maybe take a quick glance over "priority:5-deferred" - some of them are obviously not relevant for publication (like CAG, since we do not have that yet), but see if there is anything that you and I should discuss. My quick look suggests that deferred is correct for most of them.

[2017-04-14 19:41] jonathanolson commented on #175
Un-deferring, shouldn't be too hard to add.

[2017-04-14 19:41] jonathanolson commented on #180
Still uncertain about desired behavior, https://github.com/phetsims/capacitor-lab-basics/issues/180#issuecomment-273908638 mentions my remaining question.

[2017-04-17 20:28] pixelzoom commented on #5
@jessegreenberg I don't see this branch? Was it deleted? Can this issue be closed?

[2017-04-17 20:32] pixelzoom commented on #125
@jessegreenberg  Does the "deferred" status of this issue mean that it does not need to be addressed for 1.0.0 release?

[2017-04-17 20:32] pixelzoom commented on #125
@jessegreenberg  Does the "deferred" status of this issue mean that it does not need to be addressed for 1.0.0 release?

[2017-04-17 20:40] pixelzoom commented on #117
Evaluating status of this as part of #187.  It looks like @andrewadare was the primary developer, and @jonathanolson was part-way through the code review.  And then things stalled out around Dec 2016.

@jonathanolson Do I have that right? Should I continue with this review? Start a new review issues?...

[2017-04-17 21:24] pixelzoom commented on #117
I made a quick pass through the code, added some `REVIEW` tags, and added some missing annotations (mostly `@override`).

[2017-04-18 00:09] jonathanolson commented on #117
I had done some review, and @andrewadare handled what was possible before he left. It's potentially on my plate after Proportion Playground.

[2017-04-18 16:39] pixelzoom commented on #187
Summary of current open issues...

• 6 labeled `a11y` which can be safely ignored (#20, #21, #23, #24, #40)
• 2 labeled `deferred` for post 1.0.0 (#125, #176)
• 3 labeled `ready-for-review`, all they need is verification (#174, #180, #185)
• #184 not reproducible
• #175 needs to be done by @jonathanolson because it requires `kite` enhancements
• #117 code review is partially completed

Given the a

[2017-04-18 16:42] jessegreenberg commented on #125
My understanding was this is a has no impact on the sim behavior, but is only apparent with PhET-iO features.

If this needs to be addressed for PhET-iO, then deferred seems appropriate and does not need to be adressed for a 1.0.0 release.  @ariel-phet said

So perhaps this can be closed.

[2017-04-18 16:49] jessegreenberg commented on #5
Hmm, that is too bad - yes, it looks like branch was deleted.  Not a huge loss, PhET accessibility has changed a lot since we were originally playing with designs in this sim. Closing.

[2017-04-18 16:49] #5 closed

[2017-04-18 17:07] jessegreenberg commented on #125
I noticed @phet-steele added a 👎. This is a phet-io problem and I honestly don't know if it needs to be addressed for the 1.0.0 release. @ariel-phet do you know?

[2017-04-18 17:10] samreid commented on #125
In my opinion, the main reason for this issue was to make sure the model didn't have latent bugs or flaws in the implementation.  If the model is working as desired, then I don't see any problem with this fluctuation in the PhET-iO API (except that we may have to document or explain what is happening to curious clients).

[2017-04-18 17:12] ariel-phet commented on #125
I imagine @phet-steele was saying "don't close"

@pixelzoom this does not need to be addressed for 1.0.0 release

[2017-04-18 17:27] jessegreenberg commented on #125
Thanks @samreid, https://github.com/phetsims/capacitor-lab-basics/issues/125#issuecomment-250007033 isolated the cause of this, and https://github.com/phetsims/capacitor-lab-basics/issues/125#issuecomment-294913842 made this sound like a non-issue for phet-io. @phet-steele I am going to add some documentation for the phet-io instance and then close, sound good?

[2017-04-18 17:44] ariel-phet commented on #187
Fair enough @pixelzoom, closing

[2017-04-18 17:44] #187 closed

[2017-04-21 16:51] #125 closed

[2017-08-15 20:59] jonathanolson commented on #185
Confirmed fixed.

[2017-08-15 20:59] #185 closed

[2017-08-16 00:49] jonathanolson commented on #180
It's getting really onerous to maintain the exact behavior of dev.37 (but without the overlap bug) while moving away from 4 independently draggable things with 5 different input listeners. It's also extra tricky because the empty "connection points" are circles that are slightly smaller than the actual filled "connection point".

I'd like to clarify with essentially one of these options:

1. Exact

[2017-08-16 00:52] jonathanolson commented on #180
For reference: dev.37: http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.37/capacitor-lab-basics_en.html

Also:
(1) is probably more expensive by about half a day's work, so I'd rather not do that unless it is the exact behavior desired.

[2017-08-16 16:39] arouinfar commented on #180
@jonathanolson didn't realize there was maintainability issues with the behavior in dev.37. Please go with option (3) and do what you think is best. Those two dashed circles are not meant to be different, aside from their stroke and fill colors. Please let me know if you have any questions!

[2017-08-16 21:26] jonathanolson commented on #180
I've brought the behavior up closer to what I think it should be, let me know how it behaves.

For now, pressing down on a switch area that isn't selected just sets the switch to that, but doesn't start a drag. If drags should be started from those unselected areas, let me know (it's an easy change).

[2017-08-16 21:34] arouinfar commented on #180
Behavior looks nice on Mac and iPad. Closing.

[2017-08-16 21:34] #180 closed

[2017-08-16 22:06] jonathanolson commented on #184
Can't reproduce. If it happens again, I'll fix then (might fix during code review).

[2017-08-16 22:06] #184 closed

[2017-09-19 19:50] phet-steele opened #188 "Assertion failed: invalid value"
[code]

[2017-10-05 17:14] #175 closed

[2017-10-12 01:53] jonathanolson commented on #176
I've reviewed all places in the sim where Shape occurs, so I believe I've hit all of these with CAG.

Closing.

[2017-10-12 01:53] #176 closed

[2017-10-12 03:32] jonathanolson commented on #188
![capacitor-over](https://user-images.githubusercontent.com/480878/31478053-cfc19cc4-aeca-11e7-83ce-1243971d6ba1.PNG)

This looks like it can happen naturally when (potentially?) the light-bulb hits large amounts of energy. For the above shot, I took away the (dominating) light bulb light.

[2017-10-12 03:33] jonathanolson commented on #188
Removed the cause above, closing.

[2017-10-12 03:33] #188 closed

[2017-10-12 05:14] jonathanolson commented on #174
With CircuitLocation and the current logic, this looks quite good actually.

[2017-10-12 05:14] #174 closed

[2017-10-12 05:58] jonathanolson opened #189 "Update credits"
QA or anything else

[2017-10-12 18:04] arouinfar commented on #189
Took a look at the credits in the latest dev, and they're pretty out of date. I recommended in https://github.com/phetsims/capacitor-lab-basics/issues/168#issuecomment-267638496 to
1. Remove Graphic Arts section (usually reserved for non-team members who create artwork, which is irrelevant here)
2. Add Emily Moore to the Team
3. Add Emily Randall as either a team member or developer.

@ariel-phet

[2017-10-13 15:25] ariel-phet commented on #189
Emily Randall can certainly be credited in the developer section.

@phet-steele will be able to give proper QA credits when this goes to RC

[2017-10-13 16:54] arouinfar commented on #189
Looks like credits in [capacitor-lab-basics-main.js](https://github.com/phetsims/capacitor-lab-basics/blob/master/js/capacitor-lab-basics-main.js) are already up to date, so all that's left is the remaining QA credits.

[2017-10-13 17:11] arouinfar opened #190 "Cueing arrows should reappear on reset all"
When playing with dev.37, I noticed that the cueing arrows on the switch do not reappear on reset all. Since dev.37 is pretty stale, I took a look at master, and the behavior is present there too.

1. On startup, move switch. Cueing arrow disappears (as it should).
2. Click reset all.
3. Switch returns to default position, but cueing arrow does not reappear (but it should).
4. Click reset all agai

[2017-10-13 18:09] arouinfar opened #191 "Change background color"
For a more unified look-and-feel, there have been some recent efforts to reduce the number of variations of blue backgrounds used in sims. For example, see  https://github.com/phetsims/balloons-and-static-electricity/issues/310.

@jonathanolson please update these colors to the following:
DISCONNECTED_POINT_COLOR: 'rgb( 200, 230, 255 )'
SCREEN_VIEW_BACKGROUND_COLOR: 'rgb( 151, 208, 255 )'

The cue

[2017-10-13 23:32] jonathanolson opened #192 "Improve performance"
Noticed general poor performance in https://github.com/phetsims/capacitor-lab-basics/issues/117.

[2017-10-16 21:43] jonathanolson commented on #191
Should be complete.

[2017-10-16 21:43] #191 closed

[2017-10-16 21:48] jonathanolson commented on #190
Should be fixed, can you verify?

[2017-10-16 21:51] jonathanolson commented on #117
Review complete, only remaining issue is performance (handling in https://github.com/phetsims/capacitor-lab-basics/issues/192).

[2017-10-16 21:51] #117 closed

[2017-10-16 22:07] arouinfar commented on #190
Looks great! Thanks @jonathanolson.

[2017-10-16 22:07] #190 closed

[2017-10-17 17:29] phet-steele opened #193 "Assertion failed: modelPoint must be of type Vector3. Received Vector2(0.0672, 0.0298)"
Fails on load.

[code]

[2017-10-17 19:46] #193 closed

[2017-10-18 16:36] jonathanolson commented on #192
Noted as good enough, closing.

[2017-10-18 16:36] #192 closed

[2017-10-18 21:08] phet-steele opened #194 "Cueing arrow should stay until switch has landed in a new postion"
@jonathanolson, the cueing arrow should stay visible until it is released (or jumped by clicking) in a new position it didn't originate in. Currently, it simply disappears upon the first interaction of the switch, regardless of if the switch actually changes its final position.

@arouinfar has confirmed this suggestion has been the desired behaviour.

For phetsims/QA/issues/56.

[2017-10-19 03:33] ariel-phet commented on #7
## Design
- [ ] **Sim folder and design doc created** (Date: 06/03/2015)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed**
- [ ] **Learning goals and standards identified** (Date: 06/03/2015)
- [ ] **Design concept comple

[2017-10-19 16:13] jonathanolson commented on #194
Implemented.

Also I'd like to note that the "cue" presence is shared across both screens (there's documentation that seems to indicate that is desired). That is looking good also?

[2017-10-19 16:18] phet-steele commented on #194
Beautiful.

Looking great, thanks @jonathanolson.

[2017-10-19 16:18] #194 closed

[2017-10-19 18:39] phet-steele commented on #194
Hooray, this was my 1000th closed issue!

[2017-10-24 20:56] arnabp opened #195 "Circuit switch gets stuck when dragged too quickly"
On Capacitance screen it only seems to get stuck on the solder balls. On Light Bulb screen, switch can get stuck in any position depending on how quickly initial dragging speed is.

![capacitor lab drag bug 1](https://user-images.githubusercontent.com/8583364/31967365-ef640a4e-b8ca-11e7-82ae-551aa9f9bcf1.gif)

![capacitor lab drag bug 2](https://user-images.githubusercontent.com/8583364/31967372-f

[2017-10-25 18:50] CWilson4960 opened #196 "Voltmeter readout and label too far up"
Test device: Macbook Pro

Operating System: MacOS Sierra 10.12.6

Browser: Chrome

Problem description: Voltmeter readout and label need to be moved down to match Circuit Construction Kit: DC
The voltmeters aren't exactly the same so this might be difficult to do.
Assigning Amy @arouinfar to help with this

Screenshots:
RIght one:
![correctvoltmeter](https://user-images.githubusercontent.com/31217

[2017-10-25 19:07] ariel-phet commented on #196
This voltmeter should likely be a common code component right?

[2017-10-25 19:20] phet-steele commented on #196
@ariel-phet It should be, but it isn't!

[2017-10-25 20:20] CWilson4960 opened #197 "Voltmeter reading values when a probe is on the battery"
Test device: MacBook Pro

Operating System: OS Sierra 10.12.6

Browser: Chrome

Problem description: From the start, the voltmeter reading still reads a value when the negative probe is placed over the bottom of the battery up to a point on the battery. It stops reading and presents a question mark just below the -1.5 tick mark. This also occurs with the positive probe placed near the bottom of th

[2017-10-25 20:24] arouinfar commented on #197
Good catch @CWilson4960! I suspect @phet-steele is right -- the probe is likely reading over the hidden wire. This is a bit problematic, as users have no reason to know the probe is actually reading a wire.

@jonathanolson the voltmeter probes should not be able to read on top of the battery, other than the positive terminal (which is metallic).

[2017-10-25 20:26] arouinfar commented on #196
I prefer the CCK-style layout for the title/readout.

[2017-10-26 17:50] lmulhall-phet commented on #195
I haven't seen this exact issue, but I have noticed that if you have the arm of wire selected and you try to drag it from one junction to another, it won't move if you drag your cursor below the joint. Not sure if this is intended behavior.

![drawing](https://user-images.githubusercontent.com/31285590/32068483-b5e994ee-ba43-11e7-871a-999198776b72.jpeg)

[2017-10-27 00:07] jonathanolson commented on #196
Changed the layout to match.

@samreid, were the images copied for CCK's voltmeter node?

[2017-10-27 00:40] samreid commented on #196
@arouinfar delivered CCK voltmeter artwork on 10/25/15, but I can see that @jessegreenberg committed capacitor-lab-basics/assets/voltmeter_body.ai two months earlier.

[2017-10-27 00:49] samreid commented on #196
@arouinfar are you recommending we commonize the CCK artwork and reuse it in Capacitor Lab Basics?  Do we have other simulations with a voltmeter?

[2017-10-27 03:32] samreid commented on #196
To answer my own question, Faraday's law has a voltmeter, but it is a different kind.

[2017-10-27 03:32] jonathanolson commented on #197
Moved the start of the wire down. It looks like it now behaves like other sections of wire. There's still a little bit of "offset" from the wire where it seems connected, but this seems to happen with everything else.

Does this look acceptable?

[2017-10-27 16:46] phet-steele commented on #196
@jonathanolson the readout looks closer to the left than the right (so not centered). Looks like this was the case before your change, too.

<img width="225" alt="screen shot 2017-10-27 at 10 45 02 am" src="https://user-images.githubusercontent.com/5863899/32115429-0b269162-bb04-11e7-9470-71634f1ff554.png">

[2017-10-27 16:47] jonathanolson commented on #195
Some of this seems somewhat intentional:
[code]

@arouinfar, what is the desired behavior here?

[2017-10-27 16:55] phet-steele opened #198 "Battery & wire not aligned"
@jonathanolson @arouinfar the battery does not look centered on the wires. This is easiest to see at the upper connection:

<img width="201" alt="screen shot 2017-10-27 at 10 47 38 am" src="https://user-images.githubusercontent.com/5863899/32115691-093b62c8-bb05-11e7-8f2d-8964fc68e28a.png">
<img width="215" alt="screen shot 2017-10-27 at 10 47 49 am" src="https://user-images.githubusercontent.com/

[2017-10-27 16:59] arouinfar commented on #198
@phet-steele @jonathanolson I checked the .ai assets for the battery, and the terminals are centered, so (1) is not the culprit here.

[2017-10-27 17:00] arouinfar commented on #198
@jonathanolson can you investigate (2) and (3)?

[2017-10-27 17:06] arouinfar commented on #195
For the life of me I cannot reproduce the behavior described by @arnabp and @lmulhall-phet. That said, I cannot think of a productive or pedagogically useful reason to purposefully prevent the switch from moving in these situations @jonathanolson.

[2017-10-27 17:07] jonathanolson commented on #196
Looks like there is an extra ~9 pixels on the left of the source image for the voltmeter background. I'll cut this off and rework things to align properly.

[2017-10-27 17:17] jonathanolson commented on #196
@phet-steele and @arouinfar, is the layout acceptable now?

[2017-10-27 17:17] jonathanolson commented on #196
Forgot to reference issue, commit is e2e485042b9bf20620413e37eeff036e3d86c170

[2017-10-27 17:27] jonathanolson commented on #195
Addressed with https://github.com/phetsims/capacitor-lab-basics/commit/d5695f2cd451b4348c59e3028154c292302a1866.

@arouinfar, can you try out the behavior (notably dragging "under", like in https://github.com/lmulhall-phet)?

[2017-10-27 17:32] arouinfar commented on #195
@jonathanolson I could not reliably reproduce the original issue, so I think this is best verified by @arnabp, @lmulhall-phet or @phet-steele.

[2017-10-27 17:42] jonathanolson commented on #198
Some of the effect may be coming from the terminals on the battery images not being quite in the center, e.g.:

![battery-center](https://user-images.githubusercontent.com/480878/32117487-c558ff82-bb0b-11e7-96c5-e06eebe45a97.PNG)

I'll try adjusting the empty space on the images to see if it fully resolves the issue.

[2017-10-27 17:44] arouinfar commented on #198
@jonathanolson it's possible that the ovals themselves are goofy. When I try to re-center the terminal over the battery, the terminal doesn't move at all.

[2017-10-27 17:52] jonathanolson commented on #198
The batteries look like they could be drawn fairly easily in code (based on measurements from the original images).

Should I go that route?

Otherwise, maybe try re-exporting the images (particularly so they are the same size), since they are different sizes, and I can look at determining if an offset in code is needed.

[2017-10-27 17:55] jonathanolson commented on #195
This was:

1. A change that fixes the bug, since it places no restrictions on how far the switch can be moved in one time-step.
2. A change to how the switch behaves when the mouse is dragged below the (top) switch's hinge. It used to not move at all, and now it will go to the closest option.

Since (2) is a behavioral change, I wanted to ensure that you liked the behavior.

I agree (1) should be

[2017-10-27 17:56] arouinfar commented on #195
Thanks for clarifying @jonathanolson! When playing with master, the switch behavior still felt very natural to me.

[2017-10-27 18:29] arouinfar commented on #198
@jonathanolson I'd prefer that the artwork be drawn in code, if you're up to it. :)

Yikes, sorry about that. I'd like to think that I handle assets a bit better these days...

[2017-10-27 18:38] arouinfar commented on #197
It's definitely an improvement @jonathanolson, but I think it could still use a bit more refinement (if feasible).

Probes are in the same location, but readings are different. The screenshot on the right exhibits the desired behavior, as the probe is touching a terminal.
![screen shot 2017-10-27 at 11 39 18 am](https://user-images.githubusercontent.com/8419308/32117408-7df09a10-bb0b-11e7-9f06-c71

[2017-10-27 20:10] jonathanolson commented on #197
It seems there's a lot of "forgiveness" with precision with the current probes:
![clb-probe-1](https://user-images.githubusercontent.com/480878/32123128-51941a2c-bb20-11e7-8240-1802f1c8a3a3.PNG)

I assumed this was a feature?

Anyways, the entire boundary of the probe is tested (not just the tips):
![clb-probe-2](https://user-images.githubusercontent.com/480878/32123143-61cf731e-bb20-11e7-8158-c91

[2017-10-30 17:14] phet-steele commented on #196
@arouinfar does the readout box seem slightly too tall to you? It gets pretty close to the descender on the "g" as well.

[2017-10-30 18:16] phet-steele commented on #195
Firstly, original issue is fixed.
Secondly, a slack conversation with @jonathanolson.

SD
1. Why can't dragging under the switch be continuous, instead of causing the switch to jump between min/max angles? Are the angles just too small at that point?

    1a. Since only min/max angles are being reached, you can't end in the middle position when
    dragging under the switch (2nd screen).
2.  The f

[2017-10-30 19:15] arouinfar commented on #195
Continuous dragging makes sense to me. I don't think the drag behavior was ever specified, so my guess is that it was a dev choice. @jonathanolson I would prefer that the switch move continuously when dragged, regardless of whether the cursor/finger is above or below the switch.

dragging under the switch (2nd screen).

Great catch @phet-steele. This seems super problematic to me, so please fix it

[2017-10-30 20:22] jonathanolson commented on #195
Can @arouinfar and @phet-steele check the behavior on master to see if that is good?

[2017-10-30 22:18] jonathanolson commented on #198
Current battery-in-code progress:
![clb-battery-code](https://user-images.githubusercontent.com/480878/32198477-dbfdee4e-bd8d-11e7-8a2c-5adc5283f3f9.PNG)

Compared to reference images:
![battery](https://user-images.githubusercontent.com/480878/32198487-e7c8a66a-bd8d-11e7-89a2-9532f0dbe279.png)
![battery_upside-down](https://user-images.githubusercontent.com/480878/32198488-e7db6aa2-bd8d-11e7-9595

[2017-10-30 22:19] arouinfar commented on #198
Looks really nice @jonathanolson!!

[2017-10-30 22:22] jonathanolson commented on #198
Thanks!

One note: on the positive terminal of the original image, the terminal appears to be somewhat closer to the camera than the actual center of the battery:
![clb-battery-top](https://user-images.githubusercontent.com/480878/32198593-52e17d14-bd8e-11e7-8d62-91b45dc36898.PNG)

You would expect the outer ellipse of the battery's top to have the same center as the bottom of the terminal, but th

[2017-10-30 22:24] jonathanolson commented on #198
Just moving the terminal up:
![clb-battery-raised-1](https://user-images.githubusercontent.com/480878/32198699-c5298d62-bd8e-11e7-9430-dcc9c4b050be.PNG)

or the (preferred) making the terminal slightly shorter:
![clb-battery-raised-2](https://user-images.githubusercontent.com/480878/32198705-cf564258-bd8e-11e7-9e33-ac239172d919.PNG)

[2017-10-30 22:32] arouinfar commented on #198
@jonathanolson I like the 2nd screenshot in https://github.com/phetsims/capacitor-lab-basics/issues/198#issuecomment-340603183, so let's go with that.

[2017-10-30 22:47] jonathanolson commented on #197
Note that https://github.com/phetsims/capacitor-lab-basics/issues/197 may have slightly affected the position of the wire compared to the battery.

[2017-10-30 22:49] jonathanolson commented on #198
Fully moved the battery over to the code-drawn version (with the desired terminal above). Adjusted wire start/end position very slightly (sim was accounting for the padding in the original images).

@arouinfar, can you check to see if this looks acceptable?

[2017-10-30 22:52] arouinfar commented on #198
Looks beautiful @jonathanolson!

[2017-10-30 22:52] #198 closed

[2017-10-31 16:21] arouinfar commented on #195
I really like the new behavior @jonathanolson!! I'll leave the issue open for @phet-steele to review too.

[2017-10-31 18:23] arouinfar commented on #197
@jonathanolson, if any portion of the metallic part of the probes touches something conductive (wire, switch, battery terminals), the voltmeter should produce a non-? reading. The first screenshot is definitely problematic, but the 2nd one is acceptable because it looks like the base of the metal probes is touching the wire.

@phet-steele commented that the bounds/test area of the metallic probe t

[2017-10-31 18:25] arouinfar commented on #196
It's looking a lot better @jonathanolson, but as @phet-steele pointed out, the readout box does look a bit too tall, which doesn't leave enough negative space between "Voltage" and the readout.

[2017-11-01 03:14] jonathanolson commented on #197
I've fixed up the metallic probe tip shapes, and added a showDebugAreas query parameter to help with handling this.

Other things to note:

The light bulb base's shape is totally insufficient:
![screen shot 2017-10-31 at 9 02 18 pm](https://user-images.githubusercontent.com/480878/32258224-e1639798-be7e-11e7-8258-f325720176c8.png)

The battery terminal top is off (probably from recent changes), an

[2017-11-01 03:18] jonathanolson commented on #196
Adjusted height and stroke (since the stroke was a lot thicker than CCK).

How does it look now?

[2017-11-01 16:07] phet-steele commented on #197
@jonathanolson very clearly demonstrated it in the latter part of the above comment (talking about the bounding box of the probe tip). Thanks JO!

[2017-11-01 17:45] arouinfar commented on #197
Yes, I think all of these issues should be addressed @jonathanolson. Thanks for adding the showDebugAreas query parameter! It was very helpful. iPad performance is quite good, so I think we can afford to err towards accuracy.

You may want to review the CCK voltmeter or consult with @samreid about the probe tips. I believe he added a few extra sampling points to the metallic tip to check for inter

[2017-11-01 20:03] arouinfar commented on #196
Looks great @jonathanolson! Thanks.

[2017-11-01 20:03] #196 closed

[2017-11-01 20:35] ariel-phet commented on #7
@arouinfar this sim is getting close, time to start checking off some items!

[2017-11-01 22:42] arouinfar opened #199 "Screenshot for 1.0"

[2017-11-01 22:48] arouinfar commented on #199
![image](https://user-images.githubusercontent.com/8419308/32301664-7db6827c-bf24-11e7-9382-9413876324e2.png)

[2017-11-01 22:56] arouinfar commented on #199
Alternate screenshots:
![screen shot 2017-11-01 at 4 53 47 pm 2](https://user-images.githubusercontent.com/8419308/32301857-4ecad4c6-bf25-11e7-809d-60c80b08bf9e.png)
![screen shot 2017-11-01 at 4 54 35 pm](https://user-images.githubusercontent.com/8419308/32301867-5e8a332a-bf25-11e7-9659-6967a7df6084.png)

[2017-11-01 22:59] arouinfar commented on #7
@ariel-phet can we add LoL icons and descriptions to the checklist? Moving forward, all new science sims will be integrated into LoL, so the master checklist seems like an appropriate home for these items.

[2017-11-02 16:29] jonathanolson commented on #197
One other thing that feels a bit weird is that the probe-able region of the switch segment doesn't change while the user is dragging the switch. For example, if you have the following setup:
![screen shot 2017-11-02 at 10 24 27 am](https://user-images.githubusercontent.com/480878/32337602-0f74fb24-bfb8-11e7-96ca-816b638f3ed1.png)

And drag the switch to the vertical position (without releasing), t

[2017-11-02 17:26] jonathanolson commented on #197
Applying work-in-progress in a branch, since there are a few kite fixes I'll need to apply (would error with fuzzing).

[2017-11-02 17:26] jonathanolson opened #200 "branch: probe-fixes"
For https://github.com/phetsims/capacitor-lab-basics/issues/197

[2017-11-02 17:43] arouinfar commented on #197
Ideally, yes @jonathanolson. If this is something you can address, please do. Nice catch!

[2017-11-02 17:53] arouinfar opened #201 "Panel pixel polishing"
@jonathanolson I've noticed a few things that could be tweaked slightly.

- [x] Remove "View" title from the panel.
- [x] Top-align Bar Graph panel with View panel.
- [x] Reduce the size of checkboxes to roughly size of capital letter (like Pendulum Lab).
- [x] Anchor the View panel and toolbox so that they do not shift when switching screens.

For https://github.com/phetsims/QA/issues/56.

[2017-11-02 18:01] phet-steele commented on #189
QA credits are up to date as of 11/2/2017.

[2017-11-02 18:02] phet-steele commented on #199
Will do after #201.

[2017-11-02 18:24] jonathanolson commented on #197
New probe areas for the light bulb base:
![screen shot 2017-11-02 at 12 23 40 pm](https://user-images.githubusercontent.com/480878/32343329-bd851766-bfc8-11e7-8773-6f3385837fbf.png)

[2017-11-02 19:18] phet-steele opened #202 "Improve probe bounds along the left of the screen"
The probes can be easily lost on the left side of the screen with respect to ?dev bounds, like the black probe below.

<img width="1039" alt="screen shot 2017-11-02 at 1 14 03 pm" src="https://user-images.githubusercontent.com/5863899/32345543-1e15710a-bfd0-11e7-942f-8ef25935cb75.png">

Maybe bound the probes by their center (about where I have the red probe). @arouinfar thinks this distance is fi

[2017-11-02 19:21] jonathanolson commented on #197
Added proper battery terminal handling (using the same shapes):

![screen shot 2017-11-02 at 1 19 58 pm](https://user-images.githubusercontent.com/480878/32345717-a897c88c-bfd0-11e7-8545-e6de2da9ae92.png)
![screen shot 2017-11-02 at 1 19 54 pm](https://user-images.githubusercontent.com/480878/32345718-a8b6522a-bfd0-11e7-994f-b9e56d0f383a.png)

[2017-11-03 03:34] jonathanolson commented on #197
Merged to master. @arouinfar and @phet-steele, can you check the probe behavior to see if it looks good now?

?showDebugAreas may be helpful to visualize the locations.

[2017-11-03 03:36] jonathanolson commented on #200
Merged, closing.

[2017-11-03 03:36] #200 closed

[2017-11-03 03:44] jonathanolson commented on #202
Implemented, @phet-steele can you verify?

[2017-11-03 04:00] jonathanolson commented on #201
Implemented, can you verify?

[2017-11-03 17:56] arouinfar commented on #197
Love it @jonathanolson!

[2017-11-03 18:02] arouinfar commented on #201
Everything's looking great @jonathanolson!

One more nit-picky request, though. It looks like the Bar Graphs panel on the Light Bulb screen has some uneven padding.
![image](https://user-images.githubusercontent.com/8419308/32388882-bef8081c-c08e-11e7-9ae2-92ae401043e5.png)
![image](https://user-images.githubusercontent.com/8419308/32388860-9e505ace-c08e-11e7-8715-5b286e60ff6d.png)

There appears

[2017-11-03 18:09] jonathanolson commented on #201
You are correct, there is a 2-unit difference between the center of the labels and the center of the bars. Investigating.

[2017-11-03 18:11] arouinfar commented on #201
I suppose that's why we call it pixel polishing! 😄

[2017-11-03 18:12] #197 closed

[2017-11-03 18:12] jonathanolson commented on #201
Weird, the fix was removing a deliberately-added offset of 2 in the code. Not sure why it was there.

@arouinfar can you test to see if it looks good, and if there's anything else?

[2017-11-03 18:28] arouinfar commented on #201
Looks great @jonathanolson! I don't have any further requests.

[2017-11-03 20:39] arouinfar commented on #134
Model simplifications have been noted in the teacher tips.

[2017-11-03 20:39] #134 closed

[2017-11-03 21:09] phet-steele commented on #202
Great, thanks @jonathanolson.

[2017-11-03 21:09] #202 closed

[2017-11-03 21:34] phet-steele commented on #201
Asked @jessegreenberg why it was there (he wrote it originally). It was done so that the value text for each bar ('0.00 pC" etc) would be aligned with the checkbox text ("Top Plate Charge" etc). If you look closely now at 1.5.0-dev.2, the value text is slightly above the text for its respective label.

[2017-11-03 21:41] phet-steele commented on #201
1.5.0-dev.1
<img width="443" alt="screen shot 2017-11-03 at 3 36 18 pm" src="https://user-images.githubusercontent.com/5863899/32396957-1c63d0b2-c0ad-11e7-8f66-0aa6942c8f18.png">

1.5.0-dev.2
<img width="425" alt="screen shot 2017-11-03 at 3 36 03 pm" src="https://user-images.githubusercontent.com/5863899/32396956-1c4eb25e-c0ad-11e7-9251-9d885189f300.png">

1.5.0-dev.2 is more correct since baseli

[2017-11-03 21:47] arouinfar commented on #201
Looks like the real issue stems from differences in font size. Let's give the graph title and value the same font size @jonathanolson.

[2017-11-03 22:01] phet-steele commented on #201
@arouinfar here is same font size:

<img width="922" alt="screen shot 2017-11-03 at 4 01 24 pm" src="https://user-images.githubusercontent.com/5863899/32397630-4dcdaa8a-c0b0-11e7-830a-98315c0d7616.png">

[2017-11-03 22:13] kerriedochen opened #203 "Incorrect voltmeter reading across lit light bulb when measuring from bottom of bulb"
Test device: Macbook Pro

Operating System: MacOS 10.12.6

Browser: Firefox 56.0.2

Problem description:
The voltmeter incorrectly reads 0.000V across the light bulb even when it is lit. This only happens when one voltmeter probe is measuring from the "bottom" (or left-most) terminal of the light bulb. Readings are correct when measuring across the wires only, or when measuring across the "top" te

[2017-11-03 22:29] arouinfar commented on #203
Thanks @kerriedochen. Here's another probe configuration which should produce a non-zero reading, but doesn't.

<img width="381" alt="screen shot 2017-11-03 at 4 26 12 pm" src="https://user-images.githubusercontent.com/8419308/32398279-f5f93cd0-c0b3-11e7-8723-8920ee7d5b53.png">

[2017-11-03 22:34] arouinfar opened #204 "View panel has inconsistent max width for i18n"
For https://github.com/phetsims/QA/issues/63.

When using `?stringTest=double` the maximum width of the View panel varies between screens. I prefer the width on the Light Bulb screen.

Capacitance screen:
![image](https://user-images.githubusercontent.com/8419308/32398364-738b9026-c0b4-11e7-853a-d27a3684c9b6.png)

Light Bulb screen:
![image](https://user-images.githubusercontent.com/8419308/323983

[2017-11-03 22:42] phet-steele commented on #201
@jonathanolson please review.

@arouinfar is okay with the new look.

[2017-11-04 00:23] jonathanolson commented on #201
Looks fine.

[2017-11-04 00:23] #201 closed

[2017-11-04 00:32] jonathanolson commented on #203
Ahh sorry, the code only had one bulb base shape, so I didn't think and assumed improving that region would work.

I'll separate them into two shapes.

[2017-11-06 18:35] lmulhall-phet opened #205 "Inconsistent highlighting of moving components"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra Version 10.12.6 (16G29)

**Browser:**

Google Chrome Version 62.0.3202.75 (Official Build) (64-bit)

**Problem description:**

This is for phetsims/QA/issues/63.

## 1) Arrows can be green (unhighlighted) when being moved
As you increase or decrease plate area or separation, the arrow can become green, i.e. un

[2017-11-06 19:19] phet-steele commented on #197
iPad 2 performance is still usable.

[2017-11-06 19:48] arouinfar commented on #205
Great observations @lmulhall-phet! I think the primary purpose of highlighting on hover is to indicate that an element is interactive, not necessarily that the element is being interacted with. I don't think issues (1) and (2) are necessarily problematic, though they can appear a bit odd at times (as your screencaptures demonstrate).

@jonathanolson is it possible/feasible to always keep the arrow

[2017-11-06 20:07] phet-steele opened #206 "Wires are measurable behind the connection nodes"
@jonathanolson that little nub of wire where my red probe is touching is potentially problematic. There is no visible metallic component that probe is touching when I have debug areas off.

<img width="404" alt="screen shot 2017-11-06 at 12 23 35 pm" src="https://user-images.githubusercontent.com/5863899/32459650-965951a2-c2ed-11e7-87bd-5f6c84a9c1e6.png">

Without debug areas it looks like this:
<

[2017-11-06 20:54] jonathanolson commented on #206
Right now, that color is fully opaque. What if it was made transparent (so that it looks like the same color in front of the blue), but shows a bit of the wire through? (I'll see if I can make a quick example)

[2017-11-06 20:58] jonathanolson commented on #206
Tried it, didn't look good, would not recommend.

No strong preference on appearance, prefer the "looks like the middle connection" slightly.

Will wait for @arouinfar's opinion.

[2017-11-06 20:59] arouinfar commented on #206
Thanks for the mockups @phet-steele!

@jonathanolson thanks for testing out the opacity. Since that doesn't work out, let's go with this option (with the red circle layered on top) as it most closely matches the look of the switch arm.

[2017-11-06 21:09] jonathanolson commented on #205
I assumed previously (1) and (2) were sim-specific desired behaviors, as it is definitely not the typical way of doing things. If not desired, I'd definitely prefer to fix it up.

[2017-11-06 21:11] arouinfar commented on #205
Sounds good @jonathanolson! There weren't any design discussions regarding (1) and (2), so an earlier dev may have made that call on their own.

Great catch @lmulhall-phet!

[2017-11-06 22:45] lmulhall-phet opened #207 "Voltmeter can become stuck to cursor"
**Test device:**

1. MacBook Air (13-inch, Early 2015)
2. ASUS Laptop

**Operating System:**

1. macOS Sierra Version 10.12.6 (16G29)
2. Windows 10

**Browser:**

* Google Chrome Version 62.0.3202.75 (Official Build) (64-bit)
* Edge 40.15063.0.0
* Safari Version 11.0.1 (12604.3.5.1.1)
* Firefox 56.0.2 (64-bit)

**Problem description:**

The voltmeter can become stuck to the cursor. This is for phe

[2017-11-06 23:07] EthanWJohnson commented on #207
I'll note that if you right click once its stuck on Windows 10 Edge or Chrome, it will become unstuck and can be manipulated normally. It can't be unstuck without reloading the sim or some complicated process on Mac.

[2017-11-07 07:43] jonathanolson commented on #205
I believe I handled (1) and most of (2).

The slider on the battery will still improperly highlight when a press was started on the switch and/or plate arrows. Fixing this may be outside the scope of this issue (notice that it happens for most sliders in sims, and with most things, e.g. the reset all button).

Can you please check everything (except the battery highlight) and let me know how it lo

[2017-11-07 07:46] jonathanolson commented on #207
This should be fixed in the latest master, can you verify?

[2017-11-07 07:49] jonathanolson commented on #204
Should be done, can you verify?

[2017-11-07 07:56] jonathanolson commented on #203
Should be fixed, can you verify?

[2017-11-07 17:23] phet-steele commented on #205
@jonathanolson looks like you will need to put a tandem in for this, or do something else?

[code]

[2017-11-07 17:33] jonathanolson commented on #205
Sorry, should be fixed! Should I be running instance proxies to catch things like that?

[2017-11-07 19:15] phet-steele commented on #205
You could, but Bayes caught this running the phet-io-fuzz test. It's not being reported anymore, so fixed.

[2017-11-07 19:15] #205 closed

[2017-11-07 23:42] jonathanolson commented on #206
Implemented, @arouinfar can you see if that looks good?

[2017-11-07 23:43] jonathanolson commented on #206
(in call, discussed having the red dashed border behind with the light-blue circle, let me know if I should change it to in front).

[2017-11-07 23:47] arouinfar commented on #206
@jonathanolson looks pretty good. I think there was a slight miscommunication, though. I'd like for the red dashed line to be on top of the wire, like the black dashed line is on top of the switch arm.
![screen shot 2017-11-07 at 4 45 48 pm 2](https://user-images.githubusercontent.com/8419308/32524036-26db534a-c3db-11e7-8f1e-e1ed25e7aacf.png)

[2017-11-07 23:51] jonathanolson commented on #206
Fixed, let me know if it needs anything else.

[2017-11-07 23:54] arouinfar commented on #206
Looks great, thanks!

[2017-11-07 23:54] #206 closed

[2017-11-08 17:55] CWilson4960 opened #208 "Battery off center from wire in StringTest=double"
Test device: Macbook Pro 2012

Operating System: OS Sierra 10.12.6

Browser: Chrome Version 62.0.3202.89 (64-bit)

Problem description: The battery is not aligned along the wire when in stringTest=double. It is pushed slightly to the left in comparison to the sim with no query parameters. This also occurs in rtl

Steps to reproduce:
Go to this link:
https://www.colorado.edu/physics/phet/dev/html/c

[2017-11-08 19:01] CWilson4960 opened #209 "showDebugAreas parameter broken"
Test device: Macbook Pro 2012

Operating System: OS Sierra 10.12.6

Browser: Chrome Version 62.0.3202.89 (64-bit)

Problem description: The query parameter ?showDebugAreas is not working. When the page is loading, the status bar will fill to a point and then stop.
Steps to reproduce:
Go to this link:
https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-rc.1/capacitor-lab-basic

[2017-11-08 19:01] jonathanolson commented on #209
Should be fixed with https://github.com/phetsims/capacitor-lab-basics/commit/1b993236627bc8461b841330bb50ac36dea2734a in master, can you verify?

[2017-11-08 19:07] CWilson4960 commented on #209
Verified. Thank you!

[2017-11-08 19:07] #209 closed

[2017-11-08 19:09] jonathanolson commented on #208
Should be fixed in master, can you verify?

[2017-11-08 19:56] phet-steele commented on #207
Works well in 1.5.0-rc.1.

[2017-11-08 19:56] #207 closed

[2017-11-08 22:42] phet-steele opened #210 "Strings are following bad conventions and using sloppy concatenation"
- [x] screen name string keys should follow the convention of `"screen.{{screenName}}"` eg. `screen.lightBulb`. Currently they are using:
[code]
- [x] should use the new pattern format of:
[code]
instead of
[code]
- [x] units.millimeters needs to not have a space in it for white space - `"value": " mm"`, ewwww!
- [x] since this is a thing...:
[code]
..it's clear that we need to have two string key

[2017-11-08 23:09] phet-steele commented on #189
Up to date as of 11/8/2017

[2017-11-09 17:08] phet-steele opened #211 "Voltmeter should have a reading while in the toolbox"
@arouinfar has noticed that the voltmeter has no value when in its toolbox (it's just a blank white space). For consistency with other sims, it should have the "? V" reading while in the toolbox. @jonathanolson is that easy?

This begs the question though, can the reading of "? V" be replaced with just "?" (at all times, even in the play area)? Not as important, but it would be consistent with CCK

[2017-11-09 17:37] pixelzoom commented on #210
Re the item "should use the new pattern format of ..."

`StringUtils.format` and numbered placeholders are deprecated, not to be used in new (unpublished) sims.  Use `StringUtils.fillIn` with named placeholders.

[2017-11-09 17:55] CWilson4960 commented on #208
Fixed. Thank you!

[2017-11-09 17:55] #208 closed

[2017-11-09 18:58] arouinfar commented on #211
I would prefer the reading to be "?" without the units, for consistency with CCK. In general, tools do not display the units without a reading. We could have a broader discussion of "-" vs. "?" but it seems like the behaviors of these tools (with the exception of Projectile Motion) were inherited from the legacy version.

<img src="https://user-images.githubusercontent.com/8419308/32623553-ca7f54f

[2017-11-09 19:56] phet-steele opened #212 "Switch drag does not end in LoL harness"
Running a screen in the LoL harness, press "Pause in 5 seconds". Start dragging the switch and don't release until after the pause, then click resume. You are still controlling the switch. This is inconsistent with desired LoL behaviour, and is inconsistent with other drag events in this sim (ie dragging the voltmeter is correctly interrupted when paused).

Seen on macOS 10.13.1 Chrome. For phetsi

[2017-11-09 21:18] jonathanolson commented on #210
Should be fixed on master and the release branch. @phet-steele can you confirm?

[2017-11-09 21:34] jonathanolson commented on #211
Implemented, can you verify?

[2017-11-09 21:37] arouinfar commented on #211
Looks great @jonathanolson!

[2017-11-09 21:37] #211 closed

[2017-11-09 21:51] jonathanolson commented on #212
@phet-steele, can you retest in master (with the Scenery/Joist changes I made above) to see if this now behaves as expected?

I'll want to include the Scenery changes in a branch if so (the Joist changes is just removing an unnecessary duplication).

Leave this issue open until branches are handled.

[2017-11-10 18:47] brroberts1231 opened #213 "[iPad] Can drag multiple items at once"

[2017-11-10 18:48] #213 closed

[2017-11-10 19:16] brroberts1231 opened #214 "[iPad] Can drag two items at the same time"
For phetsims/QA#64
Test device: Tycho

Operating System: iOS 9.3.5

Browser: Safari

Problem description: By dragging the switch and then moving your finger without lifting it over another draggable object like the battery slider, the voltmeter, or one of its probes, you will be controlling both at the same time. This only works when you begin by dragging the switch first, not the other way around

[2017-11-10 19:48] phet-steele commented on #199
Done.

[2017-11-10 19:48] #199 closed

[2017-11-11 03:27] jonathanolson commented on #214
Applied a fix to this, can you test?

Don't close, will plan to leave open to create the Scenery branch for this.

[2017-11-13 17:38] brroberts1231 commented on #214
Tested on iPad 2, this is fixed in master

[2017-11-13 17:43] jonathanolson commented on #214
Thanks, will handle the branch in Scenery for this.

[2017-11-13 17:53] jonathanolson commented on #214
Included Scenery patch in release branch. Will leave open to ensure this is fixed for next RC.

[2017-11-13 22:51] phet-steele commented on #212
This looks ready for RC testing, it works much better on master now.

[2017-11-13 22:55] phet-steele commented on #210
Looks nice @jonathanolson, thanks. Only thing left to recommend is to re-alphabetize the file? Up to you.

[2017-11-13 23:15] pixelzoom commented on #210
@phet-steele said:

If you're referring to capacitor-lab-basics-strings_en.json ... PhET currently has no requirement to alphabetize the file. And (in general) the order of fields in JSON is not significant.

[2017-11-14 01:00] #210 closed

[2017-11-14 17:00] phet-steele commented on #212
Working well in rc.

[2017-11-14 17:00] #212 closed

[2017-11-14 17:07] phet-steele commented on #214
Good to go!

[2017-11-14 17:08] #189 closed

[2017-11-15 02:43] jonathanolson commented on #7
Deployed http://phet.colorado.edu/sims/html/capacitor-lab-basics/1.5.0/capacitor-lab-basics_en.html, should be ready for @arouinfar to prepare for full publication.

[2017-11-17 20:28] zepumph opened #215 "PhET-iO should support a Vector3 or Vector2 IOType"
This assertion is coming from https://github.com/phetsims/beers-law-lab/issues/215, where many assertions were added to phet-io stateObject methods. Here it looks like the MovableDragHandlers in CLB are passing in Vector3 positions, but the MovableDragHandler is expecting it to be Vector2.

@samreid I'm worried about a proliferation of these multi-type types if we made `Vector2or3IO`. Whatchya thi

[2017-11-17 21:47] samreid commented on #215
The appropriate solution to this problem is to use Vector3 for this case (and sometimes ignore the z attribute).

[2017-11-17 21:48] samreid commented on #215
@jonathanolson you are listed as the responsible dev, can you please work on this?

[2017-11-17 21:54] jonathanolson commented on #215
Looking into it. Seems like MovableDragHandler should ideally only be handling Vector2s, and CLB should be working around that.

[2017-11-22 00:43] zepumph commented on #215
This is consistently failing for phet-io capacitor lab on bayes (not surprisingly), I just wanted to let people know.

[2017-11-23 16:09] samreid commented on #215
The easiest way to reproduce this is screens=2 then drag the voltmeter across the bottom left wire.

[2017-11-23 16:16] samreid commented on #215
I added a workaround in the preceding commit, the JSDoc says:

[code]

This is clearly noted as a workaround, this is intended to get fuzz testing passing again.  This runs the risk of giving us a false sense of hope, but will prevent any other errors from getting masked by this one.

So I recommend to (a) run this workaround past @zepumph to make sure I've got it right then (b) leave this issue o

[2017-11-27 17:20] zepumph commented on #215
Looks like a good workaround to me.

[2017-11-27 17:27] pixelzoom commented on #215
In https://github.com/phetsims/capacitor-lab-basics/issues/215#issuecomment-345374585, @samreid said:

Absolutely not.  The documentation for MovableDragHandler very clearly indicates that the `locationProperty` is of type `{Property.<Vector2>}`.   CL:B's use of `Vector3` is therefore incorrect and inappropriate.

[2017-11-27 17:32] pixelzoom commented on #215
The workaround is incomplete - it only addresses CLBVector3IO, not the improper use of MovableDragHandler.  If I add this assertion to MovableDragHandler's constructor, it fails:

` assert && assert( locationProperty.value instanceof Vector2 );`

Please address the root problem.

[2017-11-27 18:04] jonathanolson commented on #215
Working on addressing the root problem now.

[2017-11-27 18:31] jonathanolson commented on #215
Should be fixed in master.

Somewhat comically, it wasn't even passing in a ModelViewTransform2 as modelViewTransform! Maybe we should add type checks there?

@zepumph, can you verify?

[2017-11-27 19:14] zepumph commented on #215
Looks good, thanks. Assigning back to you to decide if you want to add type checks for the drag handler.

[2017-11-27 19:28] samreid commented on #215
+1 for type checks

[2017-12-20 16:59] samreid opened #216 "Assertion failed: mismatched messageIndex, possible start/end mismatch"

[2017-12-20 17:31] samreid commented on #216
This appears to be the only problem on bayes at the moment aside from https://github.com/phetsims/phet-io-wrappers/issues/37, so I'll take a look at it next.

[2017-12-20 17:36] samreid commented on #216
You can reproduce this problem by launching http://localhost/capacitor-lab-basics/capacitor-lab-basics_en.html?brand=phet-io&phetioLog=lines&phetioStandalone&ea&screens=1 and clicking on the voltmeter

[2017-12-20 17:44] samreid commented on #216
The upstream error (which is commented out) is `cannot start event while event is in progress`.  It is going through DynamicProperty.onSelfChange:

[code]

I wonder if DynamicProperty requires re-entrant changes?  @jonathanolson can you help?

[2017-12-20 18:15] samreid commented on #216
Proposed fix is above, and fuzzing and linting are working nicely.  @jonathanolson can you please review?

[2017-12-27 19:27] ariel-phet commented on #7
@arouinfar the rest of the tasks are yours.

[2018-01-02 05:23] samreid opened #217 "Can we eliminate CLBVector3IO?"
From https://github.com/phetsims/capacitor-lab-basics/issues/215 is CLBVector3 still necessary?

[2018-01-02 05:50] samreid commented on #217
Instance proxies is fuzzing fine without it, deleting and closing.

[2018-01-02 05:51] samreid commented on #217
Deleted, closing.

[2018-01-02 05:51] #217 closed

[2018-01-04 18:00] samreid opened #218 "Prepare a version with semantic event stream"
At today's status meeting, @kathy-phet said a study is coming up that will require Capacitor Lab: Basics and the semantic event stream.  It is unclear whether we should use the previous version (used in another study) or publish a new version.

I told @kathy-phet that I'm not too familiar with the status of Capacitor Lab Basics, and that it would be helpful to have @jonathanolson's help in develop

[2018-01-04 23:26] samreid opened #219 "Publish with the fixed iframe record wrapper"
For https://github.com/phetsims/phet-io-wrapper-visualizing-engagement/issues/9

This sim will be used with ?screens=2

[2018-01-05 15:12] samreid commented on #219
Published here, to record to a local file, use the instructions in the console:
https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.0-dev.1/phet-io/wrappers/record/record-1024x618.html?screens=2&localFile

[2018-01-05 15:12] #219 closed

[2018-01-08 18:49] samreid commented on #218
On 1/8/18 10:16 AM, Kathy Perkins wrote:

[2018-01-08 18:49] samreid commented on #218
On 1/8/2018 10:29 AM, Sam Reid wrote:

[2018-01-08 18:50] samreid commented on #218
On 1/8/18 10:33 AM, Kathy Perkins wrote:

[2018-01-08 19:25] jonathanolson commented on #218
I'll be available to assist (and even if not necessary, it may be helpful for me to better understand the current approach to instrumentation).

[2018-01-08 22:02] jonathanolson commented on #216
Looks good to me, thanks!

[2018-01-08 22:02] #216 closed

[2018-01-08 22:37] samreid opened #220 "Eliminate `verticalCheckBoxGroup` from tandems"
See #218

[2018-01-08 23:00] samreid commented on #218
@kathy-phet Are Ido and his team aware that the data stream from the current version will not be compatible with the data stream from the previous version? (They would likely need to update/rewrite their parser).

@jonathanolson and I are facing this question as we review the sim instrumentation because we are finding places where we recommend to update a tandem name in the code but are hesitant t

[2018-01-08 23:03] samreid opened #221 "When clicking on the voltmeter, there is no user message preceding the voltmeterVisible property"
See #218

[2018-01-08 23:11] samreid commented on #221
One way to address this would be to add a tandem option to addForwardingListener, then bracket phetioEvents.start/end around the calls.

[2018-01-09 18:14] samreid opened #222 "Issues with plate area and separation drag handles"
While working on #218, I noticed that the grab handles look like this on startup:

![image](https://user-images.githubusercontent.com/679486/34735796-e5dd8de8-f52d-11e7-9075-0186b6560e96.png)

Dragging the vertical arrow up, or dragging the other arrow to the left have no effect, which was confusing to me.

Some possible resolutions include (a) starting the sliders in the middle of the range so mo

[2018-01-09 19:53] ariel-phet commented on #222
@arouinfar, thoughts here? The defaults start at nice round numbers (which seems good). Any insight from interviews?

[2018-01-09 20:25] arouinfar commented on #222
Thanks for your comments @samreid! You raise a really good point. The default values match Java, and were likely chosen because 10 and 100 are nice, round numbers. While I didn't observe any issues with the default values in the interviews, I think starting somewhere in the middle would be better UX.

My initial thought was to start the plates at 5mm separation with an area of 200 mm^2, but I thin

[2018-01-09 20:31] arouinfar commented on #222
Looks like I forgot to reply to this suggestion

Excellent suggestion @samreid. I think graying out the arrow at its min/max would be a helpful visual cue, and consistent with how we handle min/max elsewhere in PhET sims.

[2018-01-09 20:33] samreid commented on #222
Your comments seem reasonable to me, but it will ultimately be @ariel-phet's call.

[2018-01-10 05:08] ariel-phet commented on #222
@samreid @arouinfar I think a default condition where suggested above (midway) seems good to me.

I actually don't think I would go the route of greying out the arrow. In this case the arrows are really drag handles, and I think the fact that you have hit a limit is fairly obvious from the sim, and a further visual cue is not necessary in my opinion. Especially with the new starting condition, you

[2018-01-10 17:31] samreid commented on #222
I changed the capacitor separation and plate width accordingly, @jonathanolson can you please code review?

[2018-01-10 20:08] samreid commented on #221
Here's what that part of the data stream looks like at the moment:

![image](https://user-images.githubusercontent.com/679486/34793009-2b424354-f607-11e7-96f4-88b1d578e633.png)

Would it help to have a toolbox event preceding this?  Should there be other changes to the event stream in this context?  It seems a good question for a PhET-iO design meeting.

[2018-01-10 20:11] samreid commented on #220
Fixed above and tested in console wrapper, closing.

[2018-01-10 20:11] #220 closed

[2018-01-10 21:03] samreid commented on #218
I build a version and checked each wrapper briefly.  Everything seems to be in reasonable shape aside from https://github.com/phetsims/capacitor-lab-basics/issues/221 which doesn't seem to be a blocking issue.

[2018-01-10 21:11] samreid commented on #218
I'm halfway through skimming the tandem and var names.

[2018-01-11 01:47] samreid commented on #218
I passed through all of the cases, updated several and added several TODOs.

[2018-01-11 02:08] samreid commented on #218
One commit is here: https://github.com/phetsims/capacitor-lab-basics/commit/fc356c7a2705cb0f777c22c4f7bea9f791990599

[2018-01-11 17:20] samreid commented on #218
@kathy-phet said it would be good to give an initial version to collaborators by the end of next week.  I mentioned that I'd still like to look through each file, @kathy-phet agreed that is reasonable as long as we make sure it doesn't take too long.

[2018-01-11 18:14] jonathanolson commented on #222
Code changes look good to me.

[2018-01-11 18:52] samreid commented on #222
Thanks @jonathanolson.  I posted a dev version here for review https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.0-dev.2/phet/capacitor-lab-basics_en_phet.html

@arouinfar can you please take a look?

[2018-01-11 20:00] arouinfar commented on #222
@samreid looks good to me!

For the record, I think @ariel-phet made some strong arguments against graying out the arrow, and I agree that the drag handler is a bit different.

[2018-01-11 20:01] samreid commented on #222
Thanks, I think this issue can be closed (please reopen if I misconstrued something).

[2018-01-12 21:14] samreid commented on #218
The state wrapper, data stream and instance proxies seem functional.  Instance proxies seems like far too many things are instrumented, weighing in at 242 instances.  This will hopefully be pruned at the stable PhET-iO design meeting.

I'd like to take another look at the state and console phetioIDs, then this simulation should be ready for @phet-steele.  It's unclear how much testing this sim sho

[2018-01-12 21:43] kathy-phet commented on #218
Yes, let’s do good testing on this and publish  as available. Although not necessarily final instrumentation.

First round of testing should be sanity check. Then more obscure usage.

When you have a good link, can you send it with info on instance proxies to tanja at stanford? CC’d

Thx, and excuse brevity,
K

Sent from my iPhone

On Jan 12, 2018, at 2:18 PM, Sam Reid <notifications@github.com<ma

[2018-01-12 23:26] samreid commented on #215
Type checking every single option in every file seems like a lot of work and we would want a way to standardize and simplify and avoid repeating types.  Let's rely on automated and manual testing to catch this error for now, closing.

[2018-01-12 23:26] #215 closed

[2018-01-12 23:33] samreid commented on #218
Ranges for many number properties are incorrect.

[2018-01-16 23:52] samreid commented on #218
I published a dev version here:

https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.0-dev.3/phet-io/wrappers/index/

I'll create a QA issue for testing.

[2018-01-17 03:44] samreid commented on #218
This is out for testing in the aforementioned issue.  Unassigning for now.

[2018-01-17 21:12] samreid opened #223 "Indicate what the voltmeter probes are touching"
For #218 it was requested we add an event to the data stream that indicates what the voltmeter probes are contacting

I replied:

[2018-01-17 21:30] samreid commented on #223
It seems we should add something like this in Voltmeter.js:

[code]

@jonathanolson it looks like the logic for hit testing is implemented in Voltmeter.computeValue with a fallback to circuit.getVoltageBetween.  I'm hesitant to add checks for each intersection at the beginning of Voltmeter.computeValue because it may have performance implications (correct me if that's wrong).  Do we need to return

[2018-01-18 04:09] samreid commented on #223
One way to proceed would be to have a `getConnection` function for each probe, which returns a CircuitConnection object, which has an identifier (name), voltage relative to ground, and a unique ground identifier.  Then to compare voltages between two Connection instances, you would have this pseudocode:

if (c1.ground===c2.ground){
return c2.value - c1.value;
}
else return null;

This would genera

[2018-01-18 04:11] samreid commented on #223
Also assigning @kathy-phet so she's aware of some of the possibilities, and can comment on whether we can/should tackle it before the study.

[2018-01-18 17:18] jonathanolson commented on #223
computeValue needs to be called a lot (once per frame during changes), so presumably if we are handling the connection status once per frame (computing it, and using it for computing the voltage value) then we should be fine.

I believe there wasn't a need for this in the code, since if the positive probe touches the negative probe then it can ignore where it may be touching the circuit (and every

[2018-01-18 17:22] samreid commented on #223
Should we change the return value from {number} to {negativeProbeContact:{string},voltage:{number},positiveProbeContact:{string}}, then we can use the contact points that are pertinent in the physics calculation?

[2018-01-18 18:06] samreid commented on #223
@jonathanolson and I discussed it and it seems we can retrofit the existing code to include a new "ConnectionPoint" enum rather than rewriting it from scratch.  That may be less risky.

I think it could take 2-4 hours for me to get this to a first draft where I think it is probably working.  @jonathanolson and I can work on this together to reduce risk even further.

[2018-01-19 03:48] samreid commented on #223
@jonathanolson and I got a start on this, and @jonathanolson volunteered to take the lead on this.

[2018-01-22 17:26] jonathanolson commented on #223
@arouinfar and @kathy-phet, how do we want to handle the case where a probe tip can technically overlap over two different wires:
![clb-connection](https://user-images.githubusercontent.com/480878/35234277-ca9f18be-ff5d-11e7-84bc-8de7ee9886e8.PNG)

It would be simpler to say that it overlaps just one thing, and report that. However if that is the case, and I rewrite logic to be based on the "one t

[2018-01-23 17:54] jonathanolson commented on #223
Unassigned myself, as I'll need to know whether the slight sim behavior change (where the probe COULD be overlapping two things, and both are checked now, but it would only think it would be over one in the future) is fine, and/or whether we can report that for phet-io.

[2018-01-23 18:25] samreid commented on #223
The dev test completed successfully in https://github.com/phetsims/QA/issues/85, and hence this is the only issue I'm aware of that would prevent next dev or rc test.  Elevating priority to get feedback from @kathy-phet or @arouinfar before @jonathanolson can proceed.

[2018-01-23 21:57] arouinfar commented on #223
@jonathanolson @samreid I think this is entirely @kathy-phet's call, and not mine.  I'm not that familiar with the client's needs, but  I'll go ahead and throw in my two cents.

![image](https://user-images.githubusercontent.com/8419308/35302783-fc89c168-004c-11e8-9677-cf4a35de7b16.png)
It would be simpler to say that it overlaps just one thing, and report that.

@jonathanolson in my mind, the pro

[2018-01-23 22:20] samreid commented on #221
@phet-steele recommended this for next dev test.

[2018-01-23 22:21] samreid opened #224 "The angle properties do not have the right range for instance proxies"
@phet-steele recommended this for next dev test.

[2018-01-23 22:27] kathy-phet commented on #223
@jonathanolson - It might be easiest to try to zoom to discuss, as I'm not entirely sure I understand your questions.

[2018-01-23 23:47] jonathanolson commented on #223
Zoom would probably be best to discuss, as there are a few semi-similar but different issues that are somewhat hard to describe, and would help way more to be able to screen-share.

What would be a good time (if possible)?

[2018-01-24 21:06] arouinfar opened #225 "Add Top Plate Charge and Stored Energy graphs to Capacitance screen"
@jonathanolson can you update the Bar Graph option on Capacitance so that it is identical to the Bar Graphs option on Light Bulb? The default configuration would be the same on both screens.

![image](https://user-images.githubusercontent.com/8419308/35356483-c8a315cc-010d-11e8-93a0-39d0576f2c7b.png)

In pilot interviews Tanja observed that students find the light bulb very engaging and spend a lo

[2018-01-24 22:04] jonathanolson commented on #223
Implemented the "probes are only touching one thing" full strategy (including for voltage computation), using priority so that if a probe is technically over multiple things, it will use the "more obvious" component (e.g. the capacitor top plate has precedence over its adjacent wire).

@samreid, can you check briefly over my changes, and make sure the phet-io events and behavior looks fine?

I'd a

[2018-01-24 22:31] jonathanolson commented on #225
Should be implemented. Can you check master?

[2018-01-24 23:02] arouinfar commented on #225
Looks great, thanks @jonathanolson! Can you push a new dev version for Tanja?

[2018-01-25 03:00] samreid opened #226 "Assertion failed: cannot end an event that hasn't started on phetioEmitHighFrequencyEvents=false"
While testing #223 I noticed that http://localhost/capacitor-lab-basics/capacitor-lab-basics_en.html?brand=phet-io&phetioLog=lines&phetioStandalone&ea&phetioEmitHighFrequencyEvents=false produced Assertion failed: cannot end an event that hasn't started

[2018-01-25 17:20] jonathanolson commented on #225
Available here: https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.7.0-dev.1/phet/capacitor-lab-basics_en_phet.html

[2018-01-25 18:21] arouinfar commented on #225
@jonathanolson I just realized the checkbox on the Capacitance screen still reads "Bar Graph", but it should be made plural.

[2018-01-25 20:52] samreid commented on #223
I noticed that `this.positiveProbeTargetProperty` and `this.negativeProbeTargetProperty` are marked as `@public` but they are not used outside of Voltmeter.js.  Consider changing them to locally scoped vars and passing them through as arguments to `computeValue`

[2018-01-25 20:54] samreid commented on #223
This code appears twice:

[code]

[2018-01-25 21:00] samreid commented on #223
The rest of the cursory code review looks great, and the data stream looks great, nice work!  Leaving assigned to @jonathanolson about the preceding two comments.

[2018-01-25 22:50] samreid commented on #224
I tried setting ranges like so:

[code]

But when I move one of the handles, I get an out of bounds error:

invalid value: -2.335952466254978

I had computed the max as `-2.356194490192345` so not sure why this is going out of range.  @jonathanolson can you help?

[2018-01-26 00:34] samreid commented on #224
Even when I set the ranges to be -Math.PI*2 to Math.PI*2, we still go out of range:

Assertion failed: invalid value: -6.28318530717959

[2018-01-26 00:42] samreid commented on #221
Fixed, at least good enough until we have our PhET-iO design.

[2018-01-26 14:47] samreid commented on #221
Reopened for testing.

[2018-01-26 14:51] samreid commented on #225
Not sure if I picked up these changes for the RC, @jonathanolson can you take a look?

https://github.com/phetsims/QA/issues/86

[2018-01-26 14:52] samreid commented on #218
Out for testing in https://github.com/phetsims/QA/issues/86

[2018-01-26 16:15] kathy-phet commented on #225
@samreid - We changed our mind re which screen to use since students were getting too distracted by the lightbulb. So we will use screens=1, instead, with this addition.

[2018-01-26 16:44] samreid commented on #225
As far as I can tell, it looks like this fix made it into 1.6.1 aside from the string pluralization.

[2018-01-26 16:49] jonathanolson commented on #225
Just checked, this is in 1.6.1.

[2018-01-26 16:50] jonathanolson commented on #225
Will do, I'll need to coordinate with @samreid for publishing.

[2018-01-29 14:45] kathy-phet opened #227 "Change battery slider to have snap-to behavior at 0.05 jumps?"
@arouinfar - Comparison of doubling/halving is challenging with the voltage slider right now because it does not "snap to" nice values. What do you think of making them 0.05 jumps reproducible? Currently jumps seem to be around 0.03, so you would have close to as much flexibility in exact numbers.

Note that voltage readout would need to stay 3 decimal places because changing area and separation c

[2018-01-29 14:47] kathy-phet commented on #227
@jonathanolson - How invasive would the proposed change be? (It would be great for the study if Amy agrees and it is small enough that it can happen today and republish).

[2018-01-29 16:53] arouinfar commented on #227
@kathy-phet I think 0.05 V jumps would be great, but I we'll still need to keep the `BATTERY_VOLTAGE_SNAP_TO_ZERO_THRESHOLD` at 0.150 V due to the behavior at small voltages (see #138).

[2018-01-29 17:33] kathy-phet commented on #227
OK - makes sense. I will touch base with JO.

[2018-01-29 18:20] phet-steele opened #228 "Current arrows showing on both sides of the circuit"
Using 1.6.2 phet-io

1. Lightbulb screen.
2. Charge the plate, then connect to the light bulb.
3. As the plate is discharging (while current arrows are visible), press Reset All.
4. Note the arrows don't disappear right away. But more importantly, charging the plate now shows current arrows on the light bulb circuit even when disconnected.

<img width="903" alt="screen shot 2018-01-29 at 11 18 29

[2018-01-29 18:27] jonathanolson commented on #228
Both issues confirmed.

The arrows not disappearing right away seems on purpose (based on the code, and this code comment):

[2018-01-29 19:34] phet-steele opened #229 "Probe targets don't update on Reset All when invisible"
@samreid @kathy-phet I'm not sure how we want this to behave, so I'm posing this as a question.

Here is the usual scenario:

1. The user places a probe somewhere and the event stream reports a probe target.
2. The user presses Reset All. Three things happen in the event stream:
- The voltmeter is made invisible (i.e. it's "in" the toolbox).
- The probe locations update to be default.
- The probe

[2018-01-29 19:47] phet-steele commented on #221
Looks okay in https://phet-io.colorado.edu/sims/capacitor-lab-basics/1.6.4/capacitor-lab-basics_all_phet-io.html?production&phetioStandalone&phetioLog=lines.

Maybe I'll keep this open until then?

[2018-01-29 19:53] kathy-phet commented on #229
What is the behavior if the user places the voltmeter into the toolbox. Do the probe targets ever update? E.g. would a researcher know that the votmeter is not actually out?

[2018-01-29 19:54] phet-steele commented on #229
Yes there is a `voltmeterVisibleProperty` that changes to false when placed into the toolbox.

[2018-01-29 20:00] phet-steele commented on #228
@jonathanolson looks like this new problem from your commit is ONLY in the Lightbulb screen:

Charge the plates and BEFORE the current arrows disappear, quickly disconnect then reconnect the plates from the battery. If done correctly, the current arrows will stick around and not fade away.

[2018-01-29 20:03] phet-steele commented on #227
This is working in 1.6.4 phet-io. Will keep open to spot check in phet brand

[2018-01-29 20:47] samreid commented on #229
Here's the code that looks like it is updating the probe targets only when they are visible.

[code]

@jonathanolson can you look into this?

[2018-01-29 20:49] samreid commented on #229
Resetting the probeTargetProperties on reset all may be the correct fix.

[2018-01-29 21:13] phet-steele commented on #223
@jonathanolson @samreid this is looking great in 1.6.4 phet-io after testing it for 3 hours, will leave open for phet brand testing, or in case a bug finally reveals itself.

[2018-01-29 21:13] jonathanolson commented on #229
Resetting on reset-all. Can you verify?

[2018-01-29 21:19] phet-steele commented on #229
Verified in master.

[2018-01-29 21:27] jonathanolson commented on #229
Cherry-picked to 1.6 branch.

[2018-01-30 21:59] EthanWJohnson opened #230 "Firefox/Edge Performance Issues"
Capacitor lab seems to have some performance issues on Firefox and Edge--while fairly minor and unnoticeable usually (hovering around 30 FPS while manipulating the capacitor), if you enable electric fields the FPS and responsiveness of the sim drops significantly while manipulating the capacitor size. Chrome is not affected as badly by the performance issues but I do notice some slowdown with elec

[2018-01-30 22:27] BryceAG opened #231 "Voltmeter probes read over invisible objects in instance proxies"
In instance proxies objects can be made invisible, which generally means non-interactive. However, the voltmeter will still read over objects as though they were still there. The image below shows this with the capacitor set to invisible:
![image](https://user-images.githubusercontent.com/15327201/35594706-599b64ae-05d1-11e8-973b-bbc47d68d74b.png)
(ignore the black background and white text nodes

[2018-01-30 22:32] BryceAG commented on #231
additionally the voltmeter can be put away even if the toolbox is not visible

[2018-01-30 23:41] phet-steele commented on #228
Fixed.

[2018-01-30 23:41] #228 closed

[2018-02-13 22:56] phet-steele commented on #229
This passed testing in https://github.com/phetsims/QA/issues/86.

[2018-02-13 22:56] #229 closed

[2018-02-14 18:30] DianaTavares opened #232 "some labels move and change quality when the voltmeter or peaks move over labels."
Test device: MacBook Air

Operating System: macOS High Sierra version 10.13.2

Browser: Chrome Version 64.0.3282.167

Problem description:  when the voltmeter or the peaks move over the labels, some of them move and they change to less quality font.

Steps to reproduce:
1) Open the sim
2) select Capacitance view
3) take out the voltmeter of it box
4) drag the voltmeter and move it over the control

[2018-02-14 18:36] phet-steele commented on #230
In https://github.com/phetsims/QA/issues/94#issuecomment-365696448, @ariel-phet said,

[2018-02-14 18:51] phet-steele commented on #230
I'm testing with https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.6-rc.1/phet/capacitor-lab-basics_all_phet.html?rootRenderer=svg and personally see no performance improvement.

[2018-02-14 18:57] DianaTavares commented on #232
Probably part of the same problem,

Description: in the "Light Bulb" view, when the capacitor is discharging connected to the bulb, the label "Stored Energy" shakes.

Steps to reproduce:
1) Open the sim in the "Light Bulb" view
2) move the voltage in the battery to 1.5 V
3) Change the plate separation to the minimum value, and the plate area to the maximum
3) connect the capacitor to the bulb
4) p

[2018-02-14 19:27] DianaTavares commented on #227
Working well when testing with [https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.6-rc.1/phet/capacitor-lab-basics_all_phet.html], closing

[2018-02-14 23:01] phet-steele commented on #230
@ariel-phet if you can improve the performance, please comment on your setup.

[2018-02-15 19:49] phet-steele commented on #225
This is all working.

[2018-02-15 19:56] phet-steele commented on #223
Probes are working well. @jonathanolson please see https://github.com/phetsims/capacitor-lab-basics/issues/223#issuecomment-360596757 and https://github.com/phetsims/capacitor-lab-basics/issues/223#issuecomment-360597402

[2018-02-15 20:24] phet-steele commented on #232
@jonathanolson @DianaTavares I also cannot reproduce with the same OS + browser setup. My guess is this is a hardware issue? @jonathanolson what would you like to do with this issue?

[2018-02-15 22:06] jonathanolson commented on #232
I'm curious why it's happening. May be related to the pixel ratio of the display (so testing on similar hardware, if available may be nice, but not sure if it's worth the time). Additionally, I'd want to verify that the browser has a default zoom (100%), and I'd be curious about any plugins or non-default settings that may be causing this.

@ariel-phet, presumably up to you what priority this woul

[2018-02-15 22:10] jonathanolson commented on #223
I addressed both comments (it is technically not a duplicate check, and both are there for a purpose, but documented now). Does this look good @samreid?

[2018-02-15 23:04] oliver-phet opened #233 "User suggestion: conventional current direction"

[2018-02-16 02:03] ariel-phet commented on #232
Check with @DianaTavares - only happening on Chrome, and verified browser set to default zoom.

Since this appears to be hardware specific and it is aesthetically displeasing (but not egregious). Also this will cause no pedagogical issues. marking as "won't fix"

[2018-02-16 21:12] EthanWJohnson commented on #230
I looked at edge and firefox with the svg renderer; no performance improvement their either.

[2018-02-16 22:22] EthanWJohnson commented on #230
Interesting; i'm not seeing the same performance problems on Windows 8 or Windows 7 Firefox and Internet Explorer at all, which means the performance hit from the above situation is limited to Windows 10 and MacOS. Unsure of why that is the case.

[2018-02-18 02:02] samreid commented on #223
It looks great, thanks!  Closing.

[2018-02-18 02:02] #223 closed

[2018-02-22 01:08] ariel-phet commented on #230
@phet-steele I am currently playing with the sim on my laptop (Win 10 Edge). I have only seen the performance issue once (not switching render, just using the rc link as is). I have not yet been able to repeat what is causing the performance issue. When working well performance is perfectly acceptable in the situation of max plate charge and electric field on.

I am going to continue playing, but

[2018-02-22 01:30] ariel-phet commented on #230
@jonathanolson to reproduce:

First get into the "max charge condition" (full voltage, max plate area, minimum separation) and turn on the electric field
![max charge](https://user-images.githubusercontent.com/4051174/36514926-496e667a-1734-11e8-8a3d-0ff16d87f51c.PNG)

Then disconnect so the capacitor is isolated. Changing the plate separation on Win 10 Edge is pretty bad performance, and changing

[2018-02-22 01:33] ariel-phet commented on #230
@jonathanolson please note that the published version has these exact same issues, so no new performance issue was introduced. However, since we are likely going to be publishing a Win 10 app, we should try to understand where this performance issue is coming from. Fix it if possible, and/or report to MS.

[2018-02-26 03:17] samreid commented on #226
Fixed, closing.

[2018-02-26 03:17] #226 closed

[2018-03-19 19:58] ariel-phet opened #234 "User suggestion: timer and play pause"
A twitter user suggested this sim would be nice for students taking data regarding an RC circuit if the sim had a Play/Pause button on the Light Bulb screen.

The also suggested adding a timer.

It seems the play/pause/step buttons are a no-brainer and easy to add. Somewhat surprised we did not have this on the Light Bulb screen already. (Certainly no need on the first screen so no action is dynam

[2018-03-20 22:07] jonathanolson commented on #234
Yes, this should be pretty easy to add.

[2018-03-21 17:06] arouinfar commented on #234
@ariel-phet I think playback controls and a stopwatch would be useful additions.

Here's a mockup showing the proposed changes @jonathanolson.
![image](https://user-images.githubusercontent.com/8419308/37724951-7bce03b8-2cf7-11e8-8a5e-a0d72fb07c0f.png)

I'm slightly concerned with the contrast between the sim background and the standard pause color. Since I used screenshots, the colors may be off

[2018-03-22 18:55] ariel-phet commented on #234
@jonathanolson can you give me an estimated number of hours to do this work and do a release? (I think we would do a full RC just to get the sim on chipper 2.0).

I won't necessarily have you do the work, but if it is in the 1-2 hour range I might consider having you do it.

[2018-03-23 16:30] jonathanolson commented on #234
It would definitely be in that range (only qualification is if the slow-motion is tricky to implement).

[2018-03-24 20:14] ariel-phet commented on #234
@jonathanolson since in that range, let's plan to do in early April.

[2018-03-26 23:53] arouinfar opened #235 "Create Sim Primer"
Marking as on-hold until the following primers are published:

- [ ] https://github.com/phetsims/circuit-construction-kit-dc/issues/167
- [ ] https://github.com/phetsims/circuit-construction-kit-dc-virtual-lab/issues/10
- [ ] https://github.com/phetsims/pendulum-lab/issues/191

[2018-03-26 23:55] #7 closed

[2018-03-27 02:21] ariel-phet commented on #234
@jonathanolson changing my mind on timing...let's do this once Area Model is published. Assigning to myself to hand back to you once that is done.

[2018-03-28 18:42] arouinfar commented on #233
I would be in favor of this change, as it would add a bit more flexibility to the sim, but doesn't seem overly complicated. We could add a radio group for electrons/conventional underneath the current direction checkbox, similar to our approach in CCK.

![image](https://user-images.githubusercontent.com/8419308/38048974-29c91d2c-3284-11e8-8568-95bb918d5f18.png)

Here's a comparison of the electron

[2018-04-12 16:48] jonathanolson commented on #234
This is somewhat tangential, but wave-on-a-string has the visual order swapped:

![woas-slow](https://user-images.githubusercontent.com/480878/38691755-fc0a1172-3e3e-11e8-9d4f-4b2c4443c378.PNG)

Whereas other sims have the Normal/Slow. Should WOAS be fixed up to match the others?

[2018-04-12 16:56] jonathanolson commented on #234
Also, the desired behavior looks exactly like what TimeControlHBox.js (masses-and-springs) is doing. @Denz1994, mind if I generalize it and move the strings to common code? (I'll probably want to add settings for the properties, may convert the normal/slow to a boolean property, and would add other options).

[2018-04-12 17:02] Denz1994 commented on #234
Sounds like this is worth the refactor into common code. Let me know if I can help at all with this.

[2018-04-19 16:34] phet-steele commented on #234
Current arrows still fade when the sim is paused. Is this correct @arouinfar?

[2018-04-19 16:50] phet-steele commented on #214
This is occurring again in https://bayes.colorado.edu/dev/html/capacitor-lab-basics/1.7.0-dev.4/phet/capacitor-lab-basics_en_phet.html. This version was recently built off master, so something reintroduced this.

It's somewhat different than the original steps:

- Start by dragging the thumb on the voltage slider.
- Drag your finger over to a plate separation handle and you will grab that also.

[2018-04-19 16:55] jonathanolson commented on #214
Assigning for the dev meeting, as I've added an option to SimpleDragHandler to support handling this, but there are some considerations I'd like to discuss during the meeting.

[2018-04-26 17:14] pixelzoom commented on #214
This option should be used with SimpleDragHandler in sims that use both SimpleDragHandler and DragListener, so that they play nice together.

[2018-05-01 23:03] zepumph opened #236 "Publish new phet-io version"
This is to support @DianaTavares and the interaction dashboard. The _all html should have the "es" locale in it for use in mexico, then we can add the `?locale` query parameter to in the record wrapper.

[2018-05-01 23:49] zepumph commented on #236
@DianaTavares says that she will want to use this new version with students starting May 11th.

[2018-05-01 23:56] zepumph commented on #236
I added the following commits into the branch to support metacog 3.5:
https://github.com/phetsims/phet-io-wrappers/commit/c9aecb631016c3d1ed993e6a0591582e60f7f2a4
https://github.com/phetsims/phet-io-wrappers/commit/25c686ab865bd2e7b154bc2116d399e8865d5215

[2018-05-02 00:17] zepumph commented on #236
Tested two sessions locally (before deploying to production) with the following:
http://localhost/capacitor-lab-basics/build/phet-io/wrappers/login/login.html?wrapper=record&publisher_id=5d4c8ae1&key_name=key1&validationRule=validateDigits&numberOfDigits=8&metacog&widget_id=interaction-dashboard-test-5-1-18&locale=es

Only the second had the locale parameter.

So far there are no sessions matching

[2018-05-02 00:39] zepumph commented on #236
The new link is published, it even supports locale (which I think has been in place since chipper 2.0), but this is the first time phet-io has used it. See https://phet-io.colorado.edu/sims/capacitor-lab-basics/1.6.6/wrappers/instance-proxies/instance-proxies.html?link&locale=es
We will have no trouble adding that to the login/record wrapper for @DianaTavares study coming up.

As for the metacog r

[2018-05-02 16:16] zepumph commented on #236
http://localhost/phet-io-wrappers/login/login.html?sim=capacitor-lab-basics&ea&wrapper=record&publisher_id=5d4c8ae1&key_name=key1&validationRule=validateDigits&numberOfDigits=8&metacog&widget_id=interaction-dashboard-test-5-1-18.2

I just tried off of master with the above link.

[2018-05-02 23:29] zepumph commented on #236
Even after emailing with Marcus today and him giving us the clear to try again, I still get a 204 no content. I emailed him back.

[2018-05-03 20:53] zepumph commented on #236
I got the above sessions back, and all looks good.

I recorded 2 more sessions (the second one with `?locale=es` ) with this link:

http://localhost/phet-io-wrappers/login/login.html?sim=capacitor-lab-basics&ea&wrapper=record&publisher_id=5d4c8ae1&key_name=key1&validationRule=validateDigits&numberOfDigits=8&metacog&widget_id=interaction-dashboard-test-5-1-18_5.2&locale=es

Will request soon.

[2018-05-03 21:09] zepumph commented on #236
interaction-dashboard-test-5-1-18_5.2 just requested: "20372a17-f748-4d75-9921-3580a054a120"

[2018-05-03 22:14] zepumph commented on #236
The new metacog library has confirmed to be working. I will now do a maintenance release with the above commit in place updating to 3.5.2.

[2018-05-04 18:50] zepumph commented on #236
This isn't a final link, but it is something close to what we will be working with:

We still need to:
* fill in the widget id
* update the learner_token service to accept the new keyname with `q2`

I made a test recording while deploying to http://localhost/capacitor-lab-basics/build/phet-io/wrappers/login/login.html?screens=1&wrapper=record&validationRule=validateDigits&numberOfDigits=9&encrypti

[2018-05-09 19:50] zepumph commented on #236
This has been accomplished, and links have been delivered to @DianaTavares  like the previous study.
[code]

@DianaTavares and I want to use these three widget ids:

* capacitor-lab-basics-study-explore_es-task-0511
* capacitor-lab-basics-study-guided_es-task-0511
* capacitor-lab-basics-study-numeric_es-task-0511

I have tested the metacog recording with this version a lot, but @DianaTavares and I

[2018-05-09 19:50] #236 closed

[2018-05-09 20:58] zepumph commented on #236
request ID for DT: "6cd7a30a-60bf-448b-9cb5-cbe73c23577a"

[2018-05-17 00:09] jonathanolson commented on #214
I'll need to do additional testing to figure out the most common case for this, and will hopefully figure it out while looking into DragListener improvement.

[2018-05-17 18:37] samreid commented on #214
We decided we'll remove this from dev meeting, @jonathanolson will work on it and will raise it again if he runs into questions.

[2018-06-08 23:32] arouinfar commented on #234
Yikes, looks like I let this issue get a little stale...

@jonathanolson I was wondering if you had included the timer in your original estimate in https://github.com/phetsims/capacitor-lab-basics/issues/234#issuecomment-375723589?

@jonathanolson I think we'll want to keep the "instantly, but delayed until things play/step" behavior. The play/pause/step controls will most likely be used to set up

[2018-06-08 23:33] arouinfar opened #237 "Publish Maintenance Release"
There have been several design tweaks to CLB, so it would be good to publish a maintenance release when time allows.

* Added Top Plate Charge and Stored Energy graphs to Capacitance screen - #225
* Made battery slider snappy - #227
* Changed default configuration of capacitor - #222

As a side note, should these issues be reopened and tagged with `status:fixed-awaiting-deploy`? There are likely o

[2018-06-08 23:35] arouinfar commented on #235
Given the pending design changes for redeploy #237, this primer remains on-hold.

[2018-06-11 17:59] ariel-phet commented on #237
@arouinfar let me talk with DB about some of these changes. I think he may be in a good position to complete them.

Buy yes, those issues would be good to reopen and tag with `status:fixed-awaiting-deploy`

I would actually think it would be good to do a full RC, since that would put the sim on chipper 2.0 and pick up several other fixes.

[2018-06-11 18:01] arouinfar commented on #225
Reopening with `status:fixed-awaiting-deploy` for #237.

[2018-06-11 18:01] arouinfar commented on #227
Reopening with `status:fixed-awaiting-deploy` for #237.

[2018-06-11 18:02] arouinfar commented on #222
Reopening with `status:fixed-awaiting-deploy` for #237.

[2018-06-11 18:04] arouinfar commented on #237
Sounds good @ariel-phet. I've reopened the relevant design issues, but there are likely other issues that should also be reopened with `status:fixed-awaiting-deploy`.

[2018-06-11 18:19] samreid commented on #222
Reassigned to responsible-dev @jonathanolson (let me know if this is incorrect).

[2018-06-11 18:22] arouinfar commented on #222
Sorry about that @samreid. I wasn't paying attention to the assignee when reopening.

[2018-06-11 18:27] ariel-phet commented on #233
@Denz1994 is going to start working on this issue, and will consult @arouinfar as needed

[2018-06-11 18:30] ariel-phet commented on #234
@Denz1994 is going to start working on this issue, and will consult @arouinfar as needed

[2018-06-11 22:38] JRomero0613 opened #238 "[1.6.7-rc.1/phetio] Wrappers do not work"
Test device: PC Laptop

OS: Windows 10 OS v. 1803

Browser: Google Chrome v. 67.0.3396.79

Problem description: For https://github.com/phetsims/QA/issues/128 when attempting to use various wrappers with CLB v. 1.6.7-phetio (found in https://github.com/phetsims/phet-io/issues/1329#issue-329557833) certain wrappers do not work even when using the &relativeSimPath and &launchLocalVersion query parame

[2018-06-12 21:06] lmulhall-phet commented on #238
Events: recording works. Need to add the `&console` query parameter as well as `&relativeSimPath`.

[2018-06-12 21:09] lmulhall-phet commented on #238
I'm not seeing the above issue in master.

[2018-06-12 22:07] zepumph commented on #238
It looks like this version of the index wrapper is filling in links with the phet-io website. Not sure why, but I see that the standalone and instance proxies links work, have you tested those alright? Here is what I'm seeing from the original task.

1.6 (RC, chipper 2.0 BUT not a shared branch with phet brand)
  [Standalone](https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.6.7-rc.1/phet-

[2018-06-15 15:55] JRomero0613 commented on #238
@zepumph I have tested all of the links you provided in your last comment and they all work. I have also tested the wrappers that did not work (standalone, events: colorized, events: JSON, and events: recording) in master and they all work as well. If you have links for those wrappers I can them test for you.

[2018-06-15 16:36] zepumph commented on #238
I'm not sure all of these are necessary, but here you go.

- [ ] active: https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.6.7-rc.1/phet-io/wrappers/active/active.html?relativeSimPath
- [ ] screenshot: https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.6.7-rc.1/phet-io/wrappers/screenshot/screenshot.html?relativeSimPath
- [ ] recording: https://phet-dev.colorado.edu/html/capacitor-l

[2018-06-15 17:59] JRomero0613 commented on #238
@zepumph I just tested all of the links you gave me and they all work. It must be an issue with the index wrapper as you suggested earlier.

[2018-06-28 18:38] zepumph commented on #238
We will not be fixing this on the branch, and it is fixed in master, closing

[2018-06-28 18:38] #238 closed

[2018-07-16 15:14] samreid opened #239 "Report possible values of ProbeTarget over the PhET-iO API"
See https://github.com/phetsims/phet-io/issues/1108#issuecomment-376242698

See https://github.com/phetsims/phet-io/issues/1108#issuecomment-376243458 and the following two comments for one way to implement this.

[2018-07-24 18:59] Denz1994 commented on #234
@arouinfar Can you review the current version of CLB on master for feedback? I added the timerNode and the panel around the play controls. Seems like a good checkpoint for review.

[2018-07-24 21:22] arouinfar commented on #233
@Denz1994 I realize the current direction isn't ready for review, but while  reviewing #234, I noticed that the current direction is broken. The top and bottom arrow both point in the same direction, rather than completing the circuit.

master (top arrow correct):
<img width="679" alt="screen shot 2018-07-24 at 2 50 05 pm" src="https://user-images.githubusercontent.com/8419308/43165681-c4edda7a-8f

[2018-07-25 16:41] Denz1994 commented on #233
Thanks for the catch @arouinfar. Commit https://github.com/phetsims/capacitor-lab-basics/commit/85dbf1293ba206068ac5a051c074ab4e86647514 should have corrected the same-sided orientation you mentioned [above](https://github.com/phetsims/capacitor-lab-basics/issues/233#issuecomment-407556485).

 Can you review the current status of master to assure the behavior is correct with the radio button selec

[2018-07-25 17:24] arouinfar commented on #233
@Denz1994 the behavior is now for correct for both current direction options.

No, it should be on both screens. Thanks for checking!

[2018-07-25 17:36] arouinfar commented on #233
@Denz1994, while I'm reviewing things, here are some pixel polishing suggestions. I realize these may be things you simply haven't gotten to yet, but I just want to make sure we're on the same page.

- [ ] Conventional current arrow should have a + in the middle
- [ ] Electrons/Conventional radio group should be left-aligned with "Current Direction".
- [ ] The panel width (and the toolbox on Light

[2018-07-25 18:32] arouinfar commented on #234
@Denz1994 the toolbox layout and i18n of the playback panel look good! The step size of 0.2 s also looks reasonable. The timerNode is responsive to play/pause/step, but it should also be responsive to normal/slow. Since the charges/halo appear instantaneously when paused, the current arrow should also appear (but not fade) while paused.

I'm still on the fence about putting the playback controls i

[2018-07-30 18:08] ariel-phet commented on #234
@arouinfar in this case (given the sim background) I think a panel makes sense.

A few possible options:

1. Tweak the background color on this screen

2. If keeping the background color, lighten the visual appearance of the panel with the play/pause/slow motion controls. I think this could be accomplished with a more transparent panel and perhaps removing the stroke on the panel.

[2018-08-01 15:52] KatieWoe opened #240 "Cannot read property 'toStateObject' of undefined"
CT issue
[code]

[2018-08-01 16:10] zepumph opened #241 "Current state of PhET-iO in this simulation"
@Denz1994 there have been a few phet-io bugs that I've noticed while work has continued for this repo. This is totally reasonable, as there probably hasn't been an expectation for you to be working on the phet-io as you go. I'm wondering if we are keeping up on PhET-iO for this repo, or if we will catch up with it later. If it is the latter, then we may want to remove this sim from phet-io testing

[2018-08-01 17:34] samreid commented on #241
Everything mentioned above sounds great!

[2018-08-01 18:31] arouinfar commented on #234
Thanks @ariel-phet!

I tried several different background colors, and it's tricky to find a non-blue color that contrasts well against the halo. I settled for the CCK background color `rgb(153, 193, 255)`. This blue isn't quite as close to the play/pause color and it had good contrast with the halo.

To lighten up the panel, I got rid of the stroke, and changed the background color to white with 6

[2018-08-01 21:32] zepumph commented on #241
I agree with @samreid.

@Denz1994 please use the following links (but for your local server) to tests changes for phet-io:
* http://localhost/phet-io-wrappers/phet-io-wrappers-tests.html?ea&sim=capacitor-lab-basics
* http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4&brand=phet-io&fuzzMouse&phetioStandalone&testSims=capacitor-lab-basics

and

[2018-08-02 15:41] Denz1994 commented on #241
Thanks for the clarification. Closing this issue.

[2018-08-21 15:54] pixelzoom commented on #240
As of 8/21/18, this error is still occurring in CT.

[2018-08-21 17:13] zepumph commented on #240
I think this is a general phet-io issue, but assigning to @Denz1994 also because he is developing actively in the repo.

[2018-08-24 00:32] pixelzoom opened #242 "CT error: Assertion failed: Value type passed to Property must be specified."
The first occurrence I see of this is 8/22/18 9:04:58am.

capacitor-lab-basics : phet-io-fuzz : require.js : load
Uncaught Error: Assertion failed: Value type passed to Property must be specified. Tandem.phetioID: capacitorLabBasics.capacitanceScreen.model.arrowColorProperty
Error: Assertion failed: Value type passed to Property must be specified. Tandem.phetioID: capacitorLabBasics.capacitanceScr

[2018-08-29 14:31] KatieWoe commented on #242
As of 8-29 the error seems to be:
[code]

[2018-08-29 19:19] samreid commented on #241
@KatieWoe pointed out that Bayes CT is still failing.  I addressed one issue today, but there are downstream issues.

[2018-09-06 01:06] jonathanolson commented on #242
It looks like CLB is now relying on TimerNode (common code) after some recent feature changes.

@samreid or @zepumph, could we work together sometime to instrument it? (Presumably this will fix the problems?)

[2018-09-10 15:14] KatieWoe commented on #242
New type of error in addition to above:
[code]

[2018-09-10 22:54] samreid commented on #242
Proposed fixes above, fuzzing is going OK on my side after 120+ seconds.  Closing.

[2018-09-10 22:54] #242 closed

[2018-09-11 18:31] samreid commented on #241
Some CT issues have been addressed, another issue noted in https://github.com/phetsims/scenery/issues/858, we can reopen this issue or another issue if there are still problems after https://github.com/phetsims/scenery/issues/858 has been addressed.

[2018-09-11 18:31] #241 closed

[2018-09-12 18:45] Denz1994 commented on #234
I've implemented the above changes to CLB. Could you please review in master @arouinfar? Also, could you review the state of the current arrow when paused?

[2018-09-12 22:33] Denz1994 commented on #234
Also, could you check the behavior of the arrows when fading in response to the playback controls?

Last point: Some logic was added to fade the arrows when manually stepping through the sim. So if you discharge the capacitor via the light bulb and pause the sim (before the light bulb dims), you should be able to step through the light bulb dimming and see the current arrows fade shortly after in

[2018-09-12 23:37] KatieWoe opened #243 "CT: Failure to lint everything and Failure to grunt"
[code]
and
[code]

[2018-09-13 00:04] #243 closed

[2018-09-17 15:08] samreid opened #244 "Test TimerNode to make sure it still works properly in Capacitor Lab: Basics"
From https://github.com/phetsims/scenery-phet/issues/372#issuecomment-421099482 and also related to #234.  The TimerNode has recently been updated to support units, and will require testing to make sure it still works properly in Capacitor Lab: Basics.

Also assigning @Denz1994 since I saw he had been working in #234

[2018-09-18 11:56] Denz1994 commented on #233
@arouinfar Please review master for the above changes, especially the behavior for switching current direction. Thanks.

[2018-09-18 22:32] arouinfar opened #245 "Update Teacher Tips"
When this sim is redeployed (see #237) the Teacher Tips will also need to be updated.

[2018-09-19 17:20] arouinfar commented on #233
@Denz1994 everything's looking good!

[2018-09-19 18:53] arouinfar opened #246 "Inconsistent Screen Icons"
The screen icons now have different background colors.
![image](https://user-images.githubusercontent.com/8419308/45774333-e9521b80-bc09-11e8-964b-72da9212035d.png)
![image](https://user-images.githubusercontent.com/8419308/45774349-efe09300-bc09-11e8-909f-2f93afab095e.png)

I think the issue is that one screen icon is code-generated (Light Bulb) and one is an image (Capacitance), which seems odd

[2018-09-19 19:13] arouinfar commented on #234
Overall things are looking really nice @Denz1994!

One slightly strange thing is that the current arrows do not appear on pause, though they do behave normally once the user starts stepping forward. For example:
1.  Pause sim
2.  Charge capacitor, no current arrow appears
3.  Step forward, current arrow appears
4.  Continue stepping forward, current arrow fades as expected

The same behavior occur

[2018-09-19 20:02] arouinfar commented on #245
Marking as `on-hold` until the sim moves into testing.

[2018-09-20 17:45] arouinfar opened #247 "Update Screenshots"
For #237, we will need to update the screenshots, as many visual changes have been made to the sim. Here are the current screenshots:

* <a href="https://github.com/phetsims/capacitor-lab-basics/blob/master/assets/capacitor-lab-basics-screenshot.png">capacitor-lab-basics-screenshot.png</a>
* <a href="https://github.com/phetsims/capacitor-lab-basics/blob/master/assets/capacitor-lab-basics-screensho

[2018-09-21 23:06] arouinfar commented on #235
@CWilson4960 and I will work on scripting this primer next, so removing `status:on-hold`. Here's the latest dev:
https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.7.0-dev.5/phet/capacitor-lab-basics_en_phet.html

[2018-09-21 23:08] arouinfar commented on #233
@Denz1994 since this feature isn't yet deployed (see #237), I'm going to reopen but leave unassigned.

[2018-09-21 23:09] arouinfar commented on #234
Tagging for #237 so this issue shows up there.

[2018-09-25 17:07] Denz1994 commented on #233
I added an alignGroup option for the right side panels. This should make i18n compatibility a lot smoother. @arouinfar Please confirm the panel sizes still look good on master.

[2018-09-25 17:09] Denz1994 commented on #246
The screen icons have been updated. Please review in master @arouinfar.

[2018-09-25 17:48] Denz1994 commented on #244
After testing with DraggableTimerNode, things work well in the sim. The units option seems flexible enough to handle long strings and as noted in the documentation does change the format of the TimerReadout.

[2018-09-25 18:04] arouinfar commented on #233
@Denz1994 the wider panel is nice, but there's far too much padding to the left of the checkboxes. Perhaps the strings have been accidentally centered?
![image](https://user-images.githubusercontent.com/8419308/46033295-19daff00-c0bb-11e8-864e-9c4ab8e12f55.png)

The left padding in the published version is preferred:
![image](https://user-images.githubusercontent.com/8419308/46033275-0b8ce300-c0bb

[2018-09-25 18:07] arouinfar commented on #246
Looks great! Thanks @Denz1994

[2018-09-25 18:09] arouinfar commented on #233
@Denz1994 I'm also noticing that the panel width is inconsistent across screens.

Capacitance:
![image](https://user-images.githubusercontent.com/8419308/46033610-db920f80-c0bb-11e8-9b2f-0b03e190decb.png)

Light Bulb:
![image](https://user-images.githubusercontent.com/8419308/46033595-d2a13e00-c0bb-11e8-8824-2d6a723427c3.png)

[2018-09-25 18:10] KatieWoe opened #248 "CT: Redundant double negation"
[code]

[code]

[2018-09-25 18:39] #248 closed

[2018-09-26 03:48] samreid opened #249 "Capacitor Lab Basics - PhET-iO Design and Publication"
This sim was instrumented for PhET-iO using the "instrument everything" approach.  When the time is right, we should have an intentional design and re-implementation process.

[2018-09-27 01:27] Denz1994 commented on #233
@arouinfar Please review master for above changes.

[2018-09-27 01:29] Denz1994 opened #250 "ResetAllButton placement is different on both screens."
The resetAllButton should be in the same position on both screens. Currently, it looks like it jumps to a different position when switching between screens.

[2018-09-27 01:32] #250 closed

[2018-09-27 15:31] Denz1994 commented on #244
The elongated `TimerNode` is shown above only appears if there is a unique `maxValue` and `unitsNode` option passed. If only one of the options is passed at initialization, then the `TimerNode` doesn't widen.

The behavior isn't consistent and either the timer should widen or not, but currently, it does both depending on the options passed.

[2018-09-27 18:26] arouinfar commented on #233
Looks great!

[2018-09-27 19:58] Denz1994 commented on #233
Great, this should make i18n a lot easier.

[2018-10-02 15:34] arouinfar commented on #233
@Denz1994 I've noticed that the current direction doesn't revert to Electrons on reset all, as it should. This is present in master and the latest dev.

[2018-10-02 15:36] Denz1994 commented on #233
@arouinfar Good catch. Solution pending.

[2018-10-02 15:38] arouinfar commented on #233
Great, @Denz1994! Can you publish a new dev version when it's addressed? I discovered the bug in #235, and it would be nice to have an updated version for primer recording.

[2018-10-02 16:33] Denz1994 commented on #233
@arouinfar Please review master for above reset correction. Once reassigned to me I will push a dev version.

[2018-10-02 19:49] arouinfar commented on #233
Looks good @Denz1994!

[2018-10-02 19:53] Denz1994 commented on #233
Dev version pushed [here](https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.7.0-dev.6/phet/capacitor-lab-basics_en_phet.html). @arouinfar

[2018-10-02 20:03] arouinfar commented on #233
Thanks!

[2018-10-04 14:41] samreid commented on #240
@jonathanolson is planning to work on this as part of https://github.com/phetsims/scenery/issues/858

[2018-10-08 03:49] samreid commented on #244
I believe this design is so that the TimerNode can accommodate the largest string without any text scaling and without resizing the text box.

It seems unlikely that we would want to automatically transition from non-exponential notation to exponential notation in a timer.  Should we throw an exception if maxValue is greater than or equal to 1E+21 (which is the JavaScript default according to http

[2018-10-08 14:43] KatieWoe opened #251 "CT: Cannot read property type of null"
[code]

[2018-10-08 22:31] jonathanolson commented on #251
This should be handled by reusing the "last" DOM event for operations triggered by no event. I'll have it handled soon.

[2018-10-24 03:14] jonathanolson commented on #240
This should be resolved now from the work in https://github.com/phetsims/scenery/issues/858. Can you verify?

[2018-10-24 03:14] jonathanolson commented on #251
Looks like a duplicate of https://github.com/phetsims/capacitor-lab-basics/issues/240. Should be resolved from the work in https://github.com/phetsims/scenery/issues/858. Can you verify?

[2018-10-25 14:33] KatieWoe commented on #240
@jonathanolson I'm not seeing this issue anymore, but there are assertions failed now.  I don't know if they are connected.

[2018-10-25 14:51] KatieWoe commented on #251
@jonathanolson they looked a bit different too me, but I could very well be wrong.  I'm not seeing the "Cannot read property type of null" anymore in any case.  I am still seeing assertion failed though.

[2018-10-29 14:53] Denz1994 commented on #244
If the intent of design is to avoid box resizing then, that paradigm should be followed.

An assertion sounds like suitable addition in this case. It wasn't clear to me why at 22 digits scientific notation is used, but the link you provided explains it well ("Displaying Decimal Numbers" section).

The documentation you pointed out is clear that the maxValue is responsible for the panel size. This

[2018-10-29 17:10] Denz1994 commented on #234
An additional set of step functions have been added to `LightBulbModel.js` so the `currentAmplitudeProperty` can be updated while the sim is playing. A side effect of this is updating the visibility of the `CurrentIndicatorNode` when stepped through the sim.

Also, the model has been updated to support a `dt` step regardless of playback speed (slow/normal).

Please review master @arouinfar.

Also,

[2018-10-29 17:55] arouinfar commented on #234
I'm not sure I follow. The current arrow was behaving perfectly fine when the sim was paused and stepped through. The only issue was that the current arrow wouldn't initially appear while paused, and that still seems to be the case. My question in https://github.com/phetsims/capacitor-lab-basics/issues/234#issuecomment-422924657 was if it would be possible for the current arrows to appear when pau

[2018-10-29 18:37] Denz1994 commented on #234
It turns out my comment in git was asynchronous with my push.

 @arouinfar Master wasn't updated at the time of the comment so could please you review again from master. Reassigning.

[2018-10-29 19:02] arouinfar commented on #234
Thanks @Denz1994. Everything's looking good now, so I've tagged this issue with `status:fixed-awaiting-deploy`.

[2018-11-06 17:04] KatieWoe commented on #251
@jonathanolson still seeing removeInputListener error in CT, if it is related to this.  Let me know if it needs a separate issue.
[code]

[2018-11-07 00:36] Denz1994 commented on #244
Looks great. Thanks @samreid.

[2018-11-07 00:36] #244 closed

[2018-11-09 17:58] jonathanolson commented on #251
Added a patch for the above failure (https://github.com/phetsims/capacitor-lab-basics/issues/251#issuecomment-436329628).

CLB now can fuzz on my end for (so far) an hour without any failure.

@KatieWoe let me know if this clears up CT for the sim, or if there are still remaining issues after this. Thanks!

[2018-11-09 18:07] jonathanolson commented on #251
Of course it would just now error on something unrelated!

I have an error in Edge's initialize/createFromPool, due to a CAG issue resulting from the equivalent operation of `new kite.Shape( 'M 304.90681252543902246543 567.54710280120116294711 L 300.66417183831975989960 574.33532790059200578980 L 295.14873894506467877363 579.85076079384725744603 L 292.60315453279315534019 577.30517638157562032575

[2019-01-24 17:56] Denz1994 commented on #237
All related issues have a `status:fixed-awaiting-deploy` or `status: on-hold` label. #245 and #247 are on-hold until sim is in testing.

The last test in QA was done Feb 21, 2018 [RC Test: Capacitor Lab: Basics 1.6.6-rc.1](https://github.com/phetsims/QA/issues/94). QA is bogged down now, but a maintainance release with testing  should be in the pipeline at some point and added to https://github.co

[2019-01-29 19:26] ariel-phet commented on #237
@Denz1994 feel free to ping me on this at the beginning of February, but I think we should do another QA round before redeploy. Going to get EFAC and WI out the door and then we can line up thing for February

[2019-03-07 23:13] arouinfar commented on #237
The QA queue seems pretty quiet right now. Perhaps it might be a good time to move forward with CLB testing?

[2019-03-11 20:50] KatieWoe commented on #251
@jonathanolson this has looked clear.  Closing

[2019-03-11 20:50] #251 closed

[2019-03-11 21:05] KatieWoe commented on #240
Closing

[2019-03-11 21:05] #240 closed

[2019-03-29 15:08] pixelzoom opened #252 "review use of Animation"
In https://github.com/phetsims/twixt/issues/18, twixt `MoveTo` and `OpacityTo` were replaced by `Animation`.

Moving this last bit of work here so that the twixt issue can be closed.

8/28/18 https://github.com/phetsims/twixt/issues/18#issuecomment-415904940:

[2019-04-10 20:24] ariel-phet commented on #237
@Denz1994 moving this to high priority, I think we have space in the QA queue to get this done now

[2019-04-11 18:01] KatieWoe commented on #234
I've noticed something odd about the disappearing behavior of the current arrows in dev.7.  When unpaused it disappears after about 10 seconds.  When paused and stepping through it starts to disappear almost immediately.  @arouinfar is this intended?

[2019-04-11 18:08] KatieWoe commented on #234
Also, is it just supposed to be on the light bulb screen, or should it be on both?

[2019-04-11 18:37] KatieWoe commented on #214
dev.7 This can happen with the voltmeter probes and the arrows that change the capacitor size.
![stillhere](https://user-images.githubusercontent.com/41024075/55982617-86cc7580-5c56-11e9-8605-f3b6ae9ec63f.gif)

[2019-04-11 19:35] KatieWoe opened #253 "Firefox and edge electric field"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
firefox and edge
**Problem description:**
For https://github.com/phetsims/QA/issues/306.  Possibly part of https://github.com/phetsims/capacitor-lab-basics/issues/230
When electric field is turned on changing the size and distance of the capacitor plate can cause significant lag.
**Steps to reproduce:**
1. Go to the first screen (seco

[2019-04-11 19:39] KatieWoe commented on #253
Never mind.  Closing as duplicate of #230

[2019-04-11 19:39] #253 closed

[2019-04-11 19:41] KatieWoe commented on #230
https://github.com/phetsims/capacitor-lab-basics/issues/230#issuecomment-367537030 still occurs in dev.7.  There also was a bit of lag in firefox when the light from the bulb shrinks.
![electricfieldslow](https://user-images.githubusercontent.com/41024075/55987758-7371d800-5c5f-11e9-8e43-3c520c22c8f2.gif)
![firefoxstrobelight](https://user-images.githubusercontent.com/41024075/55987760-7371d800-5c

[2019-04-11 22:43] KatieWoe commented on #230
This happens on IE as well.

[2019-04-11 22:54] KatieWoe opened #254 "Should there be a voltage reading"
For https://github.com/phetsims/QA/issues/306.  When one voltage probe is on a disconnected plate and the other is on a wire on the battery, the reading is ``` ? ``` but this seems odd to me.  Shouldn't there be a reading since there is a difference in voltage?  Or am I misunderstanding?

[2019-04-11 23:00] KatieWoe commented on #254
![novolts](https://user-images.githubusercontent.com/41024075/55998404-4a5f4080-5c7b-11e9-8e2d-287385f0205a.png)

[2019-04-11 23:08] KatieWoe commented on #246
Looks good on all Win 10 platforms.  I'll continue to keep an eye out, but I think this can be considered done.  Dev.7

[2019-04-12 01:51] phet-steele commented on #254
Voltmeters will show the potential difference in a _complete circuit_. What you are showing is not a complete circuit. A "?" is expected.

[2019-04-12 01:51] #254 closed

[2019-04-12 03:57] Denz1994 commented on #246
Good to know. Closing this one.

[2019-04-12 03:57] #246 closed

[2019-04-12 16:14] KatieWoe commented on #230
I actually saw some of the delay of the light shrinking in iOS 12 safari as well.

[2019-04-12 16:31] KatieWoe commented on #214
While testing on iPad I noticed that https://github.com/phetsims/capacitor-lab-basics/issues/214#issuecomment-482246132 is much more noticeable and likely to interfere.  This is because, if you are trying to drag the probe to a wire or a capacitor, there is less room and you are very likely to move over one of those arrows.

[2019-04-12 16:41] KatieWoe opened #255 "Swipe to pick up wire"
For https://github.com/phetsims/QA/issues/306.  I noted that the bit of wire you move to connect/disconnect different parts of the circuit doesn't have swipe to pick up.  But the touch areas are pretty good sized.  Since we are looking at https://github.com/phetsims/QA/issues/295, I thought it might be useful to look at.

[2019-04-12 16:59] KatieWoe commented on #230
I will also note that the Electric field lag does not happen on the dev version of edge.

[2019-04-12 17:02] phet-steele commented on #255
@KatieWoe this feature (swipe to pick up) is called `touchSnag`. Please see #130 for why `touchSnag` was disabled, mostly starting at https://github.com/phetsims/capacitor-lab-basics/issues/130#issuecomment-251751139. @arouinfar be aware what you would be reintroducing if you are looking at this for https://github.com/phetsims/QA/issues/295. I don't think it's a worthwhile trade-off to revert all

[2019-04-12 17:27] KatieWoe commented on #255
Thanks @phet-steele sorry for missing that.

[2019-04-12 18:09] KatieWoe commented on #234
Those are the only things of note on this issue in dev.7.  Otherwise, this can likely be closed.

[2019-04-12 18:47] KatieWoe commented on #230
One more note: I checked the Electric field lag on Mac 10.14 firefox and didn't see it there.

[2019-04-12 19:10] KatieWoe opened #256 "Charge in top plate changes inappropriately"
**Test device:**
Dell and Jordan
**Operating System:**
Win 10 and Mac 10.14
**Browser:**
chrome and safari
**Problem description:**
For https://github.com/phetsims/QA/issues/306, may be connected to https://github.com/phetsims/capacitor-lab-basics/issues/234.  When the sim is paused and discharging, moving the capacitors seems to make the amount of charge change.  This should not be possible, and

[2019-04-12 23:18] arouinfar commented on #256
Nice find @KatieWoe!

Since the published version doesn't have a pause button, it is hard to tell if this bug exists there, but it doesn't look like it.

Definitely looks like charge isn't being conserved here @Denz1994. Moving the plates while the sim is paused should never affect the amount of charge. While discharging, the charge on the plates would exponentially decay.

[2019-04-12 23:21] arouinfar commented on #255
Thanks for the reminder @phet-steele! Since there isn't any real usability issue on touch, I think we can continue leaving `touchSnag` disabled.

[2019-04-12 23:21] #255 closed

[2019-04-12 23:51] arouinfar commented on #234
No worries! I double checked dev.7, and the fade is looking correct to me, though slower in Slow Motion.

The TimerNode and play/pause controls are only on the Light Bulb screen, as the first screen doesn't have any time-dependent behaviors.

I'll go ahead and close, then. Thanks @KatieWoe!

[2019-04-16 20:36] KatieWoe opened #257 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56242212-fecedd00-6054-11e9-9294-c50cba4d

[2019-04-16 20:36] #257 closed

[2019-04-19 17:15] ariel-phet commented on #230
I looked at this on Win 10 FF, and there is only a slight lack of smoothness these days. Considering the issue is on IE, and the newer version of Edge will fix it, I think we can go ahead and close this issue as improving the performance would likely not be worth the cost. In addition, we have had no complaints from the world with the published version.

[2019-04-19 17:15] #230 closed

[2019-04-22 14:53] Denz1994 commented on #256
@arouinfar I believe this issue persisted in the published version. You see the change when following the steps without pausing, but it is a lot less apparent.

The top plate charge only updates when the capacitor is connected to the battery. @arouinfar Please double check that this behavior is correct in master.

[2019-04-22 17:12] samreid opened #258 "Use Shape.zigZagTo"
Capacitor Lab Basics has the following zig zag code:

[code]

Now that  `Shape.zigZagTo` was added in https://github.com/phetsims/kite/issues/75, it may be better for this simulation to use it instead.

Assigning to @jonathanolson since he is listed as responsible dev, but also mentioning @jessegreenberg since he committed the zig-zag code.

[2019-04-24 19:45] ariel-phet commented on #252
Changing assignment to @Denz1994

[2019-04-24 19:49] ariel-phet commented on #258
I have changed @Denz1994 to the responsible dev for this sim. Assigning to him.

@Denz1994 this does not necessarily need to be done now, but if it is straightforward might be worth polishing off.

[2019-04-25 01:51] Denz1994 commented on #258
The code snippet from above has the unique property of always beginning and ending the zig-zag on a peak or trough. `Kite.shape.zigZagToPoint()` alternates the starting peak with an ending trough. It also starts the pattern at an amplitude of `0`.

The CBL bulbs have filaments that start and end at the zig zags max amplitude. The start and end of the zig zag also always mirror each other (starts w

[2019-04-25 01:53] Denz1994 commented on #258
I'll investigate the use of an offset that allows the zig zag pattern to start at some interval. My initial thought here is that a shift of `lamba/2` would give the pattern desired.

[2019-04-29 23:08] arouinfar commented on #256
@Denz1994 master still looks off to me.

When the capacitor is disconnected from the battery, changing its capacitance results in a change in the voltage (Q is conserved and Q = CV). Here, decreasing C results in proportionally increased V.

![ConservedQ](https://user-images.githubusercontent.com/8419308/56932219-18821280-6aa0-11e9-8ff5-53d330f97481.gif)

Similarly, when connected to the bulb, cha

[2019-04-30 17:40] Denz1994 commented on #256
`this.capacitor.discharge( )` was is responsible for updating the inverse relationship between capacitance and voltage, when the light bulb was connected. This function was being called during `step()` so when the sim was paused this wasn't being handled.

The capacitor now discharges when the plate geometry changes which should maintain conservation of charge. @arouinfar could you confirm in mast

[2019-04-30 18:39] Denz1994 commented on #252
The refactors made in commit 3cd145acf943a4df059d288625bb6a862bc197ee where the latest relevant changes to the animation code. Since then, the refactored animation behavior has been tested in [dev test cycle](https://github.com/phetsims/QA/issues/306) and has worked as intended. Closing this issue.

[2019-04-30 18:39] #252 closed

[2019-04-30 21:37] Denz1994 commented on #258
The addition to `Shape.zigZagTo()` referenced in https://github.com/phetsims/kite/issues/75#issuecomment-488122775 makes this usable in this case. I'll await input from @samreid before closing this issue as a code review is in order for this change.

[2019-05-01 02:48] arouinfar commented on #256
Looks great @Denz1994!

[2019-05-06 16:26] Denz1994 commented on #214
`allowTouchSnag` has been set to `false` for both separation and area arrow handlers. @KatieWoe Could you use a touch device to test if this is fixed? Please use this [dev link](https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.7.0-dev.8/phet/capacitor-lab-basics_en_phet.html).

Does this also an issue with the circuit switches?

[2019-05-06 16:57] KatieWoe commented on #214
Looks good on Win 10 and iOS 12.  Doesn't seem to have any problems with the switches.

[2019-05-07 18:18] Denz1994 commented on #214
Good to know. Closing this issue.

[2019-05-07 18:18] #214 closed

[2019-05-07 21:12] KatieWoe opened #259 "Light Bulb screen does not keep charges when plates change"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/315 May be connected to https://github.com/phetsims/capacitor-lab-basics/issues/256
Only seems to appear on the light bulb screen.  Not in published.
When the plates are charged, moving them seems to get rid of those charges
**Steps to reproduce:**
1. Go to the

[2019-05-07 21:31] KatieWoe commented on #256
May be connected to https://github.com/phetsims/capacitor-lab-basics/issues/259.  As such, will leave up to @Denz1994 on whether this is fixed/whether to close

[2019-05-07 21:52] KatieWoe commented on #259
I did a bit more digging on step 5 and found that you only need to set the wires to discharge, then move them to the middle position.  Moving the capacitors after this causes the below phenomenon.
![moreandlesscharges](https://user-images.githubusercontent.com/41024075/57335518-17746500-70e0-11e9-88c6-49f82ae8f9eb.gif)

[2019-05-07 22:48] KatieWoe opened #260 "Timer is grabbed instead of voltmeter"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/315.  Timer is not in published version, so it doesn't apply.
When trying to grab the voltmeter, a fairly large chunk of the right side grabs the timer instead.
**Steps to reproduce:**
1. Go to the light bulb screen
2. Start trying to grab the voltmeter by its

[2019-05-08 15:22] KatieWoe commented on #247
This sim is now in RC (https://github.com/phetsims/QA/issues/315), so removing on-hold status.  However, I will wait until next rc as https://github.com/phetsims/capacitor-lab-basics/issues/259 may make some of the screenshots more difficult.

[2019-05-08 16:20] etwa4650 commented on #259
While replicating this issue on MAC OS 10.12.6 and Firefox, I noticed that when the plates are close together, the number of Charges reduces to some minimum number depending on the Plate Area, rather than disappearing entirely. In this case it reduces to 6 Charges on the top plate with a Plate Area of 210 mm^2.

The charges disappear once the plates are separated, and reappear when they are close

[2019-05-08 16:58] KatieWoe opened #261 "Timer can be lost"
Found on Win 10 firefox and edge so far.  Does not seem to happen chrome, likely due to how chrome handles iframes.  It can also happen in the normal sim by dragging to the bottom.
When dragging the timer outside the bounds of the sim, it can be lost with no way to get it back without resetting the sim.
![losttimer](https://user-images.githubusercontent.com/41024075/57393225-e77c9e80-717f-11e9-910

[2019-05-08 17:05] lmulhall-phet commented on #261
The timer can also be lost in the vanilla simulation on FF via dragging it down toward the PhET menu.

![issue](https://user-images.githubusercontent.com/31285590/57393810-22330680-7181-11e9-93c5-37a786cef2b4.gif)

[2019-05-08 17:34] lmulhall-phet commented on #261
Timer can also be lost on iOS 9.3.5 + Safari by moving it to the right by the checkboxes.

[2019-05-08 17:57] KatieWoe opened #262 "Long strings overlap with green/yellow arrow"
For https://github.com/phetsims/QA/issues/315
When strings are long, the string that denotes the sizeof the plates can overlap with the tilted arrow.  This happens on published version as well.  Happens on both screens.
![bittyoverlap](https://user-images.githubusercontent.com/41024075/57396783-6970c580-7188-11e9-8bdd-79db5fb162fe.png)

[2019-05-08 18:01] arouinfar commented on #262
@Denz1994 looks like a layout issue to me. The string should not be allowed to overlap the arrow.

[2019-05-08 18:34] lmulhall-phet commented on #261
Timer can be lost in the same way as in https://github.com/phetsims/capacitor-lab-basics/issues/261#issuecomment-490569298 on Chrome OS.

[2019-05-08 18:34] etwa4650 opened #263 "Voltage meter overlapping checkboxes"
<b>Operating System</b>

MAC OS 10.13.6

  <b>Browser</b>

  Chrome 74.0.3729.131

  <b>Problem Description</b>

  If the Voltage meter is close enough to a checkbox in the top right corner, the voltage meter will be selected instead of the checkbox when attempting to click on the checkbox. Even though the voltage meter does not visually overlap the checkbox.

Screen Recording below.

  <b>Visuals

[2019-05-08 19:44] arouinfar commented on #260
Nice find @KatieWoe. I was able to reproduce on latest macOS/Chrome.

@Denz1994 looks like the click/touch areas may need some adjusting. I don't see anything in the toolbox when using `?showPointerAreas`, but I think something like this could work. Click areas would be limited to the physical bounds of the icons in the toolbox, but touch areas could be quite generous.
![image](https://user-images

[2019-05-08 20:42] lmulhall-phet opened #264 "Ghost lines from diminishing top plate charge"
**Test Device**

Bates

**Operating System**

Windows 7

**Browser**

Firefox 66.0.4

**Problem Description**

For https://github.com/phetsims/QA/issues/315. Ghost lines can be seen from diminishing top plate charge. The ghost lines eventually disappear.

**Steps to Reproduce**

1. Check top plate charge checkbox.
2. Charge plates.
3. Flip switch to connect circuit to light.

**Screenshots**

![Gh

[2019-05-08 20:46] lmulhall-phet commented on #264
Possibly related to https://github.com/phetsims/scenery/issues/810#issue-329210787. Feel free to close if you think this is the case @Denz1994.

[2019-05-08 20:49] lmulhall-phet commented on #264
Or possibly https://github.com/phetsims/ph-scale-basics/issues/33.

[2019-05-14 15:13] Denz1994 commented on #264
@lmulhall-phet I'm going to close this one as it seems to be related to https://github.com/phetsims/scenery/issues/810.

Just noting, I was able to reproduce a less severe version of this bug on a MacBookPro (macOS Mojave 10.14.3) Firefox 66.0.2 (64-bit).

[2019-05-14 15:13] #264 closed

[2019-05-15 01:38] Denz1994 commented on #258
Labeling as on-hold until we get a solution for https://github.com/phetsims/faradays-law/issues/153

[2019-05-21 20:07] Denz1994 commented on #261
`DraggableTimerNode.dragbounds` needed to be updated to respect the changing sim bounds. They update in correspondence with the layout bounds which keep the timer in the play area.

[2019-05-21 20:36] Denz1994 commented on #263
The overlap was reduced by reducing the bounds of the touch/mouse area. There is still some overlap because bounds are generated in rectangular/square shapes to contain all of the possible elements of a node.

Reducing the touch/mouse areas anymore may compromise the padding that we give draggable objects for usability. This is how the touch areas currently look. Thoughts @arouinfar?

![image](htt

[2019-05-21 23:10] arouinfar commented on #263
@Denz1994 let's remove the extra padding at the top of the voltmeter body. The voltmeter body is already quite large, so I don't think its pointerAreas need to be dilated. This will further reduce the likelihood that users run into this issue.

[2019-05-22 00:15] Denz1994 commented on #263
I believe there is still an underlying issue here. The movableDragHandler is being hit despite being outside of the touch/mouse area bounds. The movableDragHandler is added to the VoltmeterBodyNode after the touch areas are being altered so I'm not following how the movableDragHandler is generating its bounds. I'll consult with @jonathanolson.

[2019-05-22 09:25] Denz1994 commented on #259
The discharge needs to only occur when the lightbulb is connected. This logic would work for both screens. https://github.com/phetsims/capacitor-lab-basics/commit/6e2f7d57e826bcae9b5dcbc8082e49f4303e622f should have fixed this but I'll let qa verify.

[2019-05-23 01:02] ariel-phet commented on #263
@etwa4650 please always check if an issue exists in the published version of a sim (if a published version exists)

@Denz1994 this same behavior also exists in the published version. It is a nice catch by @etwa4650 and worthy of being understood, but I don't see it as a blocking issue for this RC.

Marking deferred. @Denz1994 if it is something simple to address use your discretion as to how and w

[2019-05-23 09:34] Denz1994 commented on #260
There was a large overlap of the timerNodeIcon touch/mouse areas. Touch/mouse areas for the timerNodeIcon have been adjusted. This seemed to have resolved the issue but I'll let qa verify.

[2019-05-23 09:38] Denz1994 commented on #256
The changes in https://github.com/phetsims/capacitor-lab-basics/issues/259 should not have affected this, though closely related. This issue should be verified by QA to ensure it is resolved.

[2019-05-23 09:44] Denz1994 opened #265 "Update Credits for 1.7.0"
@arouinfar and @KatieWoe could you please verify that the credits are correct in this [version](https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.7.0-rc.2/phet/capacitor-lab-basics_all_phet.html).

@ariel-phet I'm listed as the responsible dev for this sim, but I wasn't part of the original development team. Should I be added to the credits for 1.7.0? I'm not sure how that process works.

[2019-05-23 14:23] ariel-phet commented on #265
@Denz1994 yes, definitely add yourself to the development credits

[2019-05-23 15:30] arouinfar commented on #265
Design credits look good to me. @Denz1994 you should definitely add yourself to the dev credits!

[2019-05-23 15:53] KatieWoe commented on #260
Looks much better on 1.7.-rc.2 Win 10 chrome

[2019-05-23 15:53] #260 closed

[2019-05-23 16:19] KatieWoe commented on #265
I should be added (Kathryn Woessner) and Ethan Ward should be added as well.

[2019-05-23 17:47] KatieWoe commented on #247
Here are the screenshots.  @arouinfar once you sign off I'll commit them to master and 1.7

[2019-05-23 17:47] KatieWoe commented on #247
![capacitor-lab-basics-screenshot](https://user-images.githubusercontent.com/41024075/58274661-8abcde80-7d50-11e9-8a87-c43078a2ad91.png)
![capacitor-lab-basics-screenshot-alt1](https://user-images.githubusercontent.com/41024075/58274662-8abcde80-7d50-11e9-8534-b865ed737b91.png)
![capactor-lab-basics-screenshot-alt2](https://user-images.githubusercontent.com/41024075/58274663-8abcde80-7d50-11e9-93c

[2019-05-23 20:32] KatieWoe opened #266 "Short strings are centered"
For https://github.com/phetsims/QA/issues/321
Found on Win 10 Firefox.  On the lighbulb screen, the checkboxes in the box above the voltmeter and timer are centered with short strings (stringTest=X).  The first screen behaves correctly, and the checkboxes do not move.
![centers](https://user-images.githubusercontent.com/41024075/58285298-b4ceca80-7d69-11e9-9bdf-5ab4b4d3f501.png)

[2019-05-23 20:39] KatieWoe commented on #262
Looks good 1.7.0-rc.2

[2019-05-23 20:39] #262 closed

[2019-05-23 20:48] KatieWoe commented on #266
Edit: Wrong screenshot

[2019-05-23 20:50] arouinfar commented on #266
This issue is reminiscent of https://github.com/phetsims/masses-and-springs-basics/issues/59.

@Denz1994, I would prefer that the checkboxes/radio buttons remain anchored on the left side of the panel, rather than shifting with varying string length.

[2019-05-23 20:51] arouinfar commented on #245
We're getting closer to redeploy, so removing `status:oh-hold`.

[2019-05-23 20:55] arouinfar commented on #247
Looks great @KatieWoe, please go ahead and commit the screenshots.

[2019-05-23 20:55] KatieWoe opened #267 "Pointer Area for voltmeter is smaller than actual"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/321.  Related to https://github.com/phetsims/capacitor-lab-basics/issues/263
The pointer areas for the voltmeter are a bit smaller than the grabbable area.  Minor and like shouldn't block publication per @arouinfar
**Steps to reproduce:**
1. Use the query parame

[2019-05-23 20:58] arouinfar commented on #267
@Denz1994 it looks like the boundaries shown with `?showPointerAreas` are not accurate to the true touch/click areas. Since #263 was deferred, the same can probably be done here, but I'll leave that up to you.

[2019-05-23 21:23] KatieWoe commented on #247
Should be done in above commits

[2019-05-23 21:23] #247 closed

[2019-05-23 21:48] KatieWoe commented on #266
This is what it looks like in published:
![pub](https://user-images.githubusercontent.com/41024075/58288926-3591c480-7d72-11e9-9aef-7c540ef08f28.png)

[2019-05-23 22:03] lmulhall-phet opened #268 "Longer strings near capacitance, plate charge, and energy bars need more space"
For https://github.com/phetsims/QA/issues/321. If you have strings that are just one character longer than the English strings next to the capacitance, top plate charge, and energy bars (not sure what else to call them?) there's no space.

Examples found by @arouinfar:

locale = uk (Ukranian)
![image](https://user-images.githubusercontent.com/31285590/58289538-f8c6cd00-7d73-11e9-8d7b-65b869f5be13.

[2019-05-23 22:29] lmulhall-phet commented on #266
I think the huge gap next to the capacitance bar is due to the centering, so we should check that this gets fixed as well.

[2019-05-23 22:37] KatieWoe commented on #261
This is looking good in 1.7.9-rc.2

[2019-05-23 22:37] #261 closed

[2019-05-24 15:35] arouinfar commented on #266
Good observations @KatieWoe @lmulhall-phet. In general, the panel shouldn't ever shrink so the behavior in the published version does indeed seem strange.

It would be good to confirm that the bar graph is indeed shifting -- it definitely shouldn't be. It's a bit hard for me to tell (without overlapping screenshots) because the graph label alignment could be off too.

[2019-05-24 16:56] KatieWoe commented on #256
This seems to occur under more specific circumstances now.  A bit harder to reproduce now.
1. Go to the light bulb screen
2. Add charge to the plates
3. Select the check box for reading the top plate charge (easier to see change)
4. While battery is still connected change either the area or distance of the plates
5. Pause the sim
6. While paused, switch to the light bulb connections
7. While still

[2019-05-24 18:26] KatieWoe opened #269 "Inconsistent tool box size when strings are long"
**Device**
Chadwick
**OS**
ChromeOS
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/321.  Quite minor
On the first screen, the tool box with the voltmeter has the same width no matter how much the box above it grows.  The corresponding toolbox on the second screen grows in width to match the box above it (the images inside do not change).  In the published vers

[2019-05-24 18:39] KatieWoe commented on #256
https://github.com/phetsims/QA/issues/321

[2019-05-24 19:40] KatieWoe commented on #259
This looks fine as of 1.7.0-rc.2

[2019-05-24 19:40] #259 closed

[2019-05-24 20:08] arouinfar commented on #268
Thanks @lmulhall-phet.

@Denz1994 a few suggestions
- [ ] Move value strings 5 px to the left (pink line in screenshot below), but leave `maxWidth` the same. This will ensure there is some padding between the the value string and the bar graph.
- [ ] Increase `maxWidth` of checkbox labels by 15 px (green line in screenshot below). This will still leave a reasonable amount of padding between the ch

[2019-05-24 20:08] Denz1994 commented on #267
The mismatched touch/mouse areas are remnants of a proposed solution to #263. Because this doesn't completely solve that issue and that issue has been deferred, I'll retract the code relevant to #263.

[2019-05-24 20:09] Denz1994 commented on #267
The code that modified the touch/mouse areas has been retracted. I'll post a new rc version to confirm with @arouinfar.

[2019-05-24 20:16] Denz1994 commented on #265
Credits have been updated. Thanks for the input everyone. Closing.

[2019-05-24 20:16] #265 closed

[2019-05-24 20:27] arouinfar commented on #256
Great find @KatieWoe.

@Denz1994 it looks like the plate charge isn't getting properly stored/updated on pause.

1. On startup, open Light Bulb screen
2. Turn on Top Plate Charge graph, then charge capacitor. Make a note of the Top Plate Charge value.
3. Pause sim, then change capacitance (e.g. decrease separation). This results in a change in Top Plate Charge, as it should.
4. Move switch to ligh

[2019-05-24 20:29] arouinfar commented on #269
Since the toolbox width now matches the panel above it, it seems a bit inconsistent that it only expands on Light Bulb to maintain equal widths. @Denz1994 seems like it should also expand on Capacitance.

While this is a minor issue, I think it would be nice to address since this sim will need to go through another RC cycle, regardless.

[2019-05-24 20:49] arouinfar commented on #245
Tips have been updated and uploaded to Drive, but awaiting sim redeploy for publication.

[2019-05-28 14:29] Denz1994 commented on #269
I added an alignGroup for the checkbox panel and the toolbox panel. Both should maintain the same width when adjusted by the string size.

[2019-05-28 17:11] Denz1994 commented on #266
The panel contents with checkboxes have been left aligned. Originally, it was centered, causing the alignment issue above. I'll verify in next RC.

[2019-06-04 16:00] Denz1994 commented on #268
Alignments and maxWidth have both been adjusted. Will release a new RC for review.

[2019-06-18 15:16] Denz1994 commented on #256
After much digging, it turns out that capacitor.discharge() should not be used when dragging the plate area and separation arrows. It causes the capacitor to leak voltage and produced a side effect where the charges could be built up to indefinitely when swapping to an open circuit.

The voltage is now explicitly set using Q=V/C when dragged. This prevents charges from being lost and the voltage d

[2019-06-18 18:38] Denz1994 commented on #267
It was decided that https://github.com/phetsims/capacitor-lab-basics/issues/263 is low-priority and a complete solution to this would require a custom shape to fit along the border of the voltmeterNode. I will close this issue and handle further discussion in #263.

[2019-06-18 18:38] #267 closed

[2019-06-18 19:47] KatieWoe commented on #256
Not fixed.  Now, you must pause the sim, switch to light bulb, move the plates, and then step through while paused.
![stillchargejumps](https://user-images.githubusercontent.com/41024075/59714777-a8565a00-91cf-11e9-8335-d5871affad88.gif)

[2019-06-18 20:46] etwa4650 commented on #256
https://drive.google.com/open?id=1-8shThGK3r3NfECoiMY9IpNRyc2rRm9q

Some more strange behavior if you pause the sim after switching to the lightbulb, and then move plates closer while paused. Top plate charge will jump back up to what it was before connecting to the lightbulb (0.27 in this video).

[2019-06-18 21:15] KatieWoe commented on #269
Looks good.

[2019-06-18 21:15] #269 closed

[2019-06-18 21:15] KatieWoe commented on #268
Looks good 1.7.0-rc.3

[2019-06-18 21:15] #268 closed

[2019-06-21 16:48] KatieWoe commented on #256
One more oddity here.  When making the plate larger and smaller while discharging the charge jumps up and down.  But I've only seen it so far on IE Win 7.  Wondering if this is due to performance or something with IE.

[2019-06-25 22:45] KatieWoe opened #270 "Voltmeter is behind the pause/speed panel"
**Device**
Dell Laptop
**OS**
Windows 10
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/349 (revisiting)
I noticed that the voltmeter is behind the pause speed panel on the second screen, but the timer is in front of it.
![behindandabove](https://user-images.githubusercontent.com/41024075/60138690-85481f00-9768-11e9-8a4d-24de3f243c5e.png)

[2019-06-25 23:59] arouinfar commented on #270
@Denz1994 let's layer both the voltmeter and timer on top of the panel.

[2019-08-08 03:49] zepumph commented on #249
A client asked for this sim to be republished off of master recently. It could be nice to do as much of this as possible (priority/time permitting) before a republication.

[2019-08-08 17:57] zepumph commented on #249
In the above commits I made some cleanup. There is no longer an instrumented timerNode in the first screen, the wires were uninstrumented, and some tandems were rearanged to make more sense.

When further work is done on this:
- [ ] RadioButtonGroup needs to support linked element
- [ ] Do we need to instrument color Properties, like for example model.arrowColorProperty
* likely more to come!

[2019-10-24 04:12] phet-dev opened #271 "Maintenance patches applied to branch 1.7"
This branch (1.7) had changes related to the following applied:

- fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64
- https://github.com/phetsims/scenery/issues/1006

Presumably one or more of these changes is likely to have been applied after the last RC version, and should be spot-checked by QA in the next RC (or if it was ready for a production release, an additio

[2019-12-17 19:12] samreid opened #272 "Use Stopwatch and StopwatchNode"
From https://github.com/phetsims/gas-properties/issues/170, DraggableTimerNode and several model properties can be replaced by StopwatchNode and Stopwatch.  I've made these changes in my working copy, this issue is to facilitate review.  After I commit, I'll reassign to the responsible dev for review.

[2020-01-24 22:53] samreid commented on #272
@Denz1994 can you please review at your convenience?

[2020-03-02 20:08] KatieWoe commented on #256
In master when doing ES6 Testing. Moving the plates when not connected to the battery or bulb makes all the charge go away when on the light bulb screen. If the plates are close enough together charges come back, but behave as if the plates are connected to the battery.
![comesback](https://user-images.githubusercontent.com/41024075/75713402-f8564d80-5c86-11ea-8839-ee528ac0f129.gif)

[2020-03-11 17:27] Denz1994 commented on #272
It looks like using `model.Stopwatch` centralized a lot of the model components previously used by draggableTimerNode (now `StopwatchNode`).  This looks a lot cleaner. Thanks for the change @samreid. Closing this one.

[2020-03-11 17:27] #272 closed

[2020-04-23 03:21] Denz1994 commented on #270
Z-ordering has been changed for the sim controls. It should be checked when we revisit this sim for development.

[2020-05-06 16:03] arouinfar commented on #227
Not sure when it happened, but this behavior is present in latest. Closing.

[2020-05-06 16:03] #227 closed

[2020-05-06 16:03] arouinfar commented on #225
Not sure when it happened, but this behavior is present in latest. Closing.

[2020-05-06 16:03] #225 closed

[2020-05-06 16:04] arouinfar commented on #222
Not sure when it happened, but this behavior is present in latest. Closing.

[2020-05-06 16:04] #222 closed

[2020-05-06 16:08] arouinfar commented on #234
This feature hasn't been deployed. I'm going to re-open and leave tagged as `status:fixed-awaiting-deploy`.

[2020-06-20 03:28] firasm opened #273 "Question: Any way to increase font-size/scaling of the PHET Sim inside an iframe?"
hello! first of all, thanks so much for all of the excellent PHET sims! I really enjoy teaching with them.

I am trying a new teaching technology (Jupyter Notebooks) when teaching a lecture and I have two questions:

1. I'm struggling with how to increase the font/text/element size while the phet SIM is embedded inside an iframe.
<img width="1497" alt="Screen Shot 2020-06-19 at 11 11 11 PM" src="h

[2020-08-27 04:37] arouinfar opened #274 "Use only one decimal place in StopwatchNode display"
In https://github.com/phetsims/scenery-phet/issues/565 StopwatchNode gained the option of having only 1 decimal place in the readout. Since the StepForwardButton increment is 0.2s, the StopwatchNode doesn't need more than 1 decimal place.

@Denz1994 please update the StopwatchNode display to have only one decimal place.

[2020-08-27 04:39] arouinfar commented on #274
See https://github.com/phetsims/scenery-phet/issues/617 for further discussion of StopwatchNode precision.

[2020-08-27 11:59] samreid commented on #274
StopwatchNode number of decimal places options are discussed in https://github.com/phetsims/scenery-phet/issues/618

[2020-10-06 17:48] arouinfar commented on #233
Not quite a suggestion, but a phethelp user reached out to us with some confusion about the current direction, and the solution would be the conventional current representation.

I replied to the user to let them know we are working on a conventional current representation, and that the sim will eventually be republished with the feature.

[2020-10-14 19:44] Denz1994 commented on #256
Instead of setting the top plate charge when the capacitance changes, the charges are discharged. This bug was introduced when trying to explicitly set the capacitor charge when the plate geometry or separation changes. I've reviewed this briefly with @arouinfar but she will review further in this [RC version](https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.7.0-rc.4/phet/capacitor-lab-ba

[2020-10-14 23:38] arouinfar commented on #270
@Denz1994 I'm not seeing any z-ordering changes in rc.4
![image](https://user-images.githubusercontent.com/8419308/96056541-15214900-0e44-11eb-808f-000db86623aa.png)

[2020-10-14 23:45] arouinfar commented on #263
This is still an issue in rc.4. The voltmeter pointerAreas are not visible with`showPointerAreas` but clicking on the Bar Graph checkbox or any part of the `Ba` does not toggle the checkbox, which makes me believe I'm clicking on the voltmeter pointerArea.

![image](https://user-images.githubusercontent.com/8419308/96056746-a09ada00-0e44-11eb-9dc5-0b1ec00feca4.png)

I think this is a minor issue,

[2020-10-14 23:52] arouinfar commented on #232
I can reproduce this on my mid-2014 MacBook Pro running macOS 10.15.7/Chrome 85 (both latest). There is a very slight shift in the panel when I drag the voltmeter body over it. It is very subtle, and I would not have noticed it if I hadn't been looking for it.

Given @ariel-phet's assessment of wont-fix, I think we can probably close this, but I'll defer to @Denz1994.

[2020-10-14 23:56] arouinfar commented on #258
https://github.com/phetsims/faradays-law/issues/153 has been closed, so I'm going to remove the on-hold label.

@Denz1994 does this issue need work/review before the upcoming redeploy?

[2020-10-14 23:59] arouinfar commented on #256
@Denz1994 looks good in rc.4

[2020-10-15 19:52] Denz1994 commented on #270
Right. This commit wasn't cherry-picked into the 1.7 branch. I made a quick commit to include this change. I'll assign this issue for verification in the next RC.

[2020-10-15 19:58] Denz1994 commented on #263
I'll opt to close and leave as a don't fix. I agree with the feedback in the above commit. If we really wanted to fix this bug, we would need a custom path drawn for the touch area. This custom touch area would also need to be dilated to consider a11y concerns. Closing this one and labeling wont-fix.

[2020-10-15 19:58] #263 closed

[2020-10-15 19:59] Denz1994 commented on #232
This seems like something that we won't fix based on the above comments. Closing this one.

[2020-10-15 19:59] #232 closed

[2020-10-15 20:05] Denz1994 commented on #258
It looks like this was fixed in https://github.com/phetsims/capacitor-lab-basics/commit/5a3433fa0eacc024915e8d4cda6099a6292fad23. The lightbulbs are using `Shape.zigZagTo()` and have the desired appearance. This issue can be closed.

[2020-10-15 20:05] #258 closed

[2020-10-15 20:06] Denz1994 commented on #271
Can we make sure the above issues are no longer an issue for this sim? Relabeling for QA to verify.

[2020-10-15 21:28] phet-steele commented on #270
This fix is present in 1.7.0-rc.5!

[2020-10-15 21:28] #270 closed

[2020-10-15 21:49] phet-steele commented on #266
The panel checkboxes are aligned properly in 1.7.0-rc.5, but @arouinfar do we want these to be aligned any differently?

![image](https://user-images.githubusercontent.com/5863899/96189583-fbdcd300-0efd-11eb-887e-3b1a952df82f.png)

If not, you can close this.

[2020-10-15 22:30] arouinfar commented on #266
@phet-steele that panel looks good to me, closing.

[2020-10-16 16:24] brooklynlash opened #275 "Light possibly too bright?"
This is just a suggestion for https://github.com/phetsims/QA/issues/565, but I think the light when switching from the voltage to the light source is too bright.
![capacitor1](https://user-images.githubusercontent.com/72031637/96283592-ae15a880-0f99-11eb-8062-7561f79e4d1d.gif)

[2020-10-16 20:56] loganbraywork commented on #256
This still seems to be broken as of https://github.com/phetsims/QA/issues/565. By following the steps laid out in the comment above.

Currently. using the switch still causes a jump in top plate energy if the sim was paused while the plates were adjusted.
![2020-10-16CapacitorlabbasicsChargeinappropriately](https://user-images.githubusercontent.com/54685448/96307991-c0a2d880-0fbf-11eb-9bcb-c12c1d7

[2020-10-16 21:23] loganbraywork opened #276 "Maybe have Pause and Step Forward buttons as well as plate size and distance arrows visible through light?"
For https://github.com/phetsims/QA/issues/565

While checking another issue, I noticed it is difficult to adjust the plate size and distance as well as pause, unpause, or stepforward while the light is shining. Some arrows are visible through light but are not the ones which can be manipulated.

Currently how the screen looks while paused and the light is shining.

![2020-10-16CapacitorlabbasicsLi

[2020-10-17 20:25] Denz1994 commented on #276
I agree we should be consistent with the arrow layering. @arouinfar Do you think we should have all the arrows behind the light or in front of the light? I personally think the light should be blocking the arrows. Almost as if the user is blinded by the light and can't see the arrows behind it.

[2020-10-19 16:14] Denz1994 commented on #256
A patch was made to remove explicitly setting the discharge parameters when the geometry changes. This should be handled by discharging. This is more apparent when we can pause because discharging happens during the step. Can you verify this is fixed in this [version](https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.7.0-rc.6/phet/capacitor-lab-basics_all_phet.html) @loganbraywork?

[2020-10-19 16:39] Denz1994 commented on #275
Reducing the brightness would mean reducing the scale of each white circle radius. I'd leave for @arouinfar to determine the appropriate ratio, assuming we want to change this scale.

[2020-10-20 16:14] KatieWoe commented on #256
It now seems to be back to the original behavior where it changes when the plate is changed consistently. In fact, it seems worse since it doesn't jump back to correct behavior when you play/step forward. I also notice the play and step forward buttons are behind the light from the bulb now, making them almost impossible to use.
![backtobuggy](https://user-images.githubusercontent.com/41024075/966

[2020-10-22 02:48] arouinfar commented on #275
Thanks @brooklynlash. I agree.

@Denz1994 let's turn down the max brightness. I played around with the code locally, and I think changing https://github.com/phetsims/capacitor-lab-basics/blob/master/js/common/view/BulbNode.js#L56 to the following works nicely.

[code]

[2020-10-22 02:51] arouinfar commented on #256
Charge is definitely not being conserved in master. For example:

1. Turn on Top Plate Charge
2. Charge capacitor (voltage irrelevant)
3. Disconnect capacitor, and take note of top plate charge.
4. Change plate separation or area, and the charge changes. This should not happen.

[2020-10-22 02:54] arouinfar commented on #276
I think this should be addressed by reducing the maximum halo size in #275.

@Denz1994 I think it looks strange to have mixed layering. Let's put the light on top of everything. I think they only z-order you'll need to adjust is the current arrows.

[2020-10-22 03:05] arouinfar commented on #245
I should also add something about the maximum bulb brightness.

[2020-10-27 00:14] ariel-phet commented on #273
@firasm unfortunately with the sim "as is" from our website if you are embedding it, there are not easy ways to change those sizes. Since our sims are designed to handle translated strings and such we have built in max widths and such for strings and have not explored the functionality you are requesting. As for all the empty space, if you choose the size of the embedding window to better match th

[2020-10-27 04:03] firasm commented on #273
sounds good - thanks for the reply!

Next time I'll have a chance to do this is likely the summer so we can close the issue for now, or leave it open - as you wish!

[2020-10-28 20:32] KatieWoe commented on #271
Both look fine on iPadOS 13 and 14

[2020-10-28 20:32] #271 closed

[2020-10-28 21:16] KatieWoe commented on #276
I was writing this up as a bug since it makes using the sim difficult.
**Problem description**
For https://github.com/phetsims/QA/issues/565. Mentioned in https://github.com/phetsims/capacitor-lab-basics/issues/256. Related to and possibly caused by changes in https://github.com/phetsims/capacitor-lab-basics/issues/270.
On the Light Bulb screen, if the light from the bulb is big enough, it covers

[2020-10-29 02:48] Denz1994 commented on #276
Seems like @KatieWoe is advocating for the light being behind interactable items? I didn't think about the paused state, but I must admit it does get annoying to have to "feel" around for the step button when the light blocks the play/pause panel.

Maybe move the current direction arrows behind the light and the play/pause button in front of it @arouinfar?

[2020-10-29 02:56] Denz1994 commented on #275
The adjustment was made on the 1.7 branch. I'll push a new version for comparison.

[2020-11-02 21:15] KatieWoe opened #277 "Small line off side of battery"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 14.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/565. This does also happen in published.
When the iPad is in portrait mode and there is no other tab, the battery on both screens has a small graphical oddity in the form of a line coming off the left side of the battery.

**Visuals**
![IMG_0012](https:

[2020-11-03 20:22] KatieWoe commented on #256
I'm not always seeing as much as I saw in https://github.com/phetsims/capacitor-lab-basics/issues/256#issuecomment-712965729, and have some trouble reproducing to that degree for some reason. But even so I get a consistent one time jump when I start to move the plates.

[2020-11-04 16:25] Denz1994 commented on #274
After changes in https://github.com/phetsims/scenery-phet/issues/618 it was fairly easy to use only one decimal place.

As a side note here are some changes I would make to  the implementation of StopWatch in CLB:

- [ ] `timer` in `VoltmeterToolboxPanel.js` should be refactored to reflect that it is just used as a placeholder. Maybe `psuedoStopWatch` or `StopWatchImage`.
- [ ] CapacitanceScreenVi

[2020-11-04 22:17] KatieWoe opened #278 "Current options should be disabled when current is not shown."
**Test device**
Pauling
**Operating System**
iPadOS 13.7
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/565. Happens on any platform. Option is not available in published.
There is a checkbox to show the current change. Bellow that are options for showing the behavior in terms of electrons or in terms of conventional current. You can switch between these two o

[2020-11-05 01:13] Denz1994 commented on #278
Good catch. The radio buttons have been made to be responsive to the current direction visibility. Will post a new rc version for verification.

[2020-11-11 04:38] Denz1994 commented on #276
The rendering order of the lightbulb and current arrows has been changed. The arrows are now always behind the lightbulb halos. Will deploy an RC version for verification.

[2020-11-18 14:34] Denz1994 commented on #277
It would be helpful to know if this oddity persists if the battery is flipped so the positive side is faced downward. To test, set the battery voltage to -1.5v. This may have something to do with the `BATTERY_POSITIVE_TERMINAL_HEIGHT` for `BatterGraphicNode.POSITIVE_UP`.

Labeling this a low-priority, as this should not block a maintenance release for this sim.

[2020-11-18 14:37] Denz1994 commented on #273
Closing this issue for now. If any further work is expected to be done here, we can reopen when that time comes.

[2020-11-18 14:37] #273 closed

[2020-11-18 18:49] KatieWoe commented on #277
It does occur if the battery is the other way around.
![IMG_0013](https://user-images.githubusercontent.com/41024075/99573985-08889700-2994-11eb-96f2-406071efa7c0.PNG)

[2020-12-17 02:30] Denz1994 commented on #256
The discharge model was simplified in the above commit. Also, the `previousCapacitance` was being changed as a side effect of discharging but used elsewhere (see `updateDischargeParameters`).

The steps in https://github.com/phetsims/capacitor-lab-basics/issues/256#issuecomment-710621089 should be verified by QA.

[2020-12-17 21:30] DevonQui commented on #276
The problem has definitely improved though I did find a case where the light will still be too bright to see the pause and play buttons. I think it's a pretty rare case to run into unless you're really trying to play with every button in the simulation but I thought it was important to note nonetheless.[
<img width="1440" alt="Screen Shot 2020-12-17 at 2 26 11 PM" src="https://user-images.githubus

[2020-12-17 21:37] DevonQui commented on #278
The radio buttons are grayed-out when the current direction visibility isn't enabled in the simulation. Closing.
<img width="223" alt="Screen Shot 2020-12-17 at 2 37 19 PM" src="https://user-images.githubusercontent.com/72042459/102546769-6385da80-4075-11eb-9e8f-ab6f75aff056.png">

[2020-12-21 19:29] brooklynlash commented on #276
I noticed this as well, and only occurs when the separation is low and the plate area is high when originally charging the capacitor, then taking it off the voltage and increasing separation/decreasing plate area. You cannot make it so the light is covering the pause/step forward buttons with the original charge without changing the plates.

[2021-01-13 16:29] brooklynlash opened #279 "Stopwatch always pulled to front even if voltmeter is grabbed"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows10

**Browser**
Chrome, Firefox

**Problem description**
In the "Light" section, both the stopwatch and voltmeter can be grabbed, but even if you grab and drag around the voltmeter, it will not pop to the front.

**Visuals**
![capacitorstopwatch](https://user-images.githubusercontent.com/72031637/104480406-c6d63000-5581-11eb-94ec-da65418

[2021-01-13 16:29] brooklynlash opened #280 "Stopwatch always in front even if voltmeter is grabbed"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows10

**Browser**
Chrome, Firefox

**Problem description**
For https://github.com/phetsims/QA/issues/588
In the "Light" section, both the stopwatch and voltmeter can be grabbed, but even if you grab and drag around the voltmeter, it will not pop to the front.

**Visuals**
![capacitorstopwatch](https://user-images.githubusercontent.com/7203

[2021-01-14 20:05] #278 closed

[2021-01-14 20:20] KatieWoe commented on #276
I made a gif of how this can be fairly easily achieved. Fully charge the plates when they are large and close together. Disconnect the plates but don't connect them to the light bulb. Make the plates small and far apart. Pause the sim. Connect them to the light bulb.
![howtocoverbuttons](https://user-images.githubusercontent.com/41024075/104644407-f9a82300-566a-11eb-8496-aa5994740ef1.gif)

[2021-01-14 20:23] KatieWoe commented on #275
This seems to have been implemented in rc.8. Due to https://github.com/phetsims/capacitor-lab-basics/issues/276 I'm leaving open in case further adjustments relating to this are needed.

[2021-01-14 21:20] KatieWoe commented on #275
Addition: in rc.8 I noticed that, when making changes beyond the max brightness of the bulb, the fact that the light stops changing can be a bit odd and may lead to some misunderstandings.
![maxlightlooksodd](https://user-images.githubusercontent.com/41024075/104650390-5b6c8b00-5673-11eb-893c-1867eb5286b8.gif)

[2021-01-14 21:58] KatieWoe commented on #256
Things are looking good in rc.8 so far. Closing for now, but will keep an eye out and reopen if something reappears.

[2021-01-14 23:36] KatieWoe opened #281 "Should arrows change if the type is changed while another is present"
For https://github.com/phetsims/QA/issues/588.
This is a suggestion and not much of an issue, so feel free to close if this isn't needed. When charges move and current direction arrows are on, the blue or red arrow will appear for a time and then disappear. If you switch options (from electrons to conventional or vice versa) while that arrow is visible, nothing changes. Should the arrow change in

[2021-01-15 01:12] arouinfar commented on #281
Good find, @KatieWoe. This actually looks like a bug to me because the current arrow becomes out of sync with the selected radio button. @Denz1994 is it possible to switch arrow type midway? If not, we could immediately hide the current arrow rather than continuing to display the wrong arrow type until it fades away.

[2021-01-15 01:14] arouinfar commented on #280
This looks a big weird to me @Denz1994, but I think it's a relatively minor issue. If it's easy to do, it would be nice to bring the selected tool to the front. If the z-ordering is more complicated than that, we can close this as wontfix.

[2021-01-15 01:15] arouinfar commented on #279
This is a duplicate of #280, closing.

[2021-01-15 01:15] #279 closed

[2021-01-15 01:17] arouinfar commented on #277
@Denz1994 this is not a priority for the redeploy. I am fine with deferring or closing as wontfix.

[2021-01-15 01:19] arouinfar commented on #276
@Denz1994 let's move the panel containing the TimeControlNode on top of the halo. This z-ordering would be consistent with the other panels in the sim.

[2021-01-15 01:25] arouinfar commented on #275
I don't think it pedagogically useful to change the capacitance while discharging, which is why I decided to keep the arrows layered behind the halo in #276. However, I do think we could afford to increase the max brightness a bit to reduce the likelihood of running into a situation like the one in https://github.com/phetsims/capacitor-lab-basics/issues/275#issuecomment-760483503. Since we'll be m

[2021-01-15 22:32] Denz1994 commented on #277
Closing as a wont-fix.

[2021-01-15 22:32] #277 closed

[2021-02-02 03:44] jonathanolson commented on #280
Fixed in master with the above commit (can you verify?)

Also the rectangular hit-box for the voltmeter body seemed unfortunate (made the voltmeter a pain, as its hitbox extended well past its visual). I added pixel hit-testing for the body (which works nicely in master, so the hit area matches the visual)... however I used a Scenery flag that was implemented ~7 months ago.

As this unpublished RC

[2021-02-02 03:45] jonathanolson commented on #280
Also, for this reason I did NOT push this to the 1.7 branch. Please explicitly let me know if I should do so (stacking will work, hit area will be weird).

[2021-02-02 03:47] jonathanolson commented on #275
Master and 1.7 had diverged, so I have NOT pushed this to 1.7.

Can you see the behavior in master and let me know if it looks good? And then explicitly let me know if I should move it to 1.7?

[2021-02-02 04:11] jonathanolson commented on #276
I believe I've fixed this in master, can you check? (Not committed to 1.7)

[2021-02-02 04:15] jonathanolson opened #282 "Plate charge display weirdness?"
In master:

1. Light Bulb (2nd) screen
2. Battery to 1.5V:
![image](https://user-images.githubusercontent.com/480878/106551408-6b3cf980-64d2-11eb-9828-83cb4dd33f3f.png)
3. Reduce Separation slightly:
![image](https://user-images.githubusercontent.com/480878/106551429-7859e880-64d2-11eb-9b8b-b9006b46c4f4.png)

It looks like the plate charges disappear visually (and act like they disappear, since mo

[2021-02-02 04:28] jonathanolson commented on #274
Completed.

[2021-02-02 04:28] #274 closed

[2021-02-02 05:03] jonathanolson commented on #281
There was a LOT of weird handling here... I changed a lot of this code, and I believe this should now work nicely in master. @KatieWoe can you verify?

[2021-02-02 05:06] jonathanolson commented on #237
I believe I've made the necessary fixes here. None have been moved to the 1.7 branch. At least one really is benefitted by having a feature added 7 months ago in Scenery. So master might be preferred? But also noticed weirdness in master (https://github.com/phetsims/capacitor-lab-basics/issues/282).

@arouinfar, thoughts on patching the 1.7 branch, vs. master? Because of the age of the RC, we woul

[2021-02-02 16:42] brooklynlash commented on #276
I was trying to replicate https://github.com/phetsims/capacitor-lab-basics/issues/276#issuecomment-760452899 but ran into another problem, when I change the separation or plate size at all, the energy disappears. @arouinfar is this intended?
![capacitorenergy](https://user-images.githubusercontent.com/72031637/106632386-eb974500-653a-11eb-84d1-5c426b01cff3.gif)

[2021-02-02 17:05] KatieWoe commented on #281
This part looks ok on master.

[2021-02-02 17:09] jonathanolson commented on #276
I discovered this and reported in https://github.com/phetsims/capacitor-lab-basics/issues/282.

I'll investigate

[2021-02-02 18:30] jonathanolson commented on #282
I believe we were incorrectly adjusting the voltage on the light-bulb screen when it wasn't connected to the light bulb. I believe it should be fixed with the above. @arouinfar can you see how this is working on master?

[2021-02-03 04:32] arouinfar commented on #282
@jonathanolson I can't reproduce the original issue in master, so I think this is safe to close.

[2021-02-03 04:32] #282 closed

[2021-02-03 04:57] arouinfar commented on #280
@jonathanolson this is looking good in master.

Yikes, I knew they were old, but I didn't realize quite how old. This redeploy has been back-burnered a few times because of competing priorities, and I really want to get it over the finish line. That said, it doesn't seem advisable to publish on such a stale branch. Taking new SHAs would require more QA time, but it would save @jonathanolson from c

[2021-02-03 04:58] arouinfar commented on #276
@jonathanolson looks good in master, back to you in case we end up needing to cherry-pick into 1.7.

[2021-02-03 05:00] kathy-phet commented on #280
Yes, let's take new SHA's. Two years is really old ... yikes!

[2021-02-03 05:07] arouinfar commented on #275
Looks good in master. Since we'll be taking new SHAs, I think we can close.

[2021-02-03 05:07] #275 closed

[2021-02-03 05:13] arouinfar commented on #237
@kathy-phet greenlit taking new SHAs in https://github.com/phetsims/capacitor-lab-basics/issues/280#issuecomment-772229852, back to @jonathanolson.

[2021-02-03 05:46] jonathanolson commented on #280
That would be my general preference, given the number of sim-specific code differences I saw between 1.7 and master. I'm also fine starting with an RC for 1.8 so that we don't need to redo any testing.

Preferences @kathy-phet or @arouinfar?

[2021-02-03 06:31] arouinfar commented on #280
I think it makes sense to start with a dev test, but that means the QA tail will be longer. That's okay with me so long as we don't let things get too stale again.

[2021-02-03 15:48] jonathanolson commented on #224
Handled the ranges in b0677d1f6aa19ab25417d3adc0923878996c0dc2, closing.

[2021-02-03 15:48] #224 closed

[2021-02-03 15:50] jonathanolson commented on #231
If we're hiding view elements, that would presumably not affect the model (so the voltmeter reading objects makes sense). We'd want to provide more explicit support for this type of thing.

[2021-02-03 19:35] kathy-phet commented on #280
Let's start with dev test - once QA load lightens a bit - it will be good and dovetails with the idea that we will hopefully fit PhET-iO upgrade to new studio for this simulation later this year. So dev testing on the current master (phet brand) would be a good first step to be set up for that.

[2021-02-03 19:37] kathy-phet commented on #280
@jonathanolson - can you please make an new QA issue, but hold off on creating building the dev version until we are ready to put it into the active test queue.

[2021-03-17 17:31] brooklynlash opened #283 "Current Direction buttons still activated when Current Direction is off"
This is for https://github.com/phetsims/QA/issues/616, seen on Win10.
![caplabbasics](https://user-images.githubusercontent.com/72031637/111511330-3ef0db80-8714-11eb-9043-f7296b369c3a.PNG)
When the "Current Direction" is deselected, you can still click the conventional and electrons current buttons. Should those also be disabled?

[2021-03-17 23:58] loganbraywork opened #284 "Total energy not updated correctly when plate distance changed and sim is paused"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 ver. 1909

**Browser**

Chrome Version 89.0.4389.90

**Problem description**

For https://github.com/phetsims/QA/issues/616

This seems to be similar to the closed issue https://github.com/phetsims/capacitor-lab-basics/issues/256. If the sim is paused and the distance between the plates is changed while connected to the battery,

[2021-03-18 00:28] loganbraywork opened #285 "Current direction arrows fail to reappear when plates reconnected to battery while sim paused"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 ver. 1909

**Browser**

Chrome Version 89.0.4389.90

**Problem description**

For https://github.com/phetsims/QA/issues/616

If the sim is paused and the plates are attached to the lights and then to the battery, the direction arrows will not reappear unless the plates are moved.

**Steps to reproduce**

1. Pause sim
2. Add charg

[2021-03-18 18:33] arouinfar commented on #285
Thanks @loganbraywork.

This looks like a possible regression @jonathanolson. I remember catching a similar issue before, see https://github.com/phetsims/capacitor-lab-basics/issues/234#issuecomment-407852627 onwards.

[2021-03-19 16:59] arouinfar commented on #283
Nice find @brooklynlash!

@jonathanolson this looks like a regression, see https://github.com/phetsims/capacitor-lab-basics/issues/278.

[2021-03-19 17:16] KatieWoe commented on #284
I believe total energy may be intended to change. @arouinfar would know better. But #256 does look like it is an issue again.

[2021-03-19 17:20] CliffordH123 commented on #256
This has come back for https://github.com/phetsims/QA/issues/616
![plateChargeChange](https://user-images.githubusercontent.com/9455257/111818552-eac93100-88a4-11eb-9b00-2a403a17c9a2.gif)
Steps:
1. Charge plates
2. Pause Sim.
3. Switch plates to bulb
4. Do not un-pause
5. Change Plate distance
6. Observe top plate charge graph change

[2021-03-19 17:35] arouinfar commented on #256
Good find @CliffordH123. Looks like yet another regression @jonathanolson, so I'm wondering if we should pause/cancel this dev test.

[2021-03-25 16:37] KatieWoe commented on #266
This is back in https://github.com/phetsims/QA/issues/616

[2021-03-25 16:49] KatieWoe commented on #276
Looks like this in https://github.com/phetsims/QA/issues/616:
<img width="951" alt="looksindev" src="https://user-images.githubusercontent.com/41024075/112511127-b8fa1380-8d57-11eb-8760-e3cc1578ddc8.png">
@arouinfar I think this can be closed?

[2021-03-25 17:27] KatieWoe commented on #280
This does look fixed in dev 5. Closing

[2021-03-25 17:30] KatieWoe commented on #281
Looks ok in dev.5. Closing

[2021-03-25 17:30] #281 closed

[2021-03-25 19:19] KatieWoe opened #286 "Snag-to-pick-up grabs multiple objects"
**Device**
iPad 6th Gen
**OS**
iPadOS 14.4.1
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/616
When using touch to drag many of the objects, passing over other objects picks them up as well. This can be particularly troublesome when you end up picking up multiple parts of the voltmeter, rather than just one.
**Steps to Reproduce**
1. Use snag-to-pick-up to pi