[2014-12-19 18:55] veillette opened #1 "Using svg rendering rather than Canvas"
In CapacitorLabScreenView.js it would be preferable to use svg rendering instead of the default canvas.

[code]

[2014-12-19 19:07] veillette opened #2 "Use Text instead of HTMLText"
One can replace
[code]

by

[code]

There is also a ScientificNotationNode in SceneryPhet that may prove to be useful to express numbers in scientific notation. An example of use can be found  in MoleculeCountNode (for ph-scale).

[2015-02-04 23:17] jonathanolson opened #3 "Assertion failure during launch"
[code]

Looks like a constraint on ArrowNode options is being broken.

[2015-02-12 02:51] jonathanolson opened #4 "Multiple lint issues"
Mostly to do with how numbers are written.

[2015-02-21 00:57] EmilyRandall commented on #3
All assertions now pass

[2015-02-21 00:57] #3 closed

[2015-03-12 19:38] pixelzoom commented on #4
This is still a problem as of 3/12/15.

[2015-03-12 20:01] EmilyRandall commented on #4
What does this mean?

[2015-03-12 20:07] jonathanolson commented on #4
There's a process to check for common errors or bad patterns (called 'lint'). To run it, running "npm install" and then "grunt lint" in the simulation base directory should list any issues.

Currently it gives this output:
[code]

[2015-03-13 05:01] samreid commented on #4
`grunt lint` task may be broken at the moment, see https://github.com/phetsims/chipper/issues/117#issuecomment-78800008

[2015-03-13 14:58] pixelzoom commented on #4
`grunt lint` task is working fine for me, and it shows the errors as noted in https://github.com/phetsims/capacitor-lab/issues/4#issuecomment-78594314.

[2015-04-04 16:34] pixelzoom commented on #4
@EmilyRandall This is still a problem, preventing the sim from being built. @ariel-phet asked me to publish a dev version today, and I had to tell him that the only way I can do that is to circumvent the "lint" process.

[2015-04-04 17:36] EmilyRandall commented on #4
Okay, I think I fixed it (I think I'd forgotten to push some of the changes to the server)

[2015-05-28 21:17] jessegreenberg opened #5 "branch: wip"
The wip branch holds a snapshot of the state of Capacitor Lab as a work in progress.  This sim state includes all work completed by @EmilyRandall as of 5/28/15.

[2015-06-09 01:21] ariel-phet opened #6 "Rename this repo to "capacitor-lab-basics""
@jessegreenberg - please rename the repo as we discussed

[2015-06-09 01:32] ariel-phet opened #7 "Capacitor Lab Basics Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 06/03/2015)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed**
- [x] **Learning goals and standards identified** (Date: 06/03/2015)
- [x] **Design concept comple

[2015-06-09 17:57] pixelzoom commented on #6
I took care of the rename, since @jessegreenberg doesn't have Admin permissions. I also updated chipper active-repos and active-sims.

[2015-06-09 18:11] ariel-phet commented on #6
Thanks @pixelzoom - I decided to make @jessegreenberg a part of the "owner" team, since it seems appropriate to give him admin privileges. Thanks for taking care of the issue though!

[2015-06-09 18:11] #6 closed

[2015-06-09 18:15] ariel-phet opened #8 "Update readme"
Now that that the repo has been renamed, lets update the readme to reflect the new name. Not sure if this best done by a grunt task or by manually updating.

[2015-06-09 18:16] ariel-phet commented on #8
Ah, looks like this was just done! Closing

[2015-06-09 18:16] #8 closed

[2015-06-25 14:55] pixelzoom opened #9 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-06-25 16:24] jessegreenberg commented on #9
All usages of Math.toFixed() have been replaced with Util.toFixed(). Closing.

[2015-06-25 16:24] #9 closed

[2015-07-27 15:24] samreid opened #10 "Delete unused images"
I'm unfamiliar with Capacitor Lab Basics and know it is under development, but the "unused image" reporter is indicating several images that are unused:
https://github.com/phetsims/chipper/issues/189

If they *will eventually* be used, you can ignore this warning and close this issue.  If they won't be used, please remove them and their associated entries in license.json:

closeButton.png
probe_3D

[2015-07-27 16:28] jessegreenberg commented on #10
Thanks @samreid, I removed images that I do not expect will be in the final version of capcator-lab-basics.  The remaining two images will be added shortly.  Closing.

[2015-07-27 16:28] #10 closed

[2015-08-06 15:46] jessegreenberg opened #11 "Transition capacitor-lab-basics into accessibility development phase"
In a few weeks, @EmilyRandall will begin accessibility development and testing using capacitor-lab-basics.  We need to discuss the best way to begin that process and hand off the sim.

Initial questions that come to mind:
• Will accessibility progress exist in master or a new branch for this sim?
• Would it be beneficial for @EmilyRandall and @jessegreenberg to do some pairing on this sim during t

[2015-08-07 21:21] jessegreenberg opened #12 "capacitor-lab-basics TODO list"
In 8/6/2015 design meeting, we decided that it would be helpful to create a TODO list for the largest outstanding issues and TODO's for this sim.  The following is the compiled list as of 8/7/15.  New items are likely to be added.

TODO:
- [x] Add a draggable Voltmeter with draggable probes.
- [x] Add a gray shaded sphere to the end of the circuit switch wire.
  - Shaded sphere radius should be sm

[2015-08-07 21:31] jessegreenberg commented on #11
Thoughts as of 8/6/15, to be discussed again soon:

@jessegreenberg will prioritize code refactor and documentation checking in preparation for the hand off.  @EmilyRandall will work in a branch for accessibility, and will pair with @jessegreenberg to overview model and design updates.

[2015-08-11 22:35] pixelzoom opened #13 "sim fails lint"
[code]

[2015-08-11 22:43] jessegreenberg commented on #13
Sorry about that, should be fixed.  Closing.

[2015-08-11 22:43] #13 closed

[2015-08-11 23:38] pixelzoom opened #14 "unused images"
Noted during a run of `grunt-all.sh build`.

[code]

[2015-08-13 16:29] jessegreenberg commented on #14
Thanks for catching.  Images are now either in use or removed from sim.  Sim now builds without warning. Closing.

[2015-08-13 16:29] #14 closed

[2015-09-02 01:19] jessegreenberg commented on #4
This sim is lint free and passes cleanly through test-server.  Closing.

[2015-09-02 01:19] #4 closed

[2015-09-02 01:22] jessegreenberg commented on #2
HTMLText is no longer used in this sim.  Closing.

[2015-09-02 01:22] #2 closed

[2015-09-07 20:00] jessegreenberg opened #15 "Battery slider labels hidden in specular highlight"
Now that the battery highlight has been corrected and the slider has been rotated as requested in #12, the slider tick labels are hidden in the specular highlight.

![battery_highlight_issue](https://cloud.githubusercontent.com/assets/6396244/9722347/c6aba5de-5568-11e5-87c2-6e4dbe0f9e31.PNG)

@arouinfar, how would you like to handle this?

[2015-09-07 20:05] jessegreenberg commented on #15
Even without the specular lighting, I think the white label is difficult to see on the gold section of the battery image.

[2015-09-08 15:21] pixelzoom commented on #15
The bottom 2 ticks look OK to me. How about changing the color of the top tick (+1.5V) to black?

[2015-09-08 15:23] pixelzoom commented on #15
Other ideas:

(1) Make the specular highlight less bright, by using lighter versions of the battery colors instead of white.

(2) Move the slider to the left side of the battery, and move the ticks to the right side of the slider (so that they don't overlap the specular highlight).

[2015-09-08 15:30] jessegreenberg commented on #15
I thought that it might look strange to have tick marks with different colors, but now that I see it I think it looks pretty good!
![top_mark_black](https://cloud.githubusercontent.com/assets/6396244/9739237/187e80b8-560c-11e5-94ba-c540f887ffc1.PNG)
@arouinfar, what do you think of this as a solution?

[2015-09-08 19:34] arouinfar commented on #15
I think it looks great @jessegreenberg! Thanks for your suggestions @pixelzoom.

Let's leave the highlight alone for now, and if need be I can implement @pixelzoom's other suggestion.

[2015-09-12 06:51] jessegreenberg commented on #15
Great, done and closing.

[2015-09-12 06:51] #15 closed

[2015-10-15 21:57] arouinfar opened #16 "Current arrows appear while capacitor disconnected"
At times, the current arrows can appear when the battery is disconnected from the capacitor. This can be tricky to reproduce, but one possible way is to:
* Set battery voltage to -1.5V
* Charge the capacitor, and set capacitor area/separation to something in the middle (e.g. 7mm, 300mm^2)
* Disconnect capacitor, and adjust separation and/or plate area

![clb](https://cloud.githubusercontent.com/as

[2015-10-27 20:41] jonathanolson opened #17 "Linting build failure"
[code]

[2015-10-27 23:10] jessegreenberg commented on #17
Thanks for the catch.  Fixed in commit above, sim builds.

[2015-10-27 23:10] #17 closed

[2015-12-04 19:37] jessegreenberg opened #18 "add namespace"
From phetsims/tasks#378, this sim needs a namespace.

[2015-12-07 17:59] jessegreenberg commented on #18
namespace added to capacitor-lab-basics in commit above.  Closing.

[2015-12-07 17:59] #18 closed

[2015-12-08 21:25] jonathanolson opened #19 "Automated testing error"
[code]

[2015-12-08 22:31] jessegreenberg commented on #19
Introduced in cbbcea0a0a3ac3178c3addb317dfb42f828845a9.  Fixed in commit above, sim passes through test server.   Closing.

[2015-12-08 22:31] #19 closed

[2015-12-17 01:07] jessegreenberg opened #20 "Investigate role='treeitem' for circuit structure"
There is an aria role called 'tree' which can contain children with role 'treeitem'.  This looks like a way to convey hierarchical structure to the AT and user.  This could be very helpful in conveying information about circuit structure.  Assigning to myself to investigate further.

[2016-01-07 01:41] jessegreenberg opened #21 "TODO list for capacitor-lab-basics accessible content"
@EmilyRandall has been doing great work adding accessible content to Capacitor Lab: Basics.  The DOM has headings, labels, and descriptions with a good structure.  In 'forms' mode, it works well with predictable behavior.  Here is a short TODO list that should get the sim working from the perspective of a document.

 - [ ] Add accessible content to checkboxes/checkbox groups
 - [ ] Find an appropr

[2016-01-07 03:17] jessegreenberg commented on #21
I notice that the checkboxes can only be read in forms mode.  This is a separate issue that will take investigation.

[2016-02-08 17:22] jessegreenberg opened #22 "remove unused strings"
Capacitor Lab: Basics has many unused strings.  Warnings for unused strings are printed after the build task.

[2016-04-01 17:16] jessegreenberg opened #23 "branch: accessible-instance"
We are going to be working on resolving buggy behavior in this simulation and getting it to a state where it can be outfitted for PhET-iO.  Because of this, we are storing accessibility progress in the accessible-instance branch and continuing to work on code clean up in master.

[2016-04-05 23:56] jessegreenberg opened #24 "Performance issues with accessibility"
When accessible content is active ('?accessibility' in use), the sim performance is reduced when the capacitor is discharging.  Without the query parameter, the discharging capacitor performs just fine.

[2016-04-06 19:16] andrewadare opened #25 "Factor common code from screen view models into CapacitorLabBasicsModel."
See whether `step()` can be refactored from each screen view model, or if it needs to be deleted.

Investigate possibility of isolating the code for each of CapacitanceScreenView and C.L.B.LightBulbScreenView.

[2016-04-06 19:18] andrewadare opened #26 "Explore using Twixt/Tween for current indicators"
This may be a better approach for performance, maintainability, and uniformity.

[2016-04-06 19:19] andrewadare opened #27 "CircuitSwitch refactor"
There is a substantial amount of duplicated code, and the constructor should be rethought. It takes a lot of code to create each switch, and it is not an intuitive API.

[2016-04-06 19:22] andrewadare opened #28 "CircuitConfig constructor"
- Consider a new pattern for construction and making all of those variables public.
 - Populate with defaults for the intro screen.

[2016-04-06 19:22] andrewadare commented on #28
After discussion, we concluded that the current approach of using an options object is best. It allows us to easily create defaults have a simpler call signature.

[2016-04-06 19:24] andrewadare opened #29 "Update comments/documentation"
The documentation is based on the Java, and some of it is out of date.  See e.g. Capacitor.js.

[2016-04-06 19:27] andrewadare opened #30 "Improve discharge model in Capacitor.js"
Exponential discharge continues asymptotically to zero. Could needlessly degrade performance. Create a Vmin (or Imin) threshold, below which no current flows.

[2016-04-06 19:29] andrewadare opened #31 "WireSegment.js cleanup"
Source file is currently messy.  There should be some refactoring.  We should remove the unused `cleanup()` functions, because our wires are static and do not need to be disposed.  We can probably remove some types that were experimental and are now unused.

[2016-04-06 19:38] andrewadare opened #32 "Overhaul of Wire...To... types"
The files WireBatteryToCircuitSwitch.js, WireCapacitorToCircuitSwitch.js, and WireLightBulbToCircuitSwitch.js have several problems:

 - [x] These each assume specific geometry information. This should be provided from a common source, or else explicitly described in each file.
 - [x] Their names are confusing/misleading. Each returns a type, and inherits from Wire. Rename to something like
[code]

[2016-04-06 19:47] andrewadare opened #33 "General cleanup"
There is commented code that should be deleted.

It looks like there is a function in WireShapeCreator that is no longer in use.  This should be removed.  It is called by createShapes in wire, which should also be removed.

[2016-04-06 19:50] andrewadare opened #34 "Simplify call signatures in all constructors"
Some constructors (like VoltMeter) take a large number of parameters. After some discussion, we concluded that the most idomatic, safe, and extensible approach is to pass in an `options` object.

[2016-04-06 19:51] andrewadare opened #35 "Move WireLightBulbSwitch"
WireLightBulbToCircuitSwitch should not be in common/. We will determine later what to do with the nested file structure, to be discussed with some other developers

[2016-04-06 19:52] andrewadare opened #36 "Revisit voltmeter implementation"
Verify that VoltmeterShapeCreator still works well given that much of the voltmeter image representation has changed (mostly probes)

[2016-04-06 19:54] andrewadare opened #37 "Remove Voltmeter.getUsefulProbeLocations"
Voltmeter.getUsefulProbeLocations is not documented and is not neatly organized. This was introduced for accessibility and will be removed.

[2016-04-06 19:55] andrewadare opened #38 "Improve upon array indexing pattern in `createWire()`"
Change the createWire, etc functions, these rely on taking the capacitor and lightbulb from an array
which only makes sense to the developer at the time.

[2016-04-06 19:57] andrewadare opened #39 "ConnectionAreaInputListener is poorly named"
Rename ConnectionAreaInputListener, since this is a node not a listener. Perhaps to ConnectionAreaNode.

[2016-04-06 19:58] phet-steele opened #40 "Option to take probes off of the circuit in keyboard nav?"
After selecting a probe, you can use the arrow keys to move to set locations (free movement is not allowed). These set locations are only on the circuit, and the probe is trapped inside the circuit with no way to "detach" it. Can we add a location off the circuit?

I've tried this in Win 10 Chrome/Edge. For phetsims/tasks/issues/566

[2016-04-06 19:58] andrewadare commented on #33
TODO's should we be swept and handled.

[2016-04-06 19:58] phet-steele opened #41 "Voltmeter probe locations are not quite ideal in keyboard nav"
After selecting a probe, you can use the arrow keys to move to set locations (free movement is not allowed). The locations for the top and bottom plates of the capacitors are good in most situations, but at smaller separations and smaller plate areas, the probes do not quite reach:
![probea11y](https://cloud.githubusercontent.com/assets/5863899/14330527/37041500-fbfe-11e5-8a9f-593fdcadf01d.PNG)

I

[2016-04-06 19:58] phet-steele opened #42 "Can we make the Voltmeter movable with keyboard nav?"
When the Voltmeter is selected, neither WASD nor the arrow keys can move it around. I'd think this isn't a big deal, but not being able to move the Voltmeter is still a loss of functionality. I've tried this in Win 10 Chrome/Edge. For phetsims/tasks/issues/566

[2016-04-06 19:59] andrewadare opened #43 "HingePointNode geometry improvements"
HingePointNode uses constants to define the shape.  It would be better if these were constructor params or options.

[2016-04-06 21:19] phet-steele opened #44 "Bar Graphs selectable by keyboard nav while disabled"
@jessegreenberg this seems like buggy behaviour to me, but maybe it isn't? When the "Bar Graphs" option is unchecked, it is still possible to tab select the bar graph (on both screens).
![bara11y](https://cloud.githubusercontent.com/assets/5863899/14333254/f3ed3a82-fc0a-11e5-8071-e20fd0df5f75.PNG)

I've tried this in Win 10 Chrome/Edge. For phetsims/tasks#566

[2016-04-06 21:24] phet-steele commented on #42
@jessegreenberg maybe handle this like the balloons in BASE? Where they can be "picked up" then "released".

[2016-04-07 03:41] ariel-phet commented on #11
This issue seems no longer relevant, closing

[2016-04-07 03:41] #11 closed

[2016-04-07 14:40] jessegreenberg commented on #44
Yes, this is buggy behavior.  Bar graphs should not be in the navigation order when invisible.

[2016-04-07 14:44] jessegreenberg commented on #42
Initial designs prioritized accessibility for keyboard navigation and it was likely determined that dragging the voltmeter was not an important feature for accessibility.  But it could be a nice feature for general keyboard navigation.  We can leave this open and discuss with the design team.

[2016-04-07 14:57] jessegreenberg commented on #41
Thanks @phet-steele, fixed in above commit.  Closing.

[2016-04-07 14:57] #41 closed

[2016-04-07 15:18] phet-steele opened #45 "Leaving the help menu is quite inconsistent"
@jessegreenberg you know how to decipher these hieroglyphics:
![20160407_090700](https://cloud.githubusercontent.com/assets/5863899/14356072/981b8a06-fca0-11e5-9bb3-f1aef5e5dcfc.jpg)

For everyone else, the gist of it is that the varying ways of leaving the help menu are drastically inconsistent. It would be nice @jessegreenberg if all 18 of these cases I've outlined behaved as the first one does.

[2016-04-07 15:50] phet-steele commented on #21
@jessegreenberg pressing "enter" on bar graph toggle buttons (second screen) moves focus to the capacitance checkbox

[2016-04-07 16:23] jessegreenberg commented on #40
I am not sure, this is a question for the design team.  It was likely determined that it was most convenient to just have locations on the circuit, and off circuit locations were unnecessary. But I could see it being important to have one position in the rotation be the initial position of the probe.

[2016-04-08 15:19] #30 closed

[2016-04-08 15:53] #43 closed

[2016-04-08 15:56] jessegreenberg opened #46 "Prepare simulation for instrumentation"
@andrewadare and @jessegreenberg will be preparing this simulation for instrumentation.  This will involve some restructuring of the code after review, making sure that the simulation is free of bugs and issues, and isolating accessibility code into a branch for the time being.  This issue will track the progress of each of these steps.

[2016-04-08 17:08] andrewadare commented on #37
This is an accessibility-related issue; assigning to @jessegreenberg instead after discussing.

[2016-04-08 18:38] jessegreenberg commented on #16
There is a chance that #26 will fix this issue, we should handle that first and then see if this is still an issue.

[2016-04-08 19:11] andrewadare commented on #32
Now called:

BatteryToSwitchWire.js
CapacitorToSwitchWire.js
LightBulbToSwitchWire.js

[2016-04-08 20:34] andrewadare commented on #32
Today's commits have largely resolved this. The positional/geometry info is now used in a very reasonable way to initialize these objects.

The factorable code turned out to be unused code! This has now all been deleted. The remaining single-use public functions were removed; their logic is now implemented directly in the constructors.

[2016-04-08 20:38] jessegreenberg commented on #32
These files are looking much cleaner, thanks @andrewadare! Closing this one.

[2016-04-08 20:38] #32 closed

[2016-04-08 20:40] jessegreenberg commented on #28
Considering https://github.com/phetsims/capacitor-lab-basics/issues/28#issuecomment-206521561, I think the only remaining task is to populate with defaults.

[2016-04-08 21:57] jessegreenberg commented on #26
Done in the commit above, closing.

[2016-04-08 21:57] #26 closed

[2016-04-08 22:01] jessegreenberg commented on #16
#26 did not fix this, but it did elucidate a possible solution.

[2016-04-08 22:14] jessegreenberg opened #47 "Factor circuit nodes into a common type"
It looks like CapacitanceCircuitNode and LightBulbCircuitNode have a bit of common code and can benefit from extending a common type such as CircuitNode.

I notice that CCK Basics uses a CircuitNode, so maybe a unique name would be better to avoid the collision.

[2016-04-08 22:43] jessegreenberg commented on #16
I tried for a few minutes and can no longer reproduce this issue. Tried the steps above in the original comment.

This commit should be cherry picked to the accessibility branch because the issue was observable with keyboard navigation as well. Closing.

[2016-04-08 22:43] #16 closed

[2016-04-11 21:10] jessegreenberg commented on #45
ff315af2b42049deeb6bceb6a48b2456330b3907 changes the implementation of the keyboard help panel so that it behaves like an accessible dialog.  Navigation is restricted to the panel unless the user presses  'escape' or closes the dialog with the 'Close' button.  Regardless of the method of closing, navigation returns to the previous active element.  Closing.

[2016-04-11 21:10] #45 closed

[2016-04-11 22:30] jessegreenberg commented on #44
Fixed in the commits above, closing.

[2016-04-11 22:30] #44 closed

[2016-04-12 18:08] phet-steele opened #48 "Automated Testing Sim Errors (4/12/2016 10:23 AM)"
requirejs:
[code]

built version:
[code]

[2016-04-12 18:59] andrewadare commented on #48
There was some discussion in this morning's dev meeting about just this. The Tween dependency was put directly into the preloads list in the HTML file, but we should include it through the build system.

[2016-04-12 19:18] andrewadare commented on #48
I modified package.json to include Tween as done for [Function Builder](https://github.com/phetsims/function-builder/blob/master/package.json).

I rebuilt the html file using `grunt generate-development-html` and committed the result.

@jessegreenberg and I are meeting soon to work on deployment.

[2016-04-12 19:40] andrewadare commented on #35
This module (now called LightBulbToSwitchWire) is used by ParallelCircuit, which is used in both screens. It is a Wire descendant, which is made clearer by the new name, and a Wire is certainly appropriately categorized as a common element. At this point, the current organization seems the best way to go after all. Closing.

[2016-04-12 19:40] #35 closed

[2016-04-12 20:05] jessegreenberg commented on #48
That looks like the fickle HSlider issues we occasionally see from the test server.  I ran the fuzz test for about 2 hours with requireJS and never encountered this bug.  I also played with the sliders for a while and never encountered this.

[2016-04-12 20:23] andrewadare commented on #28
@jessegreenberg, 0c6e2fc3cef0e2ad77d79c1c571898b30ed80294 looks okay in my tests, but let's discuss today before closing.

[2016-04-12 20:52] andrewadare commented on #48
As @jessegreenberg pointed out,  there are  two unrelated issues here. As for the TWEEN issue, we are not able to reproduce it. Can you re-test after 0a4c071652488a85a351caf0daf77c193e96728c and let us know the outcome?

[2016-04-12 21:11] jessegreenberg opened #49 "Remove capacitor-lab from spot"
Now that the sim is capacitor-lab-basics, we should remove capacitor-lab from spot.  capacitor-lab still exists on the server and has some old prototype versions that are no longer worth keeping, or are missing top level html files.

[2016-04-12 21:31] phet-steele commented on #48
Yup, second issue un-reproducable.

[2016-04-12 22:05] andrewadare commented on #48
Word up! Since the first issue is a [documented Heisenbug](https://github.com/phetsims/scenery/issues/456) triggered by HSlider, and the second is  irreproducible, can we close this?

[2016-04-12 22:12] phet-steele commented on #48
I'd say so! :tada:

[2016-04-12 22:12] #48 closed

[2016-04-12 22:23] andrewadare commented on #28
We had discussed updating the C.L.B.LightBulbModel ctor by taking defaults. Turns out the first parameter we looked at is the only duplicated parameter. All others have new, non-default values.

Thus, there is nothing left to do.

[2016-04-12 22:23] #28 closed

[2016-04-13 02:39] samreid opened #50 "Instrument for phet-io"
From https://github.com/phetsims/phet-io/issues/368, @andrewadare let's discuss your status for capacitor lab basics and when it would be a good time to start collaboration for phet-io instrumentation.

[2016-04-13 14:08] andrewadare commented on #50
A lot of cleanup has taken place in the past week. Many refactoring tasks have been completed. There's one major outstanding cleanup item, which is the removal of accessibility code from master (#23, #46). @jessegreenberg is working on that this week (and may do some delegating to me).

Since we are close, it is not too early to lay out a plan. I am available to discuss this any time soon, even to

[2016-04-13 16:01] jessegreenberg commented on #49
spot is giving me trouble with permissions while trying to remove the directory.  Not sure why, but this is likely not worth pursuing.  capacitor-lab is a port that will eventually be completed, and future dev versions can be added to this directory.  Closing this issue.

[2016-04-13 16:01] #49 closed

[2016-04-13 16:02] jessegreenberg commented on #46
A dev version of this sim was submitted for testing to flush out as many bugs as possible before instrumentation.

[2016-04-13 16:14] jessegreenberg opened #51 "Voltmeter readout layout change"
I notice that the readout is a bit tight on the voltmeter when the voltage reads negative:
![capture](https://cloud.githubusercontent.com/assets/6396244/14500683/3eff33c2-0160-11e6-98a9-de440f6b30a4.PNG)

The value also jumps around in the panel when changing sign, and it is a little distracting in this case.

[2016-04-13 16:25] samreid commented on #50
Hi @andrewadare, today is a good day for me to work on phet-io.  Let me know if you have time before 3pm to start instrumentation for Capacitor Lab Basics.

[2016-04-13 16:36] jessegreenberg commented on #50
@samreid and @andrewadare feel free to begin instrumentation, but I will also mention that Capacitor Lab: Basics is still in a heavy refactor phase, and it is also in the process of its first dev test.  I am currently working on these issues:

- https://github.com/phetsims/capacitor-lab-basics/issues/47
- https://github.com/phetsims/capacitor-lab-basics/issues/34
- https://github.com/phetsims/capa

[2016-04-13 16:38] samreid commented on #50
@jessegreenberg that's good to know.  @andrewadare and I can wait until things settle down a bit.  Can you un-"hold" this issue once things are more stable?

[2016-04-13 16:41] jessegreenberg commented on #50
Thanks @samreid, I will un-"hold" and assign to you once these issues are wrapping up.

[2016-04-13 16:42] jessegreenberg commented on #51
This kind of issue is of lower priority until after code is prepped for instrumentation.

[2016-04-13 16:44] jessegreenberg commented on #37
Removed from master, along with some other accessibility code from master branch.  Closing.

[2016-04-13 16:44] #37 closed

[2016-04-13 16:51] jessegreenberg opened #52 "Rename types prefixed with CapacitorLabBasics"
A few types in this sim have 'CapacitorLabBasics' as a prefix to the name, creating very long names, like
'CapacitorLabBasicsLightBulbScreenView'.  This sim would benefit from changing the names to have the 'CLB' acronym instead, changing the above example to CLBLightBulbScreenView.

There are also a few types with a 'CL' prefix, likely from when this sim was still 'Capacitor Lab'.  As we do this,

[2016-04-13 17:39] jessegreenberg opened #53 "Inner types not added to namespace"
I noticed that some inner types are not added to the namespace.  See BarMeterNode.js.  Other files that have inner types should be checked to make sure that everything is added to the namespace correctly.

[2016-04-13 18:41] jessegreenberg commented on #22
Unused strings removed and we have a happy grunt once more :pig:

Closing.

[2016-04-13 18:41] #22 closed

[2016-04-13 19:39] BryceAG opened #54 "Negative charge won't dissipate"
Test device:
Bates

Operating System:
Win 7

Browser:
Chrome

Problem description:
If the capacitor is given negative charge, then connected to the light bulb, it will keep the same charge. This happens regardless of how negative the charge is, as long as it is negative.

Steps to reproduce:
while the capacitor is hooked up to the battery, set the battery to a negative voltage. Then connect to the

[2016-04-13 19:39] samreid opened #55 "Development HTML is out-of-date"
While working on https://github.com/phetsims/tandem/issues/9 I ran

[code]

This indicated capacitor-lab-basics_en.html was out of date.  I'll commit shortly.

[2016-04-13 19:41] samreid commented on #55
Fixed in the commit above, reassigning to @andrewadare or @jessegreenberg to verify.

If this change was intended to launch the simulation in "phet" brand, the recommended way to do so is with the query parameter "?brand=phet", or by launching from phetmarks which does this automatically.

[2016-04-13 19:48] BryceAG commented on #54
additionally, if you change the size of the capacitor while this is happening, the light bulb will still glow the same amount unchanging, but the current arrows will show up and the bar graphs will still change. If the charge is positive the bulb glow will still change accordingly.

[2016-04-13 19:53] andrewadare commented on #55
I ran `grunt generate-development-html` yesterday afternoon (while working on #48), then @jessegreenberg deployed a dev version to spot shortly afterward. I am not sure how/why the HTML came to be marked as out of date.

[2016-04-13 19:58] samreid commented on #55
@andrewadare I suspect that if you ran `grunt generate-development-html` again, it would revert to the wrong brand (would be good to verify this).

Do you have a build-local.json file in your $HOME/.phet directory?  If so, does it have this line?

[code]

If you have the build-local.json file and brand:phet, then run `grunt generate-development-html` it should come out properly.

[2016-04-13 20:15] andrewadare commented on #55
I do not have ~/.phet/build-local.json. The [docs](https://github.com/phetsims/phet-info/blob/master/sim_deployment.md) say that creating it is beyond their scope. But I tried
[code]
and got this change:
[code]

Is this the correct outcome? Am I supposed to  commit it?

[2016-04-13 21:35] jessegreenberg commented on #55
That looks correct @andrewadare, that matches the commit from @samreid in a28a237b8c5a22309e7795870a772b7f46f229ff.  We can meet at some point to set up your build-local.json file.

[2016-04-13 21:47] samreid commented on #55
I think I already did so here: https://github.com/phetsims/capacitor-lab-basics/commit/a28a237b8c5a22309e7795870a772b7f46f229ff

[2016-04-13 21:51] samreid commented on #55
You will need a correct build-local.json file, it is not clear how you got the right answer in https://github.com/phetsims/capacitor-lab-basics/issues/55#issuecomment-209627936 without the right brand in the build-local.json file.

[2016-04-14 18:32] jessegreenberg commented on #54
@andrewadare would you mind looking at this?  I think this might be related to the voltage threshold change (https://github.com/phetsims/capacitor-lab-basics/issues/30)

[2016-04-14 18:33] jessegreenberg commented on #53
I initially created the namespace, I will take a look at this.

[2016-04-14 19:02] arouinfar commented on #54
Also observed on Mac OSX 10.11.2 and Chrome 49.

[2016-04-14 23:13] jessegreenberg commented on #39
Name change and references look good, but while working on #53 I noticed that the constructor and name registered to namespace were not changed.

[2016-04-14 23:14] andrewadare commented on #39
Oh boy. I'll fix it

[2016-04-14 23:15] jessegreenberg commented on #39
Ah, sorry I didn't see your message!  Since I was already working in there for #53 I already committed the fix.

[2016-04-14 23:18] andrewadare commented on #39
Even better.

[2016-04-14 23:19] jessegreenberg commented on #39
Re-closing.

[2016-04-14 23:19] #39 closed

[2016-04-14 23:33] jessegreenberg commented on #53
Done in commit above, closing.

[2016-04-14 23:33] #53 closed

[2016-04-15 04:45] arouinfar opened #56 "When connected to light bulb, the plate charge increases as capacitance increases"
Tested on latest Mac/Chrome and Mac/Safari as part of https://github.com/phetsims/tasks/issues/575.

The charge on the plates will increase if the capacitance is increased (by increasing area or decreasing separation of the plates) while the capacitor is being discharged through the bulb.

To reproduce, charge the capacitor, switch to light bulb, increase plate area while discharging. In the examp

[2016-04-15 05:05] arouinfar opened #57 "Document the minimum number of E field lines in the Teacher Tips"
Tested on latest Mac/Chrome and Mac/Safari as part of https://github.com/phetsims/tasks/issues/575.

When the capacitor discharges, the number of electric field lines will reduce as the plate charge dissipates. However, once the plate charge reaches ~0.12 pC the number of electric field lines stays constant until the plate charges reaches 0.0 pC. This is particularly noticeable, as it could take s

[2016-04-15 05:09] arouinfar commented on #51
@jessegreenberg I think this can be taken care of by bumping down the font size of the readout one or two points. It also looks like the readout window isn't quite centered within the body. There's also more negative space on the right side of the voltmeter body, so you can probably also expand the size of the box by a pixel or two on the right.

[2016-04-15 15:53] andrewadare commented on #54
Sorry, just learned that using the word "fixes" in a commit message automatically closes the issue. @jessegreenberg, I believe this is resolved now.

[2016-04-15 16:24] jessegreenberg commented on #57
It looks like this behavior was also in the Java version but is particularly noticeable now that the capacitor can discharge.
![recording 9](https://cloud.githubusercontent.com/assets/6396244/14568003/204efd96-02f4-11e6-8d59-768e5fecee72.gif)

[2016-04-15 16:28] jessegreenberg commented on #56
Thanks for catching this @arouinfar.  This used to happen whenever the capacitor changed geometry, regardless of its connection to the battery.  Looks like this was somehow missed when the other cases were fixed.

[2016-04-15 16:33] jessegreenberg commented on #54
Octocat can be silly sometimes :octocat:, I do that too often as well.  I think it automatically closes if 'fix' comes immediately before the issue number reference.  Commit looks good, and does indeed fix the issue.  Closing.

[2016-04-15 16:33] #54 closed

[2016-04-15 16:50] andrewadare commented on #55
Will set up build file with @jessegreenberg next week,  in conjunction with account setup on spot server. Since all that is unrelated to this, and this has been resolved, I will close now.

[2016-04-15 16:50] #55 closed

[2016-04-15 17:32] jessegreenberg opened #58 "Current stops flowing too early on discharge"
When discharging the capacitor, the current indicators will disappear before the plate voltages hits zero.  They begin to fade around 0.004 Volts.

[2016-04-15 19:28] jessegreenberg commented on #56
Fixed a case issue in the commit above, but this is not resolved yet.  My capacitor physics is a bit rusty, and I am not sure how this *should* behave. The capacitor discharges according to

Vc = Vo*exp( -t / ( R * C ) )

where t is the time and R*C is the time constant.  Now C is increasing, which is why we are seeing the increase in voltage and charge.  Perhaps Vo needs to update somehow to comp

[2016-04-15 19:34] jessegreenberg commented on #56
Quick plot of the model as it is now with variable time and capacitance:

![capture](https://cloud.githubusercontent.com/assets/6396244/14572904/c93e4c1c-030e-11e6-9676-573360664e66.PNG)

[2016-04-15 19:41] jessegreenberg commented on #58
@andrewadare would you mind looking into this bug?

[2016-04-15 19:45] jessegreenberg commented on #31
[code]
should be handled as part of this issue.

[2016-04-15 20:18] arouinfar commented on #56
@jessegreenberg, if a charged capacitor is not connected to anything else, the amount of charge on its plates must remain a constant.  The voltage across the capacitor is inversely proportional to the capacitance. C = Q/V

Suppose the capacitor has capacitance C1 with charge Q1 and voltage V1. The capacitance is instantaneously increased to C2. (An instantaneous increase allows us to ignore the ch

[2016-04-15 20:18] andrewadare commented on #58
Verified that it's not due to the voltage thresholding optimization...still investigating.

[2016-04-15 20:27] jessegreenberg commented on #31
I am satisfied with this file and WireSegment usage.  Also added documentation to the file in the above commits.  TODO's have been handled.  Closing.

[2016-04-15 20:27] #31 closed

[2016-04-15 21:01] andrewadare commented on #58
When I insert this line into the LightBulbCircuit.js step() function,
[code]
I see that the current values are awfully small. They begin their exponential decay at values near 1e-13. This must be because in CircuitConfig.js the resistance is huge:
[code]
Isn't that  too large for a physical light bulb by at least 9 orders of magnitude? If there's some visual reason, it might be worth adding a comm

[2016-04-15 21:17] andrewadare commented on #58
Scratch that last point about floating-point comparison. But it is the case that the currentAmplitude goes to identically zero, while the V/R value remains small (1e-15) but finite.

I just think all this would be easier to debug if the resistance were not so large.

[2016-04-15 21:50] jessegreenberg commented on #58
Since the voltage and capacitance values are 'realistic' for this sim, the resistance in the light bulb had to be extremely large so that the time constant is large enough to see the discharge.  There is a note about this in LightBulb.js, but I agree that a comment about this would be good in CircuitConfig since that is where the actual resistance variable is defined for this sim.

[2016-04-15 22:09] jessegreenberg commented on #58
It looks like in ```updateCurrentAmplitude()```, ```this.getTotalCharge()``` is returning 0 because that function calls ```getAirPlateCharge()``` and ```getDielectricPlateCharge()```, both which return 0 if less then ```CLConstants.MIN_PLATE_CHARGE```.  This was probably done to make sure that the current indicators don't stay visible for too long, but maybe the correction went too far.

We could

[2016-04-15 22:14] andrewadare commented on #58
That may help, but this all feels kind of messy.

AbstractCircuit.js computes currentAmplitude as dQ/dt, while  Capacitor.plateVoltage is assigned  using Q=CV in LightBulbCircuit.js. At such tiny current values, I think we're sensitive to discreteness of timesteps, numerical precision, and so forth. The model is just not self-consistent all the way down to the boundaries of floating-point precisio

[2016-04-15 22:41] jessegreenberg commented on #58
This is certainly an issue with the model!  Especially since dQ/dt is meaningless here, dt is  the time step from joist, a somewhat arbitrary length of time.  If we had needed the exact values of current, this would be terrible.  In this case, the current indicators only care about non zero values and direction, so magnitude of current does not matter.  This gets the job done, but is a bit crude,

[2016-04-15 22:46] jessegreenberg commented on #58
Perhaps we could use a rule like 'if capacitor plate voltage is less than precision allowed by voltmeter plate charge (and current) should be zero?  This way we aren't dealing with arbitrary value limits like ```CLConstants.MIN_PLATE_CHARGE```.

[2016-04-18 15:47] andrewadare commented on #58
The current through the indicators is consistent with the bulb V/R by construction now. This might be fixed "too much"--the arrows hang around quite a bit longer now. I'll leave it up to somebody else to decide what's the optimal visual effect.

[2016-04-18 15:54] andrewadare commented on #58
It's a bit messy that I've over-written the "bogus" dQ/dt value assigned to `this.currentAmplitudeProperty` in the LightBulbCircuit.js step function.

It may be best to just remove the call to updateCurrentAmplitude() in AbstractCircuit.js for clarity.

[2016-04-18 18:28] jessegreenberg commented on #56
@arouinfar thanks for the very detailed explanation!  That makes total sense.  I have worked this into the model and I think it is behaving correctly, charge is conserved once again.  I don't expect that these changes will be too performance intensive but we will double check.  We will have a dev version published shortly so that you can review the behavior.

[2016-04-18 18:33] arouinfar commented on #56
That's great @jessegreenberg! Thanks

[2016-04-18 19:10] jessegreenberg commented on #58
Changes look good @andrewadare, and thanks for enhancing the documentation.

We still need the updateCurrentAmplitude method in AbstractCircuit because this is how current is calculated when the light bulb is disconnected.  If V = I / R in step(), current will not flow via dQ/dT when the capacitor is connected to the battery and changes capacitance.

I added updateCurrentAmplitude to LightBulbCirc

[2016-04-18 19:34] andrewadare commented on #58
This looks good, both on the light bulb side, and for the battery (I now see that ddc0351254686654aff1491e1c97a7eaf7d66c96 didn't properly handle the latter; sorry for that).

The only other visual tweak I might suggest for the discharge is to start fading out the current arrows at MIN_VOLTAGE,  rather than zero. That way, the situation where the current arrows are showing while the voltmeter read

[2016-04-18 20:31] jessegreenberg commented on #57
From the Java sim, the minimum number of electric field lines was 4 per quadrant, or 16 for the whole capacitor.  I am not sure why this limit was used.  We could easily reduce this to one field line per quadrant of the capacitor so that it looks like this as it discharges.  Would this suffice @arouinfar?
![recording 10](https://cloud.githubusercontent.com/assets/6396244/14618870/054e92e2-0572-11e

[2016-04-19 06:39] arouinfar commented on #57
That does indeed seem reasonable @jessegreenberg. Nice work!

I'll need to eventually document this as a model simplification in the Teacher Tips, so please reassign this issue to me once you've finished the implementation.

[2016-04-19 17:38] jessegreenberg commented on #56
Here is a dev version with this change, @arouinfar would you mind reviewing to make sure this is the correct behavior?

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.17/capacitor-lab-basics_en.html

[2016-04-19 17:44] jessegreenberg commented on #57
Great, thanks!  This was done in the above commit, reassigning to @arouinfar.

[2016-04-19 17:47] jessegreenberg commented on #1
We are no longer setting the renderer in screen view options, closing.

[2016-04-19 17:47] #1 closed

[2016-04-19 18:26] arouinfar commented on #56
Looks good @jessegreenberg! Closing.

[2016-04-19 18:26] #56 closed

[2016-04-19 18:42] arouinfar opened #59 "Shift E-field lines up a little for better alignment between plates"
At times, the E-field lines align with the outside edge of the plates. I've noticed there is a gap between the lines and the top plate in the last few dev versions.

In Java the field lines will touch the bottom edge of the top plate and the top edge of the bottom plate.
![image](https://cloud.githubusercontent.com/assets/8419308/14649570/f1b267c8-0624-11e6-9826-8da3d79f7283.png)

In HTML5 the fie

[2016-04-19 21:33] jessegreenberg commented on #27
Yikes, CapacitanceCircuitSwitch is a copy of CircuitSwitch with about 10 lines removed.  This can definitely be reconsidered so that CapacitanceCircuitSwitch can be deleted.

[2016-04-19 22:05] jessegreenberg commented on #27
CapacitanceCircuitSwitch deleted, refactored CircuitSwitch so there is only one switch file.

[2016-04-19 22:39] jessegreenberg commented on #27
I think that CircuitSwitche.js is sufficiently refactored that this issue can be closed.

[2016-04-19 22:39] #27 closed

[2016-04-19 22:51] jessegreenberg commented on #59
It also looks like the arrows are slightly off center when the electric field is oriented toward the top plate.
![capture](https://cloud.githubusercontent.com/assets/6396244/14658124/ed1173d8-064e-11e6-8c52-48e7e48e7674.PNG)

[2016-04-19 23:03] jessegreenberg commented on #59
https://github.com/phetsims/capacitor-lab-basics/issues/59#issuecomment-212159274 is fixed.

[2016-04-19 23:29] jessegreenberg commented on #59
@arouinfar here is a dev version with some changes to the layout of the electric field lines.  Would you mind reviewing and letting me know if any more changes need to be made?

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.18/capacitor-lab-basics_en.html

[2016-04-19 23:35] jessegreenberg opened #60 "Precision issues for current, voltage, plate charge"
Due to the precision of various values in this simulation it is possible for some values to be zero while others are still observable.  Since these values are correlated, is it possible that this will cause confusion? I have a vague memory of discussing this already, so my apologies if I am backtracking here.

For example:

- Plate charge can be zero while voltage is still observable
- Stored ener

[2016-04-19 23:37] jessegreenberg commented on #58
Thanks for the review comments and recommendation @andrewadare.  I created a new issue to discuss some of the issues involving precision for the various values in this sim ( #60 ).  I think that this issue can now be closed.

[2016-04-19 23:37] #58 closed

[2016-04-20 17:48] arouinfar commented on #59
It's looking pretty good @jessegreenberg! One thing I noticed is that when the plate area is small, the electric field lines will spread out as the charge decreases, even when down to the minimum of four field lines. This is the desired behavior-- the E-field line density is decreasing with the plate charge.

<img width="174" alt="screen shot 2016-04-20 at 11 34 13 am" src="https://cloud.githubuse

[2016-04-20 17:57] arouinfar commented on #60
@jessegreenberg no matter how many decimal places we choose to display, there will be instances where some quantity will apparently be zero, but observations could be made to the contrary (such as those you listed in your comment). These kinds of observations can spark valuable discussions in the classroom around precision. For that reason, we decided to leave the number of decimal places as is, b

[2016-04-20 18:20] andrewadare opened #61 "Strings should be rescalable"
Steele pointed out that the strings are not currently in fixed-width boxes. Creating long strings with the `stringTest=double` query parameter shows the effect.

We'll need to go through and fix all the translatable strings, and possibly rotate the sliders so that the labels are on the right hand side.

[2016-04-20 18:33] brroberts1231 opened #62 "Voltmeter can be dragged off screen"
The voltmeter can be pulled out of the screen and if you let go of it, it can't be recovered without refreshing.
![screen shot 2016-04-20 at 12 29 07 pm](https://cloud.githubusercontent.com/assets/11947677/14685922/dcbb337a-06f3-11e6-942b-970371151a29.png)

Related to phetsims/tasks#575

[2016-04-20 18:36] jessegreenberg commented on #62
Thanks @brroberts1231.  The voltmeter should use MovableDragHandler to restrict the dragging to the bounds of the simulation.  By 'refreshing' do you mean 'resetting' the simulation?  Does pressing the reset button not put the voltmeter back in the toolbox?

[2016-04-20 18:38] jessegreenberg commented on #60
OK, sounds good @arouinfar, thanks for describing.

[2016-04-20 18:41] brroberts1231 commented on #62
Reset button does work.

[2016-04-20 18:46] jessegreenberg commented on #62
Sorry! Misread the comment to 'it can't be recovered with refreshing'.  Thanks, reassigning to me.

[2016-04-20 19:20] brroberts1231 opened #63 "Missing menu thumbnails"
I would guess that this is already known, but since it doesn't appear that there is already an issue about it, I'll write one just in case.

In the menu, there are no screenshots of the sim on the thumbnails, only a red and blue rectangle.
![screen shot 2016-04-20 at 1 18 34 pm](https://cloud.githubusercontent.com/assets/11947677/14687368/6ccd41f0-06fa-11e6-932c-c4b0e6d1887a.png)
phetsims/tasks#57

[2016-04-20 19:31] phet-steele opened #64 "Voltmeter readout doesn't update accross plates if V never changes"
1. Increase V of battery, set plate separation to minimum.
2. Place the voltmeter probes just above and just below the plates so the readout is "? V"
3. Increase separation so the probes are now on each plate. Readout is still "? V".

![clb01](https://cloud.githubusercontent.com/assets/5863899/14687638/dfb38caa-06fb-11e6-8d95-9a2722736b71.gif)
Changing V with the battery, or disconnecting the plat

[2016-04-20 19:39] phet-steele commented on #63
Yup @brroberts1231 they are missing. They are currently acting as placeholders. You'll see this in lots of early development sims until design of the sim is more finalized and someone takes the time to make/code them. There will eventually be icons there don't worry :smile:, thanks for your vigilance.

[2016-04-20 19:39] #63 closed

[2016-04-20 20:47] phet-steele opened #65 "Positive probe wire is detached from the voltmeter"
Seems self explanatory, should be slightly moved to the right to line up with the red dot. For https://github.com/phetsims/tasks/issues/575.
![positiveprobe](https://cloud.githubusercontent.com/assets/5863899/14689903/9c11b246-0706-11e6-84f6-986a2448f167.PNG)

[2016-04-20 21:18] jessegreenberg commented on #65
@andrewadare would you mind looking into this issue?

[2016-04-20 21:21] jessegreenberg commented on #64
Would you mind checking out this issue @andrewadare?  My guess is that the voltmeter readout needs to be linked to the capacitor geometry.

[2016-04-20 21:56] phet-steele opened #66 "Resetting the "Capacitance" screen does not reset the wire connection to the battery."
Simply disconnect the plates and press reset all; the plates will remain disconnected. The "Light Bulb" screen correctly resets the wire connection.
Seen on Win 10 browsers. For phetsims/tasks#575.

Troubleshooting information:
Name: ‪Capacitor Lab: Basics‬
URL: http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.16/capacitor-lab-basics_en.html
Version: 1.0.0-dev.16 2016-0

[2016-04-21 15:18] jessegreenberg opened #67 "refactor common code from circuit models"
Similar to #47 but for the model elements.

[2016-04-21 15:19] jessegreenberg commented on #66
Looks like the connection property is not being reset, but this should be fixed as part of #67.

[2016-04-21 15:20] jessegreenberg commented on #62
@andrewadare would you mind taking a look at this issue?  We will need to replace the voltmeter drag handler with MovableDragHandler and user the screen view layout bounds to restrict the dragging of the voltmeter body.

[2016-04-21 15:20] jessegreenberg commented on #62
Actually, we will need to do this for the probes as well, I am sure they suffer from the same issue.

[2016-04-21 17:40] andrewadare commented on #34
In order to track this refactor, here's a list of places where Voltmeter is being instantiated:

 - [ ] capacitance/model/CapacitanceModel.js
 - [ ] capacitance/view/CapacitanceScreenView.js
 - [ ] common/model/meter/Voltmeter.js
 - [ ] common/view/meters/VoltmeterNode.js
 - [ ] common/view/meters/VoltmeterProbeNode.js
 - [ ] light-bulb/model/CapacitorLabBasicsLightBulbModel.js
 - [ ] light-bulb/v

[2016-04-21 21:29] andrewadare commented on #34
f43df29956c1da6a45abd32f44f1f631b8d8af30 Should take care of Voltmeter.

@jessegreenberg and I are  not aware of any remaining constructors with unwieldy parameter lists. Therefore, instead of leaving this issue hanging open indefinitely,  I suggest we close this issue (provided that this commit is okay) and open a new one if we come across any new problematic constructors that have been overlooke

[2016-04-21 21:54] andrewadare commented on #25
The following files implement `step()`. A checkmark indicates that the function looks okay IMO.

 - [ ] capacitance/model/CapacitanceModel.js (just wraps this.circuit.step)
 - [ ] common/model/CapacitorLabBasicsModel.js (empty)
 - [x] common/model/CurrentIndicator.js
 - [x] common/model/circuit/AbstractCircuit.js
 - [ ] light-bulb/model/CapacitorLabBasicsLightBulbModel.js (just wraps this.circuit.

[2016-04-21 21:59] andrewadare commented on #25
Scratch CapacitorLabBasicsModel off the list. For the two remaining unchecked items,  is there any problem to leave them as they are? I don't see any problem there.

[2016-04-21 22:40] andrewadare commented on #25
Regarding the second point about duplicated code between the two screen view files, I don't see it. Maybe there were commits since this was filed that have solved the problem.

Both files are short; there is very little factorable code that I'm able to  spot. After the cleanup in ac18fe51a2947a050dfad19da2b8175616b75b27, I believe this issue is ready to be closed.

[2016-04-21 22:41] #25 closed

[2016-04-21 22:47] andrewadare commented on #36
The source is simple and pretty clean, and the voltmeter looks okay to me on-screen.

The only issue apparent to me is a TODO in `getProbeTipShape`. @jessegreenberg, is this one still outstanding, or are you satisfied with the appearance?

[2016-04-21 22:58] andrewadare commented on #52
These files will be renamed:

 - [ ] common/model/CapacitorLabBasicsModel.js
 - [ ] common/view/control/CapacitorLabBasicsViewControl.js
 - [ ] light-bulb/model/CapacitorLabBasicsLightBulbModel.js
 - [ ] light-bulb/view/CapacitorLabBasicsLightBulbScreenView.js
 - [ ] light-bulb/CapacitorLabBasicsLightBulbScreen.js

[2016-04-22 16:41] #34 closed

[2016-04-22 17:44] andrewadare commented on #52
There are pretty much no files left to touch in this repo, so I better close this....

[2016-04-22 17:44] #52 closed

[2016-04-22 18:18] jessegreenberg commented on #59
In the Java version, the spacing is determined by the number of field lines rather than the magnitude of the electric field directly.  I changed this a bit so that the line density is directly related to the strength of the electric field.  The result is a slightly different behavior, but a much smoother animation and the density will also change as requested in https://github.com/phetsims/capacit

[2016-04-22 19:16] andrewadare commented on #62
In VoltMeterBodyNode, the drag handler is already a MovableDragHandler, but something looks suspicious: the dragBounds are set to something like the layout boundaries in view coordinates (0,0,1024,618), but it's observing `voltmeter.bodyLocationProperty`, which is specified in model coordinates (~1e-2 meters).

[2016-04-22 19:28] andrewadare commented on #62
The JSDoc for the Voltmeter constructor says it takes a ModelViewTransform2, but it appears to be taking a CLBModelViewTransform3D. I assume that's a doc problem, and not a bug in the code?

[2016-04-22 19:40] andrewadare commented on #62
It is unexpected to me that CapacitanceModel and CLBLightBulbModel are setting
[code]
I would think that there should be a view-to-model transformation.

I'd like to quickly test this, but unfortunately there's no modelToViewBounds in CLBModelViewTransform3D.

[2016-04-22 19:49] andrewadare commented on #62
I can confirm that putting in some rough numbers like
[code]
in CapacitanceModel prevents dragging outside the area (but then causes other problems)

[2016-04-22 21:33] arouinfar commented on #59
@jesseegreenberg dev.19 feels good to me. Thanks for adjsuting the model! I think that tying the line density to plate charge is a nice way to mediate the simplication relating the number of lines to the plate charge. I'm going to leave this issue self-assigned to document this behavior in the Teacher Tips.

[2016-04-22 21:55] andrewadare commented on #64
Hopefully this is addressed now, but I'll leave it to the experts to test more thoroughly.

[2016-04-22 22:42] jessegreenberg commented on #62
Ah, good points @andrewadare!  The use of CLBModelViewTransform3D is probably what prevented traditional use of MovableDragHandler in the first place.  But the bounds are two dimensional, so perhaps we can add a 2D bounds transform to CLBModelViewTransform3D.

[2016-04-22 23:31] jessegreenberg commented on #62
This was tricky because MovableDragHandler is tailored to work with Vector2.

[2016-04-22 23:41] jessegreenberg commented on #62
Commit above is working nicely, but the voltmeter can still be dragged too far down.

[2016-04-22 23:53] jessegreenberg commented on #62
Image shows that the image bounds are a bit dilated around the actual image.  Also, it looks like MovableDragHandler restricts dragging to the *top* of the node.  For this situation, we want the drag bounds to be adjusted by the height of the image.

![imagebounds](https://cloud.githubusercontent.com/assets/6396244/14757637/da8b5056-08b2-11e6-8245-b4608a40f1dc.PNG)

[2016-04-22 23:56] jessegreenberg commented on #62
Same issue to the right edge of the view bounds.

[2016-04-23 00:15] jessegreenberg commented on #62
This does not restrict the voltmeter if it has been dragged out from the toolbox, since the toolbox implements its own drag handler.  It would be better if on ```down``` the toolbox could initiate the startDrag of the voltmeter movable drag handler.

[2016-04-23 00:24] jessegreenberg commented on #62
The ToolBoxPanel also uses this:

[code]

and it is recommended to avoid this pattern.

[2016-04-23 00:33] jessegreenberg commented on #62
I also notice that the voltmeter is added back in to the panel with this block, which is duplicated in each screen view.

    // track user control of the voltmeter and place the voltmeter back in the tool box if bounds collide.
    model.voltmeter.inUserControlProperty.link( function( inUserControl ) {
      if ( !inUserControl && voltmeterToolbox.bounds.intersectsBounds( voltmeterNode.bodyNode.b

[2016-04-23 15:08] jessegreenberg commented on #62
Above commit fixes https://github.com/phetsims/capacitor-lab-basics/issues/62#issuecomment-213634766.

[2016-04-23 15:13] jessegreenberg commented on #62
Above commit fixes https://github.com/phetsims/capacitor-lab-basics/issues/62#issuecomment-213635460.

[2016-04-23 15:25] jessegreenberg commented on #62
The solution to https://github.com/phetsims/capacitor-lab-basics/issues/62#issuecomment-213624322 uses ```constructor.name``` to identify Vector2, but I just noticed that Vector2 has an isVector2 property and it would be better to use this.

[2016-04-25 14:56] jessegreenberg commented on #47
From #52, CLBCircuitNode would be great.

[2016-04-25 15:29] jessegreenberg commented on #38
This also applies to referencing the circuit switch nodes in the CircuitNode types.

[2016-04-25 15:41] andrewadare commented on #62
Well, this issue ended up leading to quite a number of code improvements. Drag behavior looks good to me now. This is ready for re-testing.

[2016-04-25 15:51] andrewadare commented on #62
Actually, there is now one annoyance: the voltmeter probe tip cannot contact the lowest segment of the circuit. We need to decide what's best.
1. Leave it as is (probably not)
2. Extend the lower y-boundary (adds empty space & effectively shrinks the whole view)
3. Allow the probe to go partially out of view at the bottom
4. Shift up the whole circuit a little
5. Some minimally-disruptive combinat

[2016-04-25 16:01] andrewadare commented on #62
I went with option 3 for now,  because it was a 2 byte change (ok, more with whitespace) and it doesn't disrupt the layout like the other options.

Note that this is not a new problem.

[2016-04-25 16:06] jessegreenberg commented on #62
:+1: Option 3 would be my vote as well, as long as the probe cannot get lost at the beyond the bottom of the screen, that sounds good to me.

[2016-04-25 16:29] #65 closed

[2016-04-25 17:09] jessegreenberg commented on #47
I think this issue can be closed, a significant amount of duplicated code has been removed from each circuit node type now that they extend a common CLBCircuitNode.  Closing.

[2016-04-25 17:09] #47 closed

[2016-04-25 17:23] jessegreenberg commented on #67
After looking through, I don't think this is necessary.  Both circuit types extend from ParallelCircuit and the constructors are minimal, with only one shared line of code (making the capacitor public).  I don't think that warrants a new type like CLBCircuit.js.  This can be closed.

[2016-04-25 17:23] #67 closed

[2016-04-25 17:30] jessegreenberg commented on #66
Done in the above commit, closing.

[2016-04-25 17:30] #66 closed

[2016-04-25 17:33] jessegreenberg opened #68 "Incorrect distribution of negative charges"
When the plate is small has many negative charges, it becomes apparent that the distribution is slightly incorrect and that the charges look like they are too high on the plate:

![image](https://cloud.githubusercontent.com/assets/6396244/14792861/879bc9e2-0ad9-11e6-9d04-213c2a76739a.png)

[2016-04-25 17:42] jessegreenberg commented on #68
Fixed in teh commmit above,
![capture](https://cloud.githubusercontent.com/assets/6396244/14793095/b7a87256-0ada-11e6-83ca-4ced9f6303a5.PNG)

Closing.

[2016-04-25 17:42] #68 closed

[2016-04-25 17:48] jessegreenberg commented on #57
From the change in #59, the minimum number of field lines is no longer important since the density is changing directly with the strength of the electric field.

[2016-04-25 18:00] jessegreenberg commented on #51
I think this is because the image for the body itself was exported with a little bit of asymmetric space around it.  I will try to export a new image with from the asset with no space.

[2016-04-25 19:09] jessegreenberg commented on #36
I think i was concerned that the shape used to determine probe intersection with the circuit components may no longer be completely correct, but perhaps there is really no issue.  I will take a look and close if there is nothing to do.

[2016-04-25 19:09] jessegreenberg commented on #29
I will go through and make sure that the documentation is correct.

[2016-04-25 19:10] jessegreenberg commented on #33
I will go through and remove old code and TODO's.

[2016-04-27 10:02] arouinfar commented on #57
Thanks @jessegreenberg. I'm still going to document this in the Teacher Tips, because there is still a minimum number of E-field lines, even though the density of the lines can change.

[2016-04-27 10:31] arouinfar commented on #51
@jessegreenberg I trimmed the artboard and exported a new .png. Perhaps this will fix the issue.

[voltmeter_body.png](https://cloud.githubusercontent.com/assets/8419308/14849533/c3c1ccae-0c88-11e6-807f-2fb56546fc9b.png)

[2016-04-27 21:09] jessegreenberg commented on #38
createWires of ParallelCircuit assumes a single light bulb and capacitor, but ParallelCircuit is intended to handle any number of circuit components.  Fixing this issue will require fully generalizing the createWires function of ParallelCircuit.

[2016-04-27 21:15] jessegreenberg commented on #38
Things would be much more simple if capacitors had knowledge of their switches.  Perhaps a cleaner solution would be to have a new type like SwitchedCapacitor that combined a circuit switch and a capacitor.  This would also make the (rather confusing) CircuitSwitchFactory and createCircuitSwitches functions unnecessary.

[2016-04-27 23:21] jessegreenberg commented on #38
Went through some significant changes to do this and implement https://github.com/phetsims/capacitor-lab-basics/issues/38#issuecomment-215231533.  The result is much less code and no confusing array references.  ParallelCircuit is also truly generalized now and can handle any number of capacitors.  More cleanup to be done, but the above commit closes this issue.

[2016-04-27 23:21] #38 closed

[2016-04-29 16:23] andrewadare opened #69 "CLBCircuitNode takes too many parameters"
...especially now that we are passing in a tandem instance.

[2016-04-29 16:27] samreid opened #70 "Constructors take too many parameters"
Similar to #69, CapacitanceCircuitNode has too many parameters:

[code]

There are probably others. We can look into using an ESLint rule to count parameter numbers.

[2016-04-29 16:45] samreid commented on #70
Here's a lint rule you can temporarily add to .eslintrc to check for 4 max parameters:

[code]

[2016-04-29 16:45] samreid commented on #70
There are 21 cases reported when I enable this rule:

/Users/samreid/github/capacitor-lab-basics/js/capacitance/view/CapacitanceCircuitNode.js
  31:3  error  This function has too many parameters (7). Maximum allowed is 4  max-params

/Users/samreid/github/capacitor-lab-basics/js/common/model/CircuitSwitch.js
  34:3  error  This function has too many parameters (5). Maximum allowed is 4  max-param

[2016-04-29 19:15] samreid opened #71 "Rename CLBViewControl to CLBViewControlPanel"

[2016-05-02 16:12] jessegreenberg commented on #36
It looks like the model shapes for the probe tips are justified too far to the right of the tip on the image,
![capture](https://cloud.githubusercontent.com/assets/6396244/14959807/70400a22-104e-11e6-8c5d-2d4380594e22.PNG)

[2016-05-02 16:16] jessegreenberg commented on #36
There is this TODO in VoltmeterShapeCreator that is likely causing this:

[code]

Now that the assets have been updated, this is probably causing the issue.

[2016-05-02 16:26] jessegreenberg commented on #36
Removing that adjustment fixes this:
![capture](https://cloud.githubusercontent.com/assets/6396244/14960010/c0f3118e-104f-11e6-85c4-9c98aa952729.PNG)

But there are still weird things happening with the voltmeter probes, such as the voltage being read when it shouldn't be:
![capture](https://cloud.githubusercontent.com/assets/6396244/14960092/2a966ffa-1050-11e6-9c7e-7a3f7eda08d3.PNG)

[2016-05-02 16:35] jessegreenberg commented on #36
I think this issue can be closed, this issue cannot be reproduced with other circuit components or the wires, so I think this is an issue with the capacitor shapes.  The above image is observable on both the lft and right side of the capacitor plate. I will create a new issue to understand why the capacitor model shapes are too wide.

[2016-05-02 16:35] #36 closed

[2016-05-02 17:00] jessegreenberg opened #72 "Voltage can be read to the left and right of the capacitor plates"
It looks like the voltmeter probes are registering a collision with the capacitor plates even when they are too far to the left or right of the capacitor.

![capture](https://cloud.githubusercontent.com/assets/6396244/14961049/ecc928b6-1054-11e6-9d44-48a6fb5df23b.PNG)

This is not an issue for the top and bottom of the plates, and it is not an issue with other shapes for the probes.  It seems that

[2016-05-02 20:04] andrewadare opened #73 "PlateChargeNode cleanup"
For one thing, there's this TODO:
https://github.com/phetsims/capacitor-lab-basics/blob/dbbfd2d44b1ae4833b9c886698a0696508b183e5/js/common/view/PlateChargeNode.js#L36

Then there's also the question of whether both a `Capacitor` instance _and_ a `maxPlateCharge` should be passed in separately.

[2016-05-03 14:23] #71 closed

[2016-05-03 14:24] #69 closed

[2016-05-03 16:49] phet-steele opened #74 "Automated Testing Build Error (5/3/2016 10:00 AM)"
[code]

[2016-05-03 16:51] samreid commented on #74
@phet-steele said I introduced this issue a few days ago.  I'll take care of it, unless @andrewadare gets to it first.

[2016-05-03 17:09] #74 closed

[2016-05-03 17:10] samreid commented on #74
Thanks @andrewadare!

[2016-05-03 17:28] andrewadare opened #75 "Promote AirPlateChargeNode to a new file"
Since AirPlateChargeNode is public, it should follow conventions and get its own file.

[2016-05-03 17:37] samreid opened #76 "Cursor gets separated from the green drag arrows"
Clicking in one spot on the green drag arrows, then moving the mouse, I see the mouse gets detached from that point of the arrow.  Perhaps not a big deal, but I'm not sure what is causing this.

[2016-05-03 19:27] andrewadare opened #77 "Voltmeter doesn't read voltage with switch open"

[2016-05-03 20:01] andrewadare commented on #73
Merging `addPositiveCharge` and `addNegativeCharge` would require a bunch of branching logic. It is better to keep them separate as they are now.

The second issue was handled in cf1909beb368b04a1be957edd63b2d4a2f1c456d, so this issue can be closed.

[2016-05-03 20:01] #73 closed

[2016-05-03 21:08] andrewadare commented on #77
This fix required adding un-handled topology cases in ParallelCircuit and linking the Voltmeter to the battery voltage. Looks good in my tests now.

[2016-05-03 21:08] #77 closed

[2016-05-04 14:34] #75 closed

[2016-05-05 17:03] andrewadare commented on #70
This issue ended up leading to a lot of work, but the refactored interfaces are simpler in many places now, and led to other improvements. All constructors take 4 or fewer parameters now, except the following, which have 5:

 - PlateAreaDragHandler
 - PlateSeparationDragHandler
 - BarMeterNode
 - VoltmeterProbeNode

Of these, only BarMeterNode doesn't yet have a tandem instance. It's not worth try

[2016-05-05 17:03] #70 closed

[2016-05-05 17:10] andrewadare opened #78 "Voltmeter still not working on open battery branch"
On the Light Bulb Circuit screen, with the switch set to the light bulb branch, the voltmeter reads "?" when connected to the battery. I will investigate.

[2016-05-05 19:43] #78 closed

[2016-05-06 19:51] andrewadare commented on #50
Instrumentation status of model component properties:
 - [x] Battery
 - [x] Capacitor
 - [x] CircuitSwitch
 - [x] CLBModel
 - [x] AbstractCircuit
 - [x] BarMeter
 - [x] Voltmeter
 - [ ] Wire
 - [x] WireSegment

Wire has a shapeProperty only, which we don't serialize out. So it looks like the model properties are done.

[2016-05-11 01:17] samreid opened #79 "Review phet-io instrumentation"
During #50 @andrewadare has been working to instrument the simulation for phet-io.  He said it is getting to a good point for review.

[2016-05-11 01:20] samreid opened #80 "JSDoc is off"
During #79 I noticed that this JSDoc was a bit off:

![image](https://cloud.githubusercontent.com/assets/679486/15167215/3d302c9c-16e4-11e6-8be6-a4b582414c36.png)

[2016-05-11 01:23] samreid opened #81 "Should DielectricMaterial require tandem?"
During #79 I saw that DielectricMaterial has the tandem as optional.  Should the tandem be required here?  Also, be aware that if the tandem is required, then the tandem will be required in TDielectricMaterial.fromStateObject.

[2016-05-11 01:24] samreid commented on #81
Likewise, `CustomDielectricMaterial` is created with null tandem.  Can we investigate adding a tandem for that?  Or are many CustomDielectricMaterial instances created and thrown away?

[2016-05-11 01:35] samreid opened #82 "Should tandem be required?"
During #79 I noticed that tandem is optional in SwitchedCapacitor and other places such as:
- [x] SwitchedCapacitor
- [x] AbstractCircuit
- [x] BarMeter
- [x] CapacitanceMeter
- [x] there are probably others, search for them with `tandem ?` or the likes

  Should it be required here? If not, it should be documented why it is optional.

[2016-05-11 01:39] samreid opened #83 "Why isn't createTandem used in this part of ParallelCircuit?"
During #79 I noticed that ParallelCircuit has this code:

[code]

Shouldn't tandem.createTandem be used in these calls?  If not, why not?

[2016-05-11 01:42] samreid commented on #82
If it would simplify the code *a lot* by adding a tandem to the temporary "intermediate" circuit, we should do it.  It seems awkward and complicated to have so many optional tandems in sim code.

[2016-05-11 01:47] samreid opened #84 "In CLBCircuitNode, coalesce tandem strings"
During #79, I noticed this code:

[code]

I see how `'SwitchNode'` is factored out here, but maintenance would be easier if the SwitchNode was moved into the strings like so:
[code]
This is because sometimes during maintenance we will want to search the codebase based on the full name of the tandem. String concatenation could make this search slightly (though unnecessarily) more difficult.a

[2016-05-11 01:51] samreid commented on #84
I do see a more significant advantage of concatenating the strings in this example:

[code]

[2016-05-11 01:53] samreid opened #85 "Where to call createTandem?"
It seems asymmetrical to call createTandem for the voltmeter but not the other types, is there a good reason for it?

[code]

[2016-05-11 01:55] samreid opened #86 "DragHandleArrowNode.locationProperty should be moved to model and instrumented with tandem"
From DragHandleArrowNode.js:

[code]

[2016-05-11 01:56] samreid commented on #79
I committed JSDoc fixes above.

[2016-05-11 01:58] samreid commented on #79
I searched every occurrence of `tandem` in capacitor-lab-basics and they seemed reasonable.
I searched for `tandem.addInstance` in capacitor-lab-basics to see if they were properly paired with `tandem.removeInstance`, and there is only one and it is currently only used for air dielectric.  If we add tandems for other dielectrics (see #81) then we will likely have to implement `dispose` and `tandem

[2016-05-11 02:01] samreid opened #87 "Many messages are emitted during sim startup"
Discovered during #79, here are the messages produced on startup:

[code]

It is not essential to eliminate all of these, but I am curious why the simulation is triggering so many changes after the application starts.  It appears that these are axon properties setting the same value.  Can these be eliminated?

[2016-05-11 02:21] samreid opened #88 "Match tandem names"
During #79 I noticed this mapping between check box text and tandems:

Some have great matching names like so:
"Plate Charges" => plateChargesCheckBox => plateChargesVisibleProperty

Some have a mismatch:
"Bar Graphs" => barGraphsCheckBox => barGraphsPanelVisibleProperty

Generally it is OK if there is a slight difference between the text and var name such as "Bar Graphs" and "barGraphsVisible", b

[2016-05-11 02:22] samreid commented on #88
Likewise the `plateAreaDragHandleNode` changes the `plateSizeProperty`, perhaps we should use `plateArea` for both since `"Plate Area"` is what appears in the English text.

[2016-05-11 02:25] samreid opened #89 "2nd screen checkboxes don't appear instrumented"
During #79 I noticed these checkboxes:
![image](https://cloud.githubusercontent.com/assets/679486/15168271/38402094-16ed-11e6-8a70-ee4dc39bae6b.png)

aren't sending user (blue) messages:
![image](https://cloud.githubusercontent.com/assets/679486/15168275/4e99f374-16ed-11e6-993d-db988481488c.png)

[2016-05-11 02:59] samreid opened #90 "The ResetAll button needs to be instrumented"
Discovered during #79, the ResetAll button needs to be instrumented, there is already library support for it as well as a PhETIOCommon class for it.

[2016-05-11 02:59] samreid commented on #79
I used the events wrapper to look for missing messages from view and model components.

[2016-05-11 03:02] samreid opened #91 "Don't give Vector3 to kite"
During #79 I noticed the state wrapper is crashing because Kite is getting a Vector3 and Vector2, and finding the distance to be (x,y,NaN).  We should only give Vector2 to Kite.  @andrewadare and I discussed this today.

[2016-05-11 03:02] samreid commented on #91
Testing of the state wrapper is on hold until this is addressed.

[2016-05-11 03:05] samreid opened #92 "Many nodes require phet-io instrumentation"
During #79 I used the instance proxies wrapper to make all of the instrumented nodes invisible and I still saw this:

![image](https://cloud.githubusercontent.com/assets/679486/15168899/e26bb420-16f2-11e6-92f4-876d276a86d0.png)

Most of the remaining nodes need to be instrumented for phet-io, so at least they can be hidden or disabled.  I'll do one as an example then reassign to @andrewadare for f

[2016-05-11 03:12] samreid commented on #92
In the above commit, I instrumented the view control panel. Now it can be disabled or hidden like so:

![image](https://cloud.githubusercontent.com/assets/679486/15168970/b47407ec-16f3-11e6-9d8b-06a08e309486.png)

@andrewadare please review my commits and proceed with instrumenting the remainder of the nodes.

[2016-05-11 03:13] samreid commented on #79
Things are generally looking very good, nice work @andrewadare!  I'm not aware of any other work other than what is identified in the issues linked above.  Reassigning to you to review my commits on this issue and let me know if you have any questions about the review.

[2016-05-11 03:15] samreid opened #93 "Duplicated code in the API file"
During #79 I noticed in the API file there are parts with duplicated code, such as:

![image](https://cloud.githubusercontent.com/assets/679486/15169035/410ff292-16f4-11e6-9839-21f04789e9a0.png)

This kind of thing should be factored out as much as possible.

[2016-05-11 03:15] samreid commented on #93
Also it looks like this diff highlights #90

[2016-05-11 14:05] andrewadare commented on #79
Thanks for this thorough review @samreid! I will make it a priority to address the issues that came up.

[2016-05-11 14:20] andrewadare commented on #92
Aha. I did not understand before why these needed instrumentation, since they don't have any direct support for user interactivity. Now I see; I will do it.

[2016-05-11 14:38] #80 closed

[2016-05-11 15:51] andrewadare commented on #83
`tandem.createTandem` is invoked inside the BatteryToSwitchWire factory methods. We got away with it because they were called once per context, so there were no Tandem name collisions.

Because the factory methods are simply thin wrappers around the BatteryToSwitchWire constructor, and all the parameters are conveniently available at the call site, I tried to "close down" the factories and call th

[2016-05-11 16:07] andrewadare commented on #83
The proliferated conditional Tandem creation pattern (see #82) will be dealt with separately.

[2016-05-11 16:20] andrewadare commented on #84
As a compromise, I addressed the former but not the latter. It was actually less code not to loop, and the SwitchNode tandems are named using string literals.

[2016-05-11 16:22] andrewadare commented on #84
The downside is that I had to explicitly index into the circuitSwitches array, but I included an assertion for the length, and (for better or worse) this array-indexing pattern is all over CL:B at this point.

[2016-05-11 16:53] andrewadare commented on #85
BarMeter Tandems are now created in both model files along with the Voltmeter. Creation of "opaque" tandems (and the associated risk of name conflicts) is no longer an issue here.

[2016-05-11 17:31] andrewadare commented on #86
A code search does not turn up any uses of locationProperty for this node. Removing it from the code makes no difference, as far as I can tell.

[2016-05-11 18:37] andrewadare commented on #88
I think the remaining visibility properties including the word "Meter", e.g. in this block

https://github.com/phetsims/capacitor-lab-basics/blob/bb0c811f9226c7989f1cd96a935d662c5f2ba389/js/common/model/CLBModel.js#L33-L50

are best left as they are, because they are more descriptive that way, and they would look very similar to other named properties if it were omitted. More relevant for this iss

[2016-05-11 19:36] andrewadare commented on #89
@samreid, can I get a little guidance on this one? My approach in these two commits came from looking at CLBViewControlPanel (which we did early in this project). I called tandem.addInstance; not sure if that is the right thing to do here.

[2016-05-11 19:47] samreid commented on #89
Fixed in the above commit, curly braces were missing.

[2016-05-11 19:47] samreid commented on #89
Assigned to @andrewadare to review the changes and close.

[2016-05-11 19:52] andrewadare commented on #89
Thanks for fixing this. Works as expected; closing.

[2016-05-11 19:52] #89 closed

[2016-05-11 20:07] #90 closed

[2016-05-11 21:24] andrewadare commented on #91
After 24338e0 I am no longer seeing console errors on the PhET-iO states page.

[2016-05-11 22:20] andrewadare commented on #93
![image](https://cloud.githubusercontent.com/assets/154163/15198249/82005554-1793-11e6-85a7-b982a8b58aa9.png)

After handling #89, the two screens are now more dissimilar. I tried out making a function to return a kind-of common object, then patching in the new checkbox names to the result, but it sure doesn't look very nice. I hesitate to commit it.

But if the goal is really to factor the common

[2016-05-11 22:26] andrewadare commented on #93
This is what I tried:
[code]
There are a number of things I don't like about it. In particular, it's much more difficult to see the structure.

@samreid if you have any suggestions on how to improve this, please let me know.

[2016-05-11 22:33] andrewadare commented on #93
Just as a warning, the code above is read-only, just for discussion about how to refactor the API.

[2016-05-12 15:18] samreid commented on #93
In the above commits, I instrumented the other reset all button and reorganized the API file a bit to prepare for factoring out parts.

[2016-05-12 15:29] samreid commented on #93
In the above commits, I showed another way to factor out the duplicated parts.  I created these methods:

[code]

And now the diff looks like this:
![image](https://cloud.githubusercontent.com/assets/679486/15220185/d7877f3a-1823-11e6-8cc0-087e8b2c1361.png)

Leaving assigned to @andrewadare to review/discuss the changes.

[2016-05-12 16:25] andrewadare commented on #93
Unsurprisingly, I like your solution better :)

Results look good in my tests, so closing.

[2016-05-12 16:25] #93 closed

[2016-05-13 21:21] andrewadare commented on #33
@jessegreenberg, issuing a friendly bump. We're approaching a good point to tag a new dev version with "complete" instrumentation!

Here's a list of the remaining TODOs. Obviously not all of them need to be addressed now (like credits), but a lot of them look obsolete at this point.
[code]

[2016-05-13 21:25] #83 closed

[2016-05-13 21:27] #84 closed

[2016-05-13 21:27] #85 closed

[2016-05-13 21:28] andrewadare commented on #86
Everything has been working fine without this, so closing.

[2016-05-13 21:28] #86 closed

[2016-05-13 21:30] andrewadare commented on #88
All the naming is consistent now, closing.

[2016-05-13 21:30] #88 closed

[2016-05-13 21:31] #91 closed

[2016-05-13 21:40] andrewadare commented on #92
Both screens can be made completely blank now (by deselecting many nodes in the instance proxies page). Apart from going deeper into the scene graph, I don't know of any remaining uninstrumented nodes.

[2016-05-13 21:42] #62 closed

[2016-05-17 19:09] arouinfar opened #94 "Add initial cueing arrow to the switch"
To make the switch a more intuitive component, we would like to add an initial cue that indicates the switch can be moved.

@ariel-phet wrote

1. It would be like wave on a string where it appears at the beginning but once you move the switch it goes away.
2. It would be like bending light, anytime you touch or hover on the switch the arrows would appear. <br><br>I would be in favor of (1)...I don

[2016-05-17 19:12] ariel-phet commented on #94
@arouinfar can you mockup the last option but with a double headed arrow that is a little longer and follows the "arc" of the path the switch end would swing through?

[2016-05-17 19:15] arouinfar commented on #94
Love the idea @ariel-phet! I think that's what I was going for, but didn't quite get there. I'll mock it up.

[2016-05-17 20:52] arouinfar commented on #94
@ariel-phet here are a few mockups with varying color/stroke weight.
![image](https://cloud.githubusercontent.com/assets/8419308/15337879/d65adede-1c3a-11e6-86e3-d83eef28e20c.png)
![image](https://cloud.githubusercontent.com/assets/8419308/15338664/1c77477e-1c3e-11e6-8745-3cc77efc3d44.png)

Increasing the top arrow by 15%
![image](https://cloud.githubusercontent.com/assets/8419308/15338762/90e7fd7

[2016-05-17 20:53] ariel-phet commented on #94
Yes, I agree, I would also make that arrow a bit longer, so it will have more of the arc to it

[2016-05-17 21:00] arouinfar commented on #94
I've made the top arrow a bit longer @ariel-phet
![image](https://cloud.githubusercontent.com/assets/8419308/15339091/fdd125e0-1c3f-11e6-8c8a-97a54be57e74.png)

[2016-05-18 14:36] andrewadare opened #95 "CL:B dev version 20 is up"
http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.20/

@phet-steele it's been almost a month since we put out the last dev version, and the sim has seen heavy development: extensive refactoring, many bug fixes, and a full PhET-iO pass. Many entry points for unexpected behavior.

Obviously up to @ariel-phet to assign priority for this, just letting you know this is availa

[2016-05-18 14:42] ariel-phet commented on #95
@andrewadare why don't you actually close this issue, and open a dev testing task in the tasks repo, and assign to me (that is our more traditional work flow for dev testing issues).

[2016-05-18 14:44] andrewadare commented on #95
Oops, good to know :)

[2016-05-18 14:44] #95 closed

[2016-05-18 16:41] samreid opened #96 "branch: phetio-require-2"
To be compatible with https://github.com/phetsims/phet-io/issues/439 as I work on #87

[2016-05-18 16:56] samreid commented on #87
It looks like part of the issue is caused by NaN, which looks like it is getting coerced to null for the event stream.  These values are obtained by observing the voltmeter valueProperty like so:

[code]
![image](https://cloud.githubusercontent.com/assets/679486/15367609/21bca176-1ce7-11e6-9b90-f4e3cf7c8b06.png)

[2016-05-19 16:41] jessegreenberg commented on #46
This can be closed, it is somewhat of a duplicate from #50 anyway.

[2016-05-19 16:41] #46 closed

[2016-05-19 17:24] jessegreenberg commented on #76
@samreid I am not sure that I understand the issue, and I can't seem to reproduce.  Is this because the mouse can separate from the arrow when the arrow gets to the max/min values?  It seems to behave much like other draggables in defined bounds, such as a slider thumb in a track.

Or maybe I just haven't observed the issue yet?

[2016-05-19 18:56] brroberts1231 opened #97 "Current arrows reverse near zero volts"
Test device: Schrodinger, Witten

Operating System: Win 8, iOS 9.3.2

Browser: Chrome, Safari

Problem description: If you let the capacitor slowly discharge through the lightbulb, and disconnect it shortly before it reaches zero volts, its voltage may jump directly to zero, and then if connected to the light bulb again, the current arrows will briefly appear pointing in the opposite direction.

S

[2016-05-19 19:13] jessegreenberg commented on #12
What is the status of this?  How did this sim perform through dev testing?

[2016-05-19 22:53] arouinfar commented on #94
As discussed in the 5/19 design meeting, the cueing arrow will have the following properties:
* Blue, double-headed, arc-shaped arrow with 0.5 pt stroke. Asset will be emailed to @andrewadare.
* Arrow will be visible on Capacitance and Light Bulb screens until the user interacts with the switch.
* The arrow cue will disappear from BOTH screens once the switch has been used on one of the screens. F

[2016-05-19 22:58] arouinfar opened #98 "Plate Area text overlaps wire"
It looks like the horizontal wires on the light bulb side of the circuit have been shortened, and there's now overlap between the Plate Area text and the wire.

dev.20 and dev.21
![image](https://cloud.githubusercontent.com/assets/8419308/15412132/68a3a232-1de2-11e6-8bcd-87ef921ce203.png)

dev.19 (desired look)
![image](https://cloud.githubusercontent.com/assets/8419308/15412148/8f446052-1de2-11e6

[2016-05-19 23:04] arouinfar opened #99 "Voltmeter funkiness near switch"
Observed in dev.21 during today's design meeting. There appears to be an issue when reading near the switch. For example, the voltage in this situation should be undefined:
![image](https://cloud.githubusercontent.com/assets/8419308/15412234/2e0f47e2-1de3-11e6-83d6-e9ea50a96e4a.png)

[2016-05-19 23:12] arouinfar opened #100 "Add stroke to voltmeter probes"
There isn't much contrast between the tip of the voltmeter probe and the capacitors, which makes them a bit hard to see. During today's design meeting we decide to add a 0.25 pt stroke to the probe. I've emailed the updated assets to @andrewadare for implementation.

[2016-05-19 23:15] arouinfar opened #101 "Change "Bar Graphs" checkbox to "Bar Graph" on Capacitance Screen"
Since there is only one bar graph available on the Capacitance screen, it makes sense for the checkbox option to be singular, rather than plural.

[2016-05-19 23:20] arouinfar opened #102 "Make battery slider more attractive"
During interviews, students took awhile to discover the battery slider (one took 20s, and the other 90s). We want students to interact with the battery early on in their exploration, so we've decided to make a few changes to the slider thumb. Namely, adding a thicker gray stroke around the edge and making the thumb a bright color -- yellow, most likely.

![image](https://cloud.githubusercontent.co

[2016-05-19 23:25] arouinfar opened #103 "Home screen icons"
As discussed in today's design meeting, the icons can be created in code.

The icon for the Capacitance screen will show two parallel plates on a blue background with the wires attached to the top and bottom. Similar to this, but without the adjustment arrows and dots:
![image](https://cloud.githubusercontent.com/assets/8419308/15412631/6137aada-1de6-11e6-85e4-e542e49037cf.png)

The Light Bulb scr

[2016-05-20 03:09] samreid commented on #76
This screencast demonstrates the typical drag behavior, where the mouse "attaches" to a specific location on an object such as the voltmeter.  This works correctly for the voltmeter.  However for the green drag arrows, starting a drag at one site then dragging leads to the mouse "getting away" from that site:

![mouse](https://cloud.githubusercontent.com/assets/679486/15416183/c002664e-1e05-11e6-9

[2016-05-20 22:20] phet-steele opened #104 "[PhET-iO] Reconsider slider value ranges"
@samreid @andrewadare the slider ranges in the instance proxies wrapper need to be reconsidered. All ranges are at a default [0,1]. This doesn't work with most (if any) sliders in the wrapper. Some examples:

`model.circuit.battery.voltageProperty` and `model.circuit.switchedCapacitor.platesVoltageProperty` should have a range set to something more like [-1.5,1.5]. Currently a user is unable to fl

[2016-05-20 22:21] phet-steele opened #105 "[PhET-iO] Missing home screen instrumentation"
@samreid @andrewadare In CLB instance proxy wrapper, I'm not able to make anything on the home screen interactable after launch. So if the sim is launched from this state, the sim is unusable.

It looks like the sim is missing some crucial intrumentation, notably the below list, that are all set to false and not under my control (they aren't in the list of proxies). If I remember correctly, the be

[2016-05-21 01:15] samreid commented on #104
Some ideas about how to proceed with this:

In the sim code, when constructing a Property, provide the metadata there such as:

[code]
Then the Property could do error checking in the sim code.  The min/max/units could be retrieved over the PhET-iO API.  On the other hand, it may be useful to have it statically in the API, but this seems like a way to provide the data to both the sim and the API w

[2016-05-21 01:16] samreid commented on #105
Sounds like the `pickable` buttons aren't being properly initialized.

[2016-05-23 15:35] alynne-phet opened #106 "Bar graph panel expanding issue when boxes are unchecked"
@arouinfar @jessegreenberg I was running the simulation on Mac Safari and noticed that when you click the check boxes to show the capacitance, plate charge, and stored energy values the box expands as the values get larger. When you unclick the boxes to no longer show the values, the box still expands. Is this an issue or is this ok with you?

https://drive.google.com/file/d/0B2k01kdMqJLDbEpNVkJBS

[2016-05-23 16:15] jessegreenberg opened #107 "Lightbulb too close to capacitor"
It looks like during some refactoring, light bulb spacing was removed.  The light bulb should have some more distance from the capacitor.

![19](https://cloud.githubusercontent.com/assets/6396244/15476930/49b32f2e-20cf-11e6-8866-961b7bf09f2c.PNG)

[2016-05-23 16:16] jessegreenberg commented on #106
Good catch @alynne-phet, definitely a bug.  It is happening because the 'Plate Charge' graph extends beyond the bounds of the panel, and was introduced because of https://github.com/phetsims/capacitor-lab-basics/issues/107.

Fixing https://github.com/phetsims/capacitor-lab-basics/issues/107 should fix this issue as well.

[2016-05-23 16:21] jessegreenberg opened #108 "Plate charge density is too high"
It looks like the plate charge density is a bit higher than it was in previous dev versions.  For comparison, here is the capacitor at 1.5 V connected to the battery in version 18:
![18](https://cloud.githubusercontent.com/assets/6396244/15477035/f2a8fab4-20cf-11e6-94f1-3c9f10967d90.PNG)

Here is the capacitor connected to the battery at 1.5 V in version 21:
![21](https://cloud.githubusercontent.c

[2016-05-23 16:26] jessegreenberg commented on #108
Looks like it was introduced in version 20, density in version 19 looks correct.

[2016-05-23 16:31] jessegreenberg commented on #108
This was introduced in commit 6cdbe9fb6e34df00546bb5c8e77023b355b01bf9, versions before that have correct density.

[2016-05-23 16:38] jessegreenberg commented on #108
Max plate charge is no longer correct:

For correct density, Max Plate Charge is 5.321e-12.  In master, max plate charge is 1.062e-12.  This causing the incorrect value in PlateChargeNode.getNumberOfCharges().

[2016-05-23 16:46] arouinfar commented on #98
@jessegreenberg has reported this issue in #107 so this is now a duplicate issue. Closing.

[2016-05-23 16:46] #98 closed

[2016-05-23 16:47] arouinfar commented on #103
To clarify, the blue background should match the color of the playspace.

[2016-05-23 16:48] jessegreenberg commented on #98
Oops, sorry about that!  Thanks @arouinfar.

[2016-05-23 16:48] arouinfar commented on #106
Nice work @alynne-phet. Looks like @jessegreenberg has diagnosed the problem, so I'll go ahead and reassign to @andrewadare.

[2016-05-23 16:52] jessegreenberg commented on #108
Github seems to be delayed but the, recent commit fixes this.  The 'capacitor with max plate charge' returned by CLBModel was creating a capacitor with the dielectric at the wrong offset.  Once the commit is visible, this issue can be closed.

[2016-05-23 16:56] arouinfar commented on #98
No problem! I should have tagged you in this issue.

[2016-05-23 17:19] jessegreenberg commented on #108
Commit was made and pushed, console claims that push was successful.  Not sure why it is not showing up here or in the list of commits. I am noticing problems with the site right now, so it is probably related to other :octocat: issues. Tagging as fixed to be closed as soon as the commit comes through.

[2016-05-23 17:20] arouinfar commented on #102
This color combination seems to work nicely, even in colorblind preview modes
![image](https://cloud.githubusercontent.com/assets/8419308/15478543/34f643e2-20d8-11e6-8eba-3278c503a4a3.png)  ![image](https://cloud.githubusercontent.com/assets/8419308/15478550/3ef49f42-20d8-11e6-81c9-a55825f70d31.png)  ![image](https://cloud.githubusercontent.com/assets/8419308/15478560/4b403e82-20d8-11e6-919f-b42f0

[2016-05-23 17:21] arouinfar commented on #102
Brighter yellows have somewhat poorer contrast with the top of the battery in colorblind preview.

[2016-05-23 17:21] jessegreenberg commented on #107
Sorry, this was a duplicate issue with #98.  Leaving this open since #98 was closed, and since #98 was assigned to @andrewadare, assigning this issue to him as well.

[2016-05-23 17:24] jessegreenberg commented on #108
It's in! Thanks octocat! :octocat:

Closing.

[2016-05-23 17:24] #108 closed

[2016-05-24 14:42] #107 closed

[2016-05-24 21:18] andrewadare opened #109 "Undefined voltmeter reading with probes shorted on light bulb leads"
Following the zero-resistance wire assumption, the voltage drop should be zero on all wires, and it should be zero across the light bulb when it's disconnected.

[2016-05-24 21:21] andrewadare commented on #100
I forgot to reference this issue in the commit, but cd7eb4a50f092efbe2a5f3efb6aec00c527c09b5 has the new images from @arouinfar .

[2016-05-24 21:22] andrewadare commented on #100
If this looks good now, feel free to close.

[2016-05-24 21:39] arouinfar commented on #100
Looked at the latest in master, and the new assets look good. Thanks @andrewadare!

[2016-05-24 21:39] #100 closed

[2016-05-25 13:12] andrewadare commented on #106
Looks like 2da19eeeab039155b555af170181cf1167c716ed fixed this one for free.

[2016-05-25 15:04] andrewadare commented on #97
Nice job, that is some thorough testing. This is a pretty marginal case, and I can reproduce it, but not very easily.

The problem is that the current is calculated in [two different ways](https://github.com/phetsims/capacitor-lab-basics/blob/5743bf844c21578325ddadef03e652bd4da1dae6/js/light-bulb/model/LightBulbCircuit.js#L238-L253): V/R when the light bulb is connected, and dQ/dt when it's not. T

[2016-05-25 15:24] andrewadare commented on #97
421d86ed6a02e9f9a303dbd344e9bfbfafed0045 helps with this issue, but it can still happen. I believe it's a judgment call at this point whether to put in more effort on it.

[2016-05-25 17:38] #79 closed

[2016-05-25 18:16] phet-steele commented on #105
@samreid, BLL is also missing home screen instrumentation.

[2016-05-26 16:30] arouinfar commented on #102
@andrewadare here are the RGB values for the for the slider:

Stroke (2pt): RGB (191, 191, 191)

[2016-05-26 17:46] andrewadare commented on #102
Sorry for the confusion, looks like you did have the final color choice written down. I read through the issue too quickly. Battery looks like this now:
![image](https://cloud.githubusercontent.com/assets/154163/15584287/291e1656-2337-11e6-8c0f-015a502689c8.png)

[2016-05-26 18:27] arouinfar commented on #102
Looks good @andrewadare. Can the gray stroke be made 1 pt/px heavier?

[2016-05-26 20:50] #109 closed

[2016-05-26 22:05] andrewadare commented on #94
The third check box is harder...requires sending info between screens. I haven't come across any examples of this yet. Will ask the other devs about it.

[2016-05-26 22:15] arouinfar commented on #94
@andrewadare the third checkbox is more of a wishlist item, and less of a necessity. It would be still be nice if you could consult with the other devs to see what it would take to implement this feature.

[2016-05-27 16:52] samreid commented on #96
Branch merged to master and deleted, closing.

[2016-05-27 16:52] #96 closed

[2016-06-02 17:36] #106 closed

[2016-06-02 17:36] #103 closed

[2016-06-02 17:40] #102 closed

[2016-06-02 17:40] #101 closed

[2016-06-02 18:18] phet-steele opened #110 "Automated Testing Build Error (6/2/2016 11:30 AM)"
[code]

[2016-06-03 15:15] samreid commented on #110
I saw this issue today when trying to build/test capacitor lab basics.

[2016-06-03 15:15] samreid commented on #110
It means that entries must be added to capacitor-lab-basics/images/license.json

[2016-06-03 19:43] #110 closed

[2016-06-07 03:04] samreid opened #111 "Can we use null instead of NaN for voltages?"
The simulation uses NaN for when a probe is not touching a component with a voltage.  NaN doesn't play nice with Property.js since NaN!==NaN.  Can the NaNs here be converted to null instead?  This would also address #87

[2016-06-07 03:05] samreid commented on #87
Putting on hold until we discuss #111.

[2016-06-07 14:24] andrewadare commented on #111
I'll take a look today.

[2016-06-07 17:03] jessegreenberg commented on #111
Thanks @andrewadare!  I think use of ```Number.NaN``` is just an artifact from the port since ```Double.NaN``` was used in the Java.  I can't think of a reason why using ```null``` should be an issue.

[2016-06-08 16:58] andrewadare commented on #94
49671ad should wrap this one up. Works as requested; closing.

[2016-06-08 17:16] andrewadare commented on #87
I tried reproducing your test by injecting your snippet above into the Voltmeter constructor. After 6d8a7fb I see a transition from `null` to numbers now (with the voltmeter in its initial toolbox) when I drag the slider in the instance proxies wrapper:
![image](https://cloud.githubusercontent.com/assets/154163/15903331/7325d770-2d69-11e6-827e-7fd3203b655a.png)

The slider still has a default rang

[2016-06-08 17:45] samreid opened #112 "Dealing with NaN"
From #87 Can we emit NaN on the data stream, serialize it, or at least exception when finding it?

[2016-06-08 18:03] samreid commented on #87
Thanks, it looks like all of the NaN issues are resolved and the remainder of the messages are from setting the same Vector2 values.  I'd like to understand why the simulation keeps setting the same Vector2 values multiple times.

[2016-06-08 19:08] #111 closed

[2016-06-08 19:11] andrewadare commented on #64
This issue has been fixed for quite a while. Closing.

[2016-06-08 19:11] #64 closed

[2016-06-09 17:43] jessegreenberg commented on #72
@arouinfar this might be a bug that we need to fix before student testing.  I work on this before next week's tests.

[2016-06-09 17:44] jessegreenberg commented on #97
Thanks for looking into this @andrewadare.  We will probably want to close this before the upcoming student testing.

[2016-06-09 17:46] arouinfar commented on #72
Thanks @jessegreenberg. I would agree that we want to fix this before interviewing.

[2016-06-09 19:21] jessegreenberg commented on #72
Here is the detection calculation:

[code]

Intersection is for the plate bounds, not the plate shape.  Maybe we can get some more accuracy if we reverse the bounds/shape for the probe tip and the plate.  It would be more like

[code]

[2016-06-09 19:43] #97 closed

[2016-06-09 22:38] jessegreenberg opened #113 "Light bulb base looks blury"
On windows 10 Chrome 50 the base of the light bulb looks a bit blury.  It is especially noticeable in the home screen icon.  Perhaps we can use mipmaps to reduce the blurriness.

[2016-06-10 16:21] jessegreenberg commented on #99
While looking into #72 I noticed that the voltmeter reads '?' for the following configuration
![capture](https://cloud.githubusercontent.com/assets/6396244/15971170/18df8a6c-2ef5-11e6-98a3-e4dc86d02743.PNG)

[2016-06-10 16:22] jessegreenberg commented on #99
When both probes are connected to the wires connecting the battery, voltage is read correctly.  Possibly related to the touchingFreePlate function.

[2016-06-10 17:57] jessegreenberg commented on #99
connectedToDisconnectedCapacitorTop was return true even when the capacitor was disconnected.  Fixing the issue resolves the issue for the capacitor.  However, we still have the issue for the lightbulb as well
![capture](https://cloud.githubusercontent.com/assets/6396244/15973760/57dcfcf6-2f02-11e6-924d-3de5ef4de592.PNG)
So we will need to do something similar for the lightbulb.

[2016-06-10 21:38] jessegreenberg commented on #99
The voltmeter readout should be correct at all probe locations, closing.

[2016-06-10 21:38] #99 closed

[2016-06-10 21:41] jessegreenberg commented on #72
That doesn't work because topPlateShape.intersectsBounds( shape.bounds ) will not return true when shape.bounds is entirely contained by topPlateShape.

[2016-06-10 22:25] jessegreenberg commented on #113
Seems much better to me:
Before:
![capture1](https://cloud.githubusercontent.com/assets/6396244/15980304/d9f6646e-2f27-11e6-9031-0d631a8dcbd6.PNG)

After:

![capture2](https://cloud.githubusercontent.com/assets/6396244/15980311/e5fb3848-2f27-11e6-98eb-681e3718529d.PNG)

[2016-06-10 23:13] jessegreenberg commented on #113
Icon is a bit sharper now as well.  Closing.

[2016-06-10 23:13] #113 closed

[2016-06-10 23:25] jessegreenberg opened #114 "Dragging switch no longer drags the other"
@andrewadare I recently noticed that dragging one switch no longer rotates the other at the same time.  The two switches used to be linked so that changing the angle of one changed the angle of the other.  Was this needed for phet-io or was this an accidental change?

[2016-06-10 23:36] jessegreenberg commented on #114
My apologies!  This was caused by a refactor of mine for circuit switches that I had forgotten about.  Commit above fixes this.

[2016-06-10 23:36] #114 closed

[2016-06-11 00:15] jessegreenberg commented on #33
TODOs have been handled, and old code has been removed.  This issue can be closed.

[2016-06-11 00:15] #33 closed

[2016-06-13 15:25] jessegreenberg commented on #12
Checked with QA team, performance was good on tablets in the dev test.

[2016-06-13 16:13] jessegreenberg opened #115 "Refactor ConnectionAreaNode and ConnectionPointNode"
While cleaning up #29 I noticed that ConnectionAreaNode and ConnectionPointNode are redundant.  These two objects can probably be collapsed into a single file.  This would probably improve the maintainability of the input listeners.

[2016-06-13 16:58] jessegreenberg commented on #12
Closing this issue.  Remaining items have independent issues to track progress.

[2016-06-13 16:58] #12 closed

[2016-06-13 22:32] jessegreenberg opened #116 "Arrow does not appear with negative charge and max stored energy"
When the stored energy is maximized with a negative charge on the top plate, the blue overflow arrow does not appear to indicate that the value of the meter extends beyond the maximum value for its scale.

[2016-06-14 00:22] #92 closed

[2016-06-14 01:35] ariel-phet opened #117 "Code Review"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pa

[2016-06-14 16:16] alynne-phet opened #118 "Voltmeter text rendering with ?stringTest=double"
From https://github.com/phetsims/scenery/issues/469#issuecomment-225923568

@jessegreenberg I see this in CLB 1.0.0-dev.22 with `?stringTest=double` and OS X 10.11.5 Safari. The voltmeter text exhibits this issue when it is initially taken out of the box. This issue seems to fix itself once you take a voltage measurement.

For phetsims/tasks/issues/615

Screenshots:
![image](https://cloud.githubus

[2016-06-14 16:55] phet-steele commented on #94
@arouinfar, quick question. Do we want to arrows to return or not after Reset All?

[2016-06-14 17:00] arouinfar commented on #94
@phet-steele, yes the arrows should reappear after Reset All. This is consistent with other cueing arrows like those in Wave on a String and Faraday's Law.

[2016-06-14 17:00] #94 closed

[2016-06-14 17:12] phet-steele opened #119 "Voltmeter doesn't update when dragging a switch"
@jessegreenberg Should be self explanatory:

![clb01](https://cloud.githubusercontent.com/assets/5863899/16052288/c7088412-3220-11e6-93d2-c2551e71cc37.gif)

For phetsims/tasks/issues/615.
Troubleshooting information:
Name: ‪Capacitor Lab: Basics‬
URL: http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.22/capacitor-lab-basics_en.html
Version: 1.0.0-dev.22 2016-06-13 17:02:

[2016-06-14 17:37] alynne-phet opened #120 "Pointer areas occassionally unresponsive for separation and plate area arrows"
For phetsims/tasks/issues/615

On the iPad 2, for CLB, the arrows for the separation and plate areas are occasionally unresponsive. The arrows are difficult to move using the touchscreen. Also, the separation arrow can be dragged without the arrow turning yellow.

[2016-06-14 21:42] andrewadare commented on #118
Also see #61

[2016-06-14 21:45] andrewadare commented on #120
Would it help for this one to just make the arrows a little larger?

[2016-06-14 22:00] andrewadare commented on #61
@jessegreenberg, I self-assigned this one a while back, but don't know exactly how to do it (other than self-educating from examples). Maybe it would be a fun pairing project sometime soon? You could get me started, then turn me loose to finish it off.

[2016-06-15 16:32] jessegreenberg commented on #116
Fixed, closing.

[2016-06-15 16:32] #116 closed

[2016-06-15 16:36] jessegreenberg commented on #61
Sounds good @andrewadare!  I did a significant portion of this for dev.22 in https://github.com/phetsims/capacitor-lab-basics/commit/0411b044cc00fd919c4babd6d040424aacf4cad1 but there is still some work to do, it would be great to work on this together.

[2016-06-16 14:02] samreid commented on #104
@andrewadare and I are moving the number metadata to TNumber.

[2016-06-16 14:36] samreid commented on #105
Fixed above, closing.

[2016-06-16 14:36] #105 closed

[2016-06-16 14:37] samreid commented on #104
This work will hinge on getting the API exported from the sim.

[2016-06-17 21:08] jessegreenberg commented on #61
@andrewadare and @jessegreenberg worked together to wrap this up.  The commit above completes i18n and cleans things up so scaling is calculated by screen view layout where possible.  Closing.

[2016-06-17 21:08] #61 closed

[2016-06-17 21:09] jessegreenberg commented on #120
@phet-steele I recall you observing this elsewhere in another sim.  Was this similar to another issue you found in function builder or something?

[2016-06-17 21:10] jessegreenberg commented on #120
https://github.com/phetsims/capacitor-lab-basics/issues/120#issuecomment-226025917, yes, that should work.  We can make the touch areas larger too and see if that helps.

[2016-06-20 19:42] brroberts1231 opened #121 "Voltmeter probe contact locations"
For phetsims/tasks#615
Test device: Bates

Operating System: Windows 7

Browser: Chrome

Problem description: There are certain spots on the lightbulb, where the voltmeter gives a different value from what you would expect.

Screenshots:
Here the red probe is clearly touching the insulating layer between the two conductive portions of the lightbulb, and you would expect ?V,  but the voltmeter trea

[2016-06-23 19:04] jessegreenberg commented on #120
Commit above should make the arrows more responsive to touch dragging.

[2016-06-23 20:26] jessegreenberg commented on #119
I assumed that the circuit was not connected to a new component until the switch 'pin' was released into a connection spot, so voltage should be undefined until the user releases the mouse from dragging.  Commits above ensure that voltage is undefined as long as the user is dragging.  @arouinfar what do you think? Is this an issue that needs to be addressed?

If the circuit needs to be connected a

[2016-06-23 20:32] jessegreenberg commented on #118
Thanks for bringing this up @alynne-phet and referencing https://github.com/phetsims/scenery/issues/469#issuecomment-225923568, we didn't used to see this in built versions.  Closing this issue since it is likely an issue with '+' concatenation in the sringTest tools for most sims in Safari.  Progress will be tracked there in the scenery issue above.

[2016-06-23 20:32] #118 closed

[2016-06-23 20:38] jessegreenberg commented on #121
Good poinits @brroberts1231.  @arouinfar how smart to the probes need to be with respect to the light bulb base?  Should the black part act like an insulator and the silver part act like a conductor?  Or would you rather the behavior be that anywhere on the bulb base is considered connected to the circuit?

The bulb base will need to be modeled with shapes.  @andrewadare and I will work on this ne

[2016-06-24 20:32] arouinfar opened #122 "Increase Touch Areas on Switch End"
I interviewed this sim on an iPad this afternoon and observed some minor difficulty in moving the switch (using the ball on the end) and changing the plate separation and area.

Let's increase the touch area around the ball end of the switch to be a bit larger (though still remaining within the "click to switch" areas), and also increase the touch area around the arrows and accompanying text.  I'v

[2016-06-24 20:40] arouinfar commented on #121
Let's go with this option @jessegreenberg @andrewadare.

[2016-06-24 20:45] arouinfar commented on #119
@jessegreenberg this seems reasonable to me! I took a look at master, and it looks good.

[2016-06-24 21:19] andrewadare commented on #122
@jessegreenberg and I actually worked on a closely related issue yesterday (see #120). We increased the touch areas for the drag arrows, but not for the ends of the switch. It seems to better, especially on a touchscreen.

We'll work on increasing the areas for the switch ends as well.

[2016-06-24 22:04] arouinfar commented on #122
Thanks @andrewadare! Sorry for the partially duplicate issue. I'll rename this one to deal with the switch only since, you have handled the arrows elsewhere.

[2016-06-27 15:01] andrewadare commented on #122
@arouinfar The draggable switch rectangle area is now 2.25x larger. Any bigger, and it would extend outside the enclosing triangle. Hopefully this is enough to solve drag problems on tablets.

![clb](https://cloud.githubusercontent.com/assets/154163/16384222/5aa61120-3c45-11e6-8d1e-e25aa99ac300.png)

[2016-06-27 15:41] arouinfar commented on #122
Looks great @andrewadare! I'll give it a try on the iPad this afternoon and report back.

[2016-06-27 15:44] andrewadare commented on #122
@arouinfar do you want me to push a dev version or are you just going to test on master?

[2016-06-27 15:47] arouinfar commented on #122
Can you push a new dev @andrewadare? I didn't think about the fact I'd be testing it out at the booth, where phettest is inaccessible. Thanks!

[2016-06-27 15:54] andrewadare commented on #122
@arouinfar no problem... [1.0.0-dev.25](http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.25/capacitor-lab-basics_en.html) is up on spot.

[2016-06-27 16:08] jessegreenberg commented on #121
Sounds good, thanks @arouinfar!

[2016-06-27 16:09] jessegreenberg commented on #119
Great, thanks @arouinfar!  Commits above fix this, closing.

[2016-06-27 16:09] #119 closed

[2016-06-28 18:29] andrewadare commented on #121
The following patch fixes the problem:
[code]
[code]
[code]

That's a little hard to read, but all I'm doing there is shifting the vertical wire from the lightbulb to the left slightly, which causes the probe areas on the top and bottom wires to invisibly overlap under the light bulb base.

@jessegreenberg , what do you think about this option? Acceptable, or too much of a hack?

[2016-06-28 18:32] andrewadare commented on #121
Here's how it looks after the shift:

<img width="503" alt="clb" src="https://cloud.githubusercontent.com/assets/154163/16427800/555ff356-3d2c-11e6-8758-7f071a1bd291.png">

[2016-06-28 22:22] jessegreenberg commented on #121
@andrewadare not too much of a hack, but I am concerned that much of the base shape is still excluded outside of the wire.

I think the most robust solution would be to add a LightBulbShapeCreator under model/shapes with a getBaseShape function, similar to BatteryShapeCreeator.  This would allow us to get the behavior in https://github.com/phetsims/capacitor-lab-basics/issues/121#issuecomment-2284

[2016-06-29 00:29] jessegreenberg commented on #121
The above commit takes a stab at modeling the shape of the light bulb base.  Next we can check if the probe tip is inside of this shape to determine if it is connected to the circuit.

![outline](https://cloud.githubusercontent.com/assets/6396244/16436803/36fc871c-3d5e-11e6-991b-b4140e59ec57.PNG)

[2016-06-29 00:37] jessegreenberg commented on #121
Hmmm, if this is the case, is the bulb base connected to the 'top' or 'bottom' of the circuit?  Lets say top for now.

[2016-06-30 00:35] jessegreenberg commented on #121
@arouinfar would you mind reviewing to make sure this is fixed?  The behavior is that the entire light bulb base acts as a conductor connected to the *top* wire. Here is the latest:

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.26/capacitor-lab-basics_en.html

[2016-06-30 16:28] arouinfar commented on #121
@andrewadare @jessegreenberg something's not right here...

If the voltmeter probes sandwich the socket, there should be a non-zero voltage reading when the bulb drains the capacitor. However, I get a zero reading.
![voltmeter](https://cloud.githubusercontent.com/assets/8419308/16495799/2a8709cc-3eac-11e6-9f73-2d3bfbb2a8fe.gif)

After moving the probes a little further out, the voltmeter correctly

[2016-06-30 16:31] jessegreenberg commented on #121
Thanks @arouinfar, sorry about that!  For the first .gif, I think we can improve the boundaries to detect where the probe tips are.  Not sure why the final image is happening, I will investigate that.

[2016-06-30 18:04] arouinfar commented on #122
Looks great! Closing.

[2016-06-30 18:04] #122 closed

[2016-06-30 18:07] arouinfar commented on #120
@jessegreenberg @andrewadare while reviewing #122, I tested the plate arrows out on the iPad 2. The arrows themselves feel great, but I think it would be nice to include the text as an additional drag handle. It seems like Separation text is part of the touch area, but not the Plate Area text.

[2016-06-30 18:12] jessegreenberg commented on #120
Thanks for testing @arouinfar.  We can include the text in the pointer areas, similar to your mock up in #122.

[2016-06-30 18:14] jessegreenberg commented on #117
Discussed 6/30/16, @jbphet will likely do the review (Thanks!) but will be done in a few weeks.

[2016-07-20 06:08] pixelzoom opened #123 "bad names for factory functions"
Noticed while investigating https://github.com/phetsims/phet-core/issues/24#issuecomment-233840820....

I see factory functions that look like these in BarMeterNode:

[code]

These functions look like constructors because they being with an uppercase letter. And they are even described incorrectly here as "Factory constructor".   At call sites, they look like this:

[code]

These function should d

[2016-07-20 06:09] pixelzoom commented on #123
Also note that all 3 of the factory functions above are documented as:

```* Factory constructor for a CapacitanceMeterNode.`

This is correct for only 1 of the functions, the other 2 are incorrect.

[2016-07-20 06:10] pixelzoom commented on #123
Similar anti-pattern used for `DielectricMaterial.CustomDielectricMaterial`.

[2016-07-20 17:23] samreid opened #124 "Battery.js handles Tandem inconsistently"
Docs say tandem is required, but logic checks for the existence.  Docs or logic should be fixed, I'm not sure which.

[2016-07-20 19:04] jessegreenberg opened #125 "Investigate small current oscillations"
Found in the event stream, there is a very small oscillation in current.  It is not clear why this is there, and should be investigated.

The observed oscillation went from 0 to  0 to -1.49191642661101e-14 back to 0.

[2016-07-20 20:06] andrewadare commented on #123
There is extensive use of factory methods (with a similar naming pattern) in this sim.

Examples:

* `Top` and `Bottom` factory methods in BatteryToSwitchWire, CapacitorToSwitchWire, LightBulbToSwitchWire, and PlateNode
* Many factories in WireSegment.js

Presumably these should be renamed as well.

[2016-07-20 22:09] pixelzoom commented on #123
Yes.
Code Style Guidelines section of [PhET Development Overview](https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#) indicates that PhET uses [idomatic.js](https://github.com/rwaldron/idiomatic.js#naming), which specifies lowercase for functions, uppercase for constructors (as is typical in most naming conventions).

[2016-07-20 22:33] samreid opened #126 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-21 14:37] andrewadare commented on #123
The remaining offender, WireSegment.js, appears to need more than renaming. It reads like spaghetti and contains several functions like this:
[code]
I'm no expert on the factory pattern, but this seems useless to me.

[2016-07-21 14:47] andrewadare commented on #123
I now see that these methods exist so that the various method names don't need to be exposed in the global scope.

Prepending `create` (and correcting the jsdoc) will go a long way towards clarifying all this.

[2016-07-21 15:00] andrewadare commented on #123
VoltMeterNode and VoltMeterProbeNode should also get a facelift.

[2016-07-21 15:10] andrewadare commented on #123
Searching for `return new` (and filtering for noise), I can't find any remaining cases of this problem.

Glad this issue was raised--the whole sim feels like it just got a shave and a shower.

[2016-07-21 21:13] samreid commented on #126
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 21:13] #126 closed

[2016-07-25 17:08] #124 closed

[2016-07-25 17:15] jessegreenberg opened #127 "Undefined typeSet error"
When running capacitor-lab-basics, I observe an error:

in PropertySet (line 94).

It looks like options.typeSet is undefined in PropertySet because TBoolean is undefined in CLBModel.  If options.typeSet is dependent on brand, should PropertySet be checking for existence of typeSet first?

[2016-07-25 17:46] andrewadare commented on #127
@jessegreenberg apologies for that. Checking for typeSet does allow CL:B to load when the brand is not phet-io:
[code]
I encountered the same problem with `options.tandemSet` (one line above) on Friday, but instead of inserting a check for truthiness, @samreid suggested putting an assertion to catch cases where the tandemSet has been passed in as a `null` (because functions like `getVoltage` creat

[2016-07-25 17:46] jessegreenberg commented on #123
While reviewing this issue, I found one more offending case in DielectricMaterial.

[2016-07-25 17:50] samreid commented on #127
Can you show the place in CLB where tandemSet: null is being passed in?

[2016-07-25 17:58] jessegreenberg commented on #127
Here https://github.com/phetsims/capacitor-lab-basics/blob/master/js/common/model/CLBModel.js#L55 since TBoolean is using ifphetio.

[2016-07-25 18:06] andrewadare commented on #127
In this case `typeSet` is undefined, not null, since as @jessegreenberg points out, TBoolean is undefined. Perhaps this comment is redundant since the issue was renamed.

[2016-07-25 18:12] andrewadare commented on #127
In this case the tandem is defined and non-null (with id "capacitorLabBasics.capacitanceScreen.model"), and the tandemSet is defined and populated.

[2016-07-25 20:20] samreid commented on #127
@andrewadare can we use the pattern we used previously, factoring out the options and only creating them if they will be non-null?

[code]

[2016-07-25 20:29] andrewadare commented on #127
Yes, in fact that was the first thing I tried in CLBModel, except that the line with `typeSet` also included a `TBoolean` check. I didn't yet commit that to master, though.

It didn't seem to solve this problem.

[2016-07-25 20:33] andrewadare commented on #127
@samreid I suppose you object to the `options.typeSet && options.typeSet[ value ] );` solution mentioned earlier, for the same reason as for `tandemSet` (namely because it may allow problem code through uncaught)?

[2016-07-25 20:50] andrewadare commented on #127
This was auto-closed prematurely by including the "fixes" keyword in my commit comment.

@samreid correctly identified that both the tandem instance and the wrapper type need to be checked before passing the PropertySet options.

[2016-07-25 20:52] andrewadare commented on #127
@samreid and I discussed that asserts or checks may still be added to the axon code in the future, but we agreed that this is the best solution for now.

[2016-07-26 16:45] phet-steele opened #128 "Automated Testing Build Error (7/26/2016 10:00 AM)"
[code]

[2016-07-26 16:52] #128 closed

[2016-07-27 17:21] andrewadare opened #129 "createBulb doesn't look right"
@jessegreenberg, while trying to instrument BulbNode, I came across this code in CLBLightBulbScreen:
[code]
Shouldn't this be named createBulbNode(), and call `new BulbNode` somewhere from within, instead of here at the call site? Again, I'm new to the factory pattern, so maybe I am missing something.

And in BulbNode,
[code]
This looks confusing, but for different reasons than those reported by @

[2016-07-27 18:10] pixelzoom commented on #129
`BuldNode.createBulb` is also confusing because (at first glance) it appears to call itself, when in fact it calls a private function that has the same name.

The indirection is apparently necessary because both the BulbNode constructor and `BulbNode.createBulb` call the private function `createBulb`.

If the purpose of this is to provide a bulb icon that has no associated model element, then you

[2016-07-28 01:19] jessegreenberg commented on #129
This was very confusing.  I renamed the static function to ```createBulbIcon``` and the private function to ```drawBulbNode```.  I also moved the private function below the BulbNode constructor because I think we agreed that the constructor should be near the top of the file.  @andrewadare would you mind reviewing again?

[2016-07-28 01:50] jessegreenberg commented on #123
https://github.com/phetsims/capacitor-lab-basics/issues/123#issuecomment-235028211 fixed.  Thanks for working on this issue @andrewadare.

[2016-07-28 01:50] #123 closed

[2016-07-28 01:59] andrewadare commented on #123
@jessegreenberg Looks great, thanks!

[2016-07-28 02:03] andrewadare commented on #129
@jessegreenberg things look much clearer after 0d37061! Thanks.

[2016-07-28 02:03] #129 closed

[2016-08-02 23:21] arouinfar opened #130 "Current arrows not visible when re-charging capacitor"
Observed in dev.27 (and master) on latest OSX/Chrome.

Steps to reproduce
* Charge capacitor, switch to bulb
* Let bulb drain the capacitor completely
* Switch back to battery, current arrows do not appear when recharging (unless switch first travels through middle position)

![currentarrows](https://cloud.githubusercontent.com/assets/8419308/17348564/3127a04c-58d4-11e6-9965-dc2c9da70b24.gif)

[2016-08-02 23:44] arouinfar opened #131 "Voltage reading across bulb matches capacitor, even when disconnected"
Observed in dev.27 on latest OSX/Chrome.

The voltage reading across the light bulb always matches the voltage across the capacitor, even when the bulb is disconnected.

![vm](https://cloud.githubusercontent.com/assets/8419308/17349010/d90a59dc-58d7-11e6-82fb-7c65bf134911.gif)

[2016-08-12 16:50] samreid commented on #104
We've got this primarily working, but still need to update simulations with the correct ranges.  We can do that on a sim-by-sim basis, as part of new separate issues.  We will discover these problems in review or testing with instance-proxies.

[2016-08-12 16:50] #104 closed

[2016-08-25 22:57] pixelzoom opened #132 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:25] pixelzoom commented on #132
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:25] #132 closed

[2016-08-29 19:25] pixelzoom opened #133 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-09-08 17:29] arouinfar opened #134 "Items to include in the Teacher Tips"
There are a few issues that have been addressed, but have been left open because they'll require documentation in the Teacher Tips. I've decided to close the original issues and consolidate them here instead.
- [x] #57 - Minimum of 1 E-field line per quadrant
- [x] #59  - Density of E-field lines maps to magnitude
- [x] #60 - Precision issues
- [x] #138 - Battery threshold
- [x] #150 - Plate charg

[2016-09-08 17:29] #57 closed

[2016-09-08 17:29] #59 closed

[2016-09-08 17:29] #60 closed

[2016-09-08 22:00] pixelzoom opened #135 "screen icon fails validation"
After adding icon validation to joist.Screen (see https://github.com/phetsims/joist/issues/352), it was discovered that the home screen icon in CapacitanceScreen fails validation.  At 411.59999999999997x280 it is smaller than the minimum size of Screen.HOME_SCREEN_ICON_SIZE.

This bit of code in CapacitanceScreen is also suspect (and responsible for the non-integer width):

[code]

In general, it'

[2016-09-13 15:22] andrewadare commented on #50
This sim has been instrumented and reviewed several months ago.

[2016-09-13 15:22] #50 closed

[2016-09-14 15:52] andrewadare commented on #135
I've been assigned as the maintainer for CL:B, and git is confirming that I'm responsible for the suspect code, so I'll take this one over.

[2016-09-14 16:01] andrewadare commented on #135
@pixelzoom There's no asset file because the image is a screenshot from the sim. Is that acceptable? I recall asking someone about that and got no objection, but want to confirm that.

If a screenshot is okay (provided it's the correct size), is there somewhere it needs to be noted that there's no corresponding asset file?

And if screenshots are not okay, I guess I'll either need to create one in

[2016-09-14 16:19] andrewadare commented on #135
@arouinfar, is it reasonably quick for you to create a nice screen icon for the capacitance screen (to replace my screenshot hack)? If you do it, we'll have an AI file to keep in assets/.

If not, I'll look into creating one in code, possibly with @jessegreenberg (who has offered to help).

[2016-09-14 16:28] arouinfar commented on #135
Can do @andrewadare! I'll get it to you soon.

[2016-09-14 16:34] andrewadare commented on #135
@arouinfar Outstanding! You have probably already figured it out, but I was using [this](https://github.com/phetsims/capacitor-lab-basics/blob/eac24d870d7308a3d6f1d30fc136455d0c820ccd/images/capacitor-icon.png). Feel free to design something cooler.

[2016-09-14 16:56] pixelzoom commented on #135
I would think so.

[2016-09-14 17:16] #133 closed

[2016-09-14 17:20] arouinfar commented on #135
I've emailed this image and the associated .ai file to @andrewadare.
![capacitance_screen_icon](https://cloud.githubusercontent.com/assets/8419308/18522376/082d508c-7a6d-11e6-929e-742eb1afe8e1.png)

[2016-09-14 17:35] andrewadare commented on #135
@arouinfar looks great, thanks for the quick turnaround.

[2016-09-14 17:35] #135 closed

[2016-09-14 17:38] arouinfar commented on #135
Looks good in master, thanks @andrewadare!

[2016-09-14 17:40] andrewadare commented on #127
This was resolved months ago--closing.

[2016-09-14 17:40] #127 closed

[2016-09-14 18:07] andrewadare commented on #125
This looks similar to the [ESPB energy non-conservation issue](https://github.com/phetsims/energy-skate-park-basics/issues/355): the model is computing a quantity using an approximation, and the PhET-iO data stream exposes imperfections that are not otherwise visible.

In AbstractCircuit.js, I = dQ/dt in updateCurrentAmplitude is a good place to begin investigating.

[2016-09-14 21:38] andrewadare commented on #125
I took some time this afternoon to save the phet-io datastream and make some plots. Here's currentAmplitudeProperty vs time:
![currentamplitudeproperty](https://cloud.githubusercontent.com/assets/154163/18530810/720ac296-7a90-11e6-8b54-1a7a46c17a4a.png)

and here's platesVoltageProperty vs time, divided by the (unrealistically large) light bulb resistance:

![platevoltageproperty](https://cloud.gi

[2016-09-14 23:55] samreid commented on #125
I'm not sure where this report originated.  Perhaps this is just the current spike when battery voltage changes?

[2016-09-15 15:44] andrewadare commented on #125
If this is happening near the end of the decay, there are additional things changing in the sim due to truncations put in place so the current doesn't asymptotically tail off to zero forever. There's some discussion relevant to this in #58.

[2016-09-15 17:21] jessegreenberg commented on #125
I just forwarded @andrewadare the original email thread that reported this issue, but this might be the relevant information:

    86 capacitorLabBasics.lightBulbScreen.model.circuit.battery.voltageProperty changed {"oldValue":-0.4231084421979052,"newValue":-0.47012049133100575}
        87 capacitorLabBasics.lightBulbScreen.model.circuit.switchedCapacitor.platesVoltageProperty changed {"oldValue":

[2016-09-16 00:46] pixelzoom opened #136 "build failure, invalid license file entry"
Bug introduced in @ce7593bd8a7f839cc469d153368f721c4aa64f5e.  There's a vestigial entry in images/license.json for `capacitor-icon.png`, and no entry for `capacitance_screen_icon.png`.

[code]

[2016-09-16 01:45] pixelzoom commented on #136
Fixed, @andrewadare please review.

[2016-09-16 01:47] pixelzoom opened #137 "vestigial entries in images/license.json"
Noted while fixing https://github.com/phetsims/capacitor-lab-basics/issues/136....

These entries are for files that don't exist:

[code]

One would hope that the build process would notice this, but it apparently does not.

It would also be a good idea to keep the JSON file alphabetized, so that it's easy to compare to the directory listing in your IDE.

[2016-09-16 01:50] pixelzoom commented on #137
JSON file alphabetized, vestigial entries deleted. @andrewadare please review.

[2016-09-16 02:12] andrewadare commented on #136
@pixelzoom thanks, you beat me to it. Not much to review, and the sim builds without errors now, so closing.

[2016-09-16 02:12] #136 closed

[2016-09-16 02:16] andrewadare commented on #137
@pixelzoom thanks, I reviewed this and it looks good.

[2016-09-16 02:16] #137 closed

[2016-09-21 19:22] andrewadare commented on #121
After f0b911422164dcfcafa189ba21ea0f9716be3e63 and the above commits, I am no longer seeing this problem.

[2016-09-21 23:21] andrewadare commented on #130
Spent quite a bit of time trying to track this down today. Some notes:

* AbstractCircuit [updates the plate voltage](https://github.com/phetsims/capacitor-lab-basics/blob/9fe4d1ed8d508f6ad97536162069cc33093d823d/js/common/model/circuit/AbstractCircuit.js#L115) when the circuit connection changes, but it does not update the current there also.
* The current gets updated every time step (see update

[2016-09-23 17:13] andrewadare commented on #130
While debugging, I tried adding a call to updateCurrentAmplitude here (in AbstractCircuit):
[code]
It does the right thing for the battery branch (the arrows are displayed while the capacitor charges), but the light bulb branch also shows the current indicator arrows, even though the light bulb is disconnected.

The troubling part of this bug is that everything works properly if the capacitor is n

[2016-09-23 17:40] andrewadare commented on #130
As an aside, there's an undesirable mixture of implementation and delegation in AbstractCircuit.js. Seems like an abstract class should be just that--delegation to descendants only, serving as a uniform interface. Functions like getStoredEnergy, updateCurrentAmplitude, and getPlatesDielectricFieldAt are carrying out implementations, while updatePlateVoltages explicitly delegates to descendants.

T

[2016-09-26 16:25] andrewadare commented on #130
Evidently, this line in LightBulbCircuit is enough to fix this:
[code]
 This way, updateCurrentAmplitude in AbstractCircuit is able to compute a nonzero dQ/dt when the switch is thrown back to the battery branch, and the arrows appear.

I'm speculating (since I haven't reproduced it), but this may have a favorable influence on the "current oscillation" bug #125.

[2016-09-26 18:10] andrewadare commented on #125
@samreid This report originated from you :) The mail referenced in https://github.com/phetsims/capacitor-lab-basics/issues/125#issuecomment-247393285 is yours. In fact you already identified the cause of this issue, namely that current and voltage are updated on different schedules:

While troubleshooting #130 I confirmed that this is true, and it was the cause of that bug in a corner case.

@jess

[2016-09-26 19:26] andrewadare commented on #81
While preparing CL:B for code review, I found a [TODO](https://github.com/phetsims/capacitor-lab-basics/blob/78860499ca433d1cdb1e339b88191add9567f1d5/js/common/model/DielectricMaterial.js#L58) in DielectricMaterial.js related to this issue.

I think we should leave the Tandem placeholder `null` there for now. As a design choice, dielectric support in this sim is somewhere between nonexistent and i

[2016-09-26 19:57] andrewadare commented on #117
@ariel-phet speaking optimistically, if https://github.com/phetsims/tasks/issues/706 goes well, then it's not too early to begin arranging the code review for CL:B as we head towards the RC phase.

[2016-09-26 23:30] ariel-phet commented on #117
@andrewadare sounds good. Will probably discuss at dev meeting unless it needs to be started beforehand.

[2016-09-27 15:55] andrewadare commented on #82
I have documented occurrences of the "optional tandem" pattern to say that `null` is allowed for components of a temporary circuit that is created only for calculating quantities like voltage or stored energy.

[2016-09-27 17:27] samreid commented on #81
Yes, that sounds like a good plan.

[2016-09-27 17:35] samreid commented on #125
Perhaps the oscillation is physically correct?  For instance, I=dq/dt and Q=VC.  Hence if the voltage or capacitance change, it would cause a small temporary current.  I'm not too familiar with the sim, can @ariel-phet @jessegreenberg or @andrewadare check my physics?

[2016-09-27 20:16] #81 closed

[2016-09-27 20:36] andrewadare commented on #125
In a pure RC circuit like this, there should be no oscillation (except for contrivances like wiggling the thumb slider). There are transient currents, but they should always decay exponentially (thus monotonically), both on charge and on discharge of the capacitor.

Do you mean that we may be seeing a tiny spike, followed by a decay that only lasts about one timestep? Although that's not strictly

[2016-09-27 20:43] samreid commented on #125
Yes, add `console.log(this.currentAmplitude);` to updateCurrentAmplitude and try a few things in the sim.  They are tiny transient spikes when the charge, voltage or capacitance change.

[2016-09-27 21:39] andrewadare commented on #125
Here's `currentAmplitudeProperty` distilled from the phet-io output while dragging the battery slider up at a slow-to-medium speed to charge the capacitor:
[code]
The zeros occur because the current charge (specifically the value returned by `this.getTotalCharge()`) happens to have the same value as `this.previousTotalCharge` in a given timestep (so dQ/dt = 0).

As you can see, if you drag at the

[2016-09-27 21:42] andrewadare commented on #125
If this is a bug (and I'm not sure whether it is), then it's a bug in the way the sim was designed, and there will be a fair amount of effort required to make it work differently.

[2016-09-27 23:14] ariel-phet commented on #125
I think we define "bugs" as something obvious to the user that either appears broken or depicts incorrect physics/behavior.

Since there is nothing obvious to the user, this is not a bug

[2016-09-28 21:28] BryceAG commented on #120
I tested some more on the iPad 2. The arrows are responsive and move both when the arrows are selected and when the text is selected. Although when the text is selected the arrows don't turn yellow, and if you have one arrow selected but drag your finger over the other arrow, the other arrow turns yellow.

[2016-09-29 14:33] andrewadare commented on #125
@ariel-phet I agree. The sim works just as it was intended to, but phet-io puts a microscope on the details of how something is calculated internally (just like the ESPB [energy reporting issue](https://github.com/phetsims/energy-skate-park-basics/issues/355)). Perhaps whatever strategy gets decided there will have some bearing on what to do here.

[2016-09-29 17:42] BryceAG commented on #121
The bottom third of the node connected to the upper wire still is not recognized as part of the circuit
<img width="450" alt="screen shot 2016-09-29 at 11 41 59 am" src="https://cloud.githubusercontent.com/assets/15327201/18965272/c988ca86-8639-11e6-9b07-3d89d297450c.png">

[2016-09-29 17:53] ariel-phet commented on #117
@jonathanolson will tackle the review when @andrewadare feels it is ready (approx 8 hour for review)

[2016-10-03 17:28] phet-steele opened #138 "Low precision causes plates to have voltage, but no charge or stored energy"
For capacitors of increasingly smaller capacitance, there is a larger and larger, what I would call, voltage "dead zone". This zone is where (probably due to precision) plates have voltage across them but have no charge icons or E-field line representations. This is *largely* a non-issue because of the `BATTERY_VOLTAGE_SNAP_TO_ZERO_THRESHOLD`, but could still be confusing when a student is slowly

[2016-10-03 17:50] phet-steele commented on #131
I believe this to be fixed, closing.

[2016-10-03 17:50] #131 closed

[2016-10-03 20:26] phet-steele commented on #120
This interaction + behaviour is common to all sims, and not an issue. Thank you for noticing @BryceAG.

@andrewadare, myself and @arouinfar would welcome this enhancement. Would you be so kind as to make the arrows simultaneously turn yellow when dragging a label?

[2016-10-03 21:34] BryceAG opened #139 "Voltmeter reads zero at corner"
Test device:
Bates

Operating System:
Win 7

Browser:
Chrome, Firefox, IE, Edge

Problem description:
The voltmeter will read "0 V" instead of "? V" when connected to the top left corner of the screen and part of the circuit connected to the light bulb. It correctly shows "? V" when connected to the battery, or just the capacitor when not hooked up to the light bulb.

Steps to reproduce:
Put one e

[2016-10-03 21:37] phet-steele commented on #139
@andrewadare maybe something that helps, but this is very similar to phetsims/ph-scale/issues/65.

[2016-10-04 21:55] phet-steele opened #140 "Closed vs Open circuit representations"
There was a discussion between myself and others about the behaviour of dragging the switch and when the circuit is open vs. closed. The sim doesn't consider a circuit closed if the switch is still being dragged, and only makes the circuit closed once the switch is released from the user's control. However, there is absolutely no visual difference between an open or closed circuit. For example, he

[2016-10-05 18:01] phet-steele commented on #130
@andrewadare I cannot repro this with a mouse, but I can with touch. In the last step above, while switching to the battery, if I touch and hold on the switch position, I often do not see current arrows. I believe this is caused by two things.

1) The sim immediately starts a drag event on the switch pin once my finger touches the switch position.
2) Since I'm dragging the switch pin, the circuit

[2016-10-05 18:06] arouinfar commented on #140
@phet-steele I think this an excellent solution to the problem you've identified. I think your Google drawings look great; probably better than I could do in the same program. I do not have any functional changes to request.

@andrewadare can you please make this change? I can do a fancier mockup in Illustrator if you'd like, but I think @phet-steele's mockup captures the interaction.

[2016-10-05 18:29] arouinfar commented on #138
Agreed, since the user is actively moving the slider knob through a small range in the first .gif.

This seems like a reasonable solution @phet-steele. This would give the battery an active range of 0.150V-1.5V, which is a factor of 10 difference. I think a range of 10x is more than sufficient.

@andrewadare can you please change `BATTERY_VOLTAGE_SNAP_TO_ZERO_THRESHOLD` to 0.150 volts?

[2016-10-05 18:42] arouinfar commented on #140
One situation that isn't reflected in @phet-steele's mockups is what happens when switch in the released in the middle position.

In the middle position, it doesn't make sense for a solder joint to appear, but the dashed line should turn black, since the switch is "connected" to one of the positions.

![image](https://cloud.githubusercontent.com/assets/8419308/19126642/fbba6866-8af8-11e6-912c-234a

[2016-10-07 20:01] ariel-phet commented on #117
@andrewadare just double checking, this is not quite ready for review, correct? I assume you want to address the dev testing issues first? If otherwise feel free to assign to @jonathanolson when ready.

[2016-10-07 20:11] andrewadare commented on #117
@ariel-phet I think that's right. I not only want to address the dev test issues, but also apply the PropertySet updates discussed yesterday. I'll let @jonathanolson know when this is good to start reviewing.

[2016-10-07 20:29] ariel-phet commented on #117
Sounds good

[2016-10-10 16:01] andrewadare commented on #87
This is no longer happening - the number of messages emitted at startup is reasonable now:

![image](https://cloud.githubusercontent.com/assets/154163/19242461/806339be-8ed0-11e6-932c-2c4aad0a1a98.png)

[2016-10-10 16:01] #87 closed

[2016-10-10 20:58] andrewadare commented on #121
I changed the shape of the bulb base test area to just cover the rectangular shape connected to the upper wire.

![image](https://cloud.githubusercontent.com/assets/154163/19250835/b305ca34-8ef9-11e6-8208-23c86881d72d.png)

![image](https://cloud.githubusercontent.com/assets/154163/19250872/d8205b22-8ef9-11e6-98ee-6d7b49a6489d.png)

![image](https://cloud.githubusercontent.com/assets/154163/192509

[2016-10-10 21:32] andrewadare commented on #112
NaN is no longer being emitted from the data stream in this sim. Any general issues related to NaN values in phet-io data streams can be dealt with there.

[2016-10-10 21:32] #112 closed

[2016-10-10 22:03] andrewadare commented on #120
@phet-steele @arouinfar Now the plate drag arrows are highlighted whenever the pointer is over the text labels, just as for the arrows themselves.

[2016-10-10 22:32] andrewadare commented on #140
To summarize the design revision:
* Make the switch-end (the shaded ball) invisible while the switch is in transit; replace with red dashed circle
* Make the red dashed circle on the switch turn black when a connection is made. Make the shaded sphere reappear inside it.
* In order to match these drawings, the dashed circles may need to be enlarged to surround the shaded sphere.
* None of the event

[2016-10-11 05:37] arouinfar commented on #140
👍 @andrewadare

[2016-10-11 16:35] andrewadare commented on #140
I think this is now implemented as specified:

![image](https://cloud.githubusercontent.com/assets/154163/19279224/cc3bef2a-8f9d-11e6-9770-88d1c7e66769.png)

![image](https://cloud.githubusercontent.com/assets/154163/19279247/e5aeae02-8f9d-11e6-80f8-69dda6f45fd6.png)

![image](https://cloud.githubusercontent.com/assets/154163/19279275/fc70af5a-8f9d-11e6-879d-ff757c67ead3.png)

[2016-10-11 17:00] andrewadare commented on #139
Cannot reproduce on Chrome, Firefox, or Safari on OS X. Will need to borrow a Windows computer in order to fix.

[2016-10-11 17:02] phet-steele commented on #139
@andrewadare I can repro on macOS 10.12 Chrome.

[2016-10-11 17:06] andrewadare commented on #139
![image](https://cloud.githubusercontent.com/assets/154163/19280354/b6b6c7a6-8fa2-11e6-94a6-34cc67ab7423.png)

[2016-10-11 17:17] phet-steele commented on #139
I cannot repro in requirejs, @andrewadare have you tried in a built version?

[2016-10-11 17:31] arouinfar commented on #140
@andrewadare looks good, but I have a few tweaks to request

* Increase the diameter of the dashed lines so that it doesn't overlap the solder blob.
* Shorten the wire so that it only extends half-way into the vertex.

![image](https://cloud.githubusercontent.com/assets/8419308/19281145/0e5e4260-8fa6-11e6-971c-ef9a0de0db7b.png)

[2016-10-11 17:43] andrewadare commented on #130
Hopefully increasing the minimum battery voltage for https://github.com/phetsims/capacitor-lab-basics/issues/138 also helps here.

Otherwise, in order to come up with a fix, I will need a more specific description of the problem than this:

I'm going to defer this issue to the next testing round to see if it's still a problem. If so, please note it here.

[2016-10-11 18:12] phet-steele opened #141 "Automated Testing Build Error (10/11/2016 10:00 AM)"
[code]

[2016-10-11 18:15] #141 closed

[2016-10-11 21:55] andrewadare commented on #140
It turns out that making the switch wire shorter is not so easy. There is no explicit length parameter for wire segments; instead they are constructed as follows:

SwitchNode.wireSwitchNode uses CircuitSwitch.switchWire, which uses CircuitSwitch.switchSegment, which uses CircuitSwitch.activeConnection, which is an object that contains (among other things) an (x,y,z) position of the switch contact.

[2016-10-12 19:41] andrewadare commented on #140
![image](https://cloud.githubusercontent.com/assets/154163/19324888/ed9ad206-9080-11e6-8a3b-d39c9e0976e6.png)
![image](https://cloud.githubusercontent.com/assets/154163/19324914/0bd5409e-9081-11e6-9923-828e079a5d34.png)
![image](https://cloud.githubusercontent.com/assets/154163/19324935/189c85d0-9081-11e6-8f7d-b63ffac80887.png)
![image](https://cloud.githubusercontent.com/assets/154163/19324999/63

[2016-10-12 20:15] andrewadare commented on #139
@phet-steele I cannot reproduce this in requirejs or built versions.

Does your OS X test computer have a non-retina display?

[2016-10-13 15:08] phet-steele commented on #120
Thanks @andrewadare! Looks great.

[2016-10-13 15:08] #120 closed

[2016-10-13 15:49] phet-steele commented on #139
@andrewadare I cannot reproduce on my computer anymore in dev.29. I went ahead and checked the original reported device & browsers and also could not reproduce. What could have possibly changed? I'm inclined to defer this now.

[2016-10-13 16:06] phet-steele opened #142 "Bar graph panel text alignment is off"
Both these issues required no set-up, they work from sim start:

When first selecting the checkboxes, there is no "0.00 [unit]" text:
dev.29:
<img width="785" alt="screen shot 2016-10-13 at 10 00 58 am" src="https://cloud.githubusercontent.com/assets/5863899/19356735/0c1d32b8-912c-11e6-94e8-28b3022b5163.png">

dev.28:
<img width="769" alt="screen shot 2016-10-13 at 10 01 10 am" src="https://cloud.

[2016-10-13 16:41] phet-steele commented on #138
Easy enough! Thank you @andrewadare and @arouinfar!

[2016-10-13 16:41] #138 closed

[2016-10-13 16:53] arouinfar commented on #140
The version @andrewadare showed in status looks good. There are some minor differences from the mockup, but I don't think any cosmetic changes need to be made. Leaving it to @phet-steele and team to test the functionality in dev.29.

[2016-10-13 16:53] andrewadare commented on #142
`git bisect` is pointing to 755fdb7ce55143ce3e2a518277af03be003043fd as the culprit.

[2016-10-13 17:18] brroberts1231 commented on #142
Reproduced on Win 7, all browsers.
The text also gets covered up by the bars.
![clb3](https://cloud.githubusercontent.com/assets/11947677/19359293/cefe576c-9136-11e6-987a-782a20d2f4e2.JPG)

[2016-10-13 18:05] andrewadare commented on #142
This should be fixed now on master.

[2016-10-13 20:36] jessegreenberg opened #143 "Checking for intersection of shape with bounds is not precise"
@phet-steele just found this issue and described it to me.  To determine whether probe tips are touching, ```probesAreTouching``` determines if the *shape* of the positive probe tip intersects with the *bounds* of the negative probe tip

[code]

This can create situations like the following:
![snap1](https://cloud.githubusercontent.com/assets/6396244/19365921/34731090-9152-11e6-9daf-afa0a98112d3.P

[2016-10-13 20:43] jessegreenberg commented on #140
This looks great! :) Another benefit of this is that the shading on the solder blob is always correct when visible.  Before, the shading would rotate with the blob which looked a bit strange.

[2016-10-13 20:45] andrewadare commented on #143
@jessegreenberg, is it possible to check for intersection a rotated rectangle? I'm not familiar enough with Scenery to know. If so, we can use skinny rectangles rotated 45 degrees.

[2016-10-13 21:45] jessegreenberg commented on #143
I could be wrong, but I don't think so.  A scenery rectangle uses shape, and a dot rectangle uses bounds which are always axis aligned, even when transformed.

[2016-10-14 16:20] phet-steele commented on #121
👍

[2016-10-14 16:20] #121 closed

[2016-10-14 16:36] jessegreenberg commented on #143
Over skype, one recommendation was ```Shape.interiorIntersectsLineSegment``` to check when line segments of one rectangle intersect the shape of the other.  Documentation of that function suggests that the segment needs to be fully contained by the shape to be considered an intersection, so I am not sure if this will work.

I am also wondering if it would work to rotate each rectangle by ```CLBMod

[2016-10-14 16:53] phet-steele commented on #51
@jessegreenberg @arouinfar I don't think this issue exists anymore (with regards to the cramped feeling of negative numbers)?
<img width="219" alt="screen shot 2016-10-14 at 10 52 05 am" src="https://cloud.githubusercontent.com/assets/5863899/19395741/66f63fec-91fc-11e6-93c7-1d2b98063832.png">

[2016-10-14 17:13] arouinfar commented on #143
@jessegreenberg I've never seen students use the probes so closely together. However, I think the situation in your 2nd screenshot is problematic, so I think it's worth continuing to investigate a fix.

[2016-10-14 17:15] arouinfar commented on #51
Looks good to me @phet-steele @jessegreenberg.

[2016-10-17 20:02] phet-steele opened #144 "Mouse area for yellow highlight hint"
It was suggested to reduce the connection points' mouse area to just be a small dilation around the dashed circles (instead of the entire touch area wedge). This would effectively prevent the yellow highlight cue from appearing until a user's mouse is much closer to a connection point. @andrewadare, the proposed mouse area from @arouinfar was a circle with a diameter equal to the length of a side

[2016-10-17 20:33] arouinfar commented on #144
@andrewadare it could also be a square like the screenshot. Your call.

[2016-10-17 20:39] phet-steele opened #145 "Middle switch point issues"
@andrewadare, there are two new issues that have arisen since hiding the solder blob in the middle position.

1). Now that the ball is gone, the touch area to drag the switch to another location is limited to just the wire. Trying to use my finger on the connection point to drag the switch results in no drag. The user should still be able to drag from the connection point.

2). Placing a cursor ov

[2016-10-18 19:57] phet-steele opened #146 "Voltmeter reading is inconsistent when the circuit is in transit"
@andrewadare I feel there was some logic applied to the second screen, but not the first. On the second screen, the voltmeter will correctly measure the voltage across the battery when the switch is in transit:

![clb05](https://cloud.githubusercontent.com/assets/5863899/19494053/94998d50-953a-11e6-97c4-2f2520fa6588.gif)

However, the first screen will incorrectly report an unknown voltage in the

[2016-10-19 22:46] phet-steele commented on #140
The points in this issue have been addressed and are working well, thanks to everyone for this change.

[2016-10-19 22:46] #140 closed

[2016-10-20 16:57] arouinfar commented on #134
Marking as on-hold until the sim is closer to publication.

[2016-10-20 19:15] jessegreenberg opened #147 "branch: no-touchsnag"
Branch to test removing touchsnag from circuit switch drag handler.  See the following dev version:

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.1.0-dev.30/capacitor-lab-basics_en.html

[2016-10-20 19:16] jessegreenberg commented on #147
Potentially related issue:
https://github.com/phetsims/capacitor-lab-basics/issues/130

[2016-10-21 16:27] phet-steele commented on #130
@andrewadare this was still an issue on touch devices in 1.0.0-dev.29. As I say above:

This has been traced to touchSnag starting a drag event immediately after selecting a connection point. So, for a blink of an eye, the circuit is closed and the plates become charged. Then a drag starts and the sim believes that the circuit is open, therefore not showing any current arrows.

The plates will rec

[2016-10-21 20:04] andrewadare commented on #130
@phet-steele @jessegreenberg I "merged" this change to master. Thanks for identifying the issue. To tag this as a potentially-resolved issue, I'm going to mark as "ready to test" even though you've tested on the no-touchsnag branch already.

[2016-10-21 20:06] andrewadare commented on #139
@phet-steele since nobody can reproduce this, let's close for now and re-open if the bug resurfaces.

[2016-10-21 20:06] #139 closed

[2016-10-21 20:08] andrewadare commented on #147
@jessegreenberg Thanks for doing this. Since the change is now in master, feel free to close and prune at your discretion.

[2016-10-24 15:08] andrewadare commented on #146
@phet-steele Good catch. LightBulbCircuit.getVoltageAt() handles the voltage readout on switch drag for the second screen, but the equivalent method for the first screen (in ParallelCircuit) is missing this case.

[2016-10-24 18:56] jessegreenberg commented on #147
Thanks @andrewadare, branch pruned.  Closing.

[2016-10-24 18:56] #147 closed

[2016-10-24 19:24] andrewadare commented on #143
@jessegreenberg I explored your ideas mentioned above, but was unable to see any difference compared to un-rotated bounds-to-bounds intersection testing.

Since Scenery doesn't have what we really want (namely something like a `Shape.intersects(shape)` function, I decided to iterate over every point in one of the shapes and check for containment within the other:

[code]
Despite the looping, in my

[2016-10-24 19:26] andrewadare commented on #143
The function above would not be very efficient for arbitrary Shapes, but here it is only being applied to simple rectangles.

[2016-10-24 21:40] phet-steele commented on #142
Working well, thank you @andrewadare.

[2016-10-24 21:40] #142 closed

[2016-10-25 18:09] phet-steele commented on #130
These changes are working nicely for me, closing. Thanks @andrewadare and @jessegreenberg!

[2016-10-25 18:09] #130 closed

[2016-10-25 19:22] phet-steele opened #148 "Solder ball does not appear in a screenshot (from the PhET menu)"
![capacitor lab- basics screenshot 2](https://cloud.githubusercontent.com/assets/5863899/19700785/e5c3cfda-9ab5-11e6-991f-c69517c25004.png)

Seen on macOS 10.12.1 Chrome. For phetsims/tasks/issues/716.

URL: http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.32/capacitor-lab-basics_en.html?profiler
Version: 1.0.0-dev.32 2016-10-24 21:08:50 UTC
Features missing: touch
Flag

[2016-10-26 17:25] phet-steele commented on #143
From https://github.com/phetsims/capacitor-lab-basics/issues/143#issuecomment-253863686:

Agreed, and with the recent improvements, students would have to get them even closer. This is not an issue:

![screen shot 2016-10-26 at 10 37 24 am](https://cloud.githubusercontent.com/assets/5863899/19735295/38b1d73e-9b68-11e6-99c9-a2bbf31e27ef.png)

In order to show 0V across charged plates, one would now

[2016-10-26 17:46] arouinfar commented on #143
I agree @phet-steele. I find that the updated screenshots exhibit less problemicity. Closing.

[2016-10-26 17:46] #143 closed

[2016-10-31 21:08] pixelzoom opened #149 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:28] pixelzoom commented on #149
This sim doesn't have a *QueryParameters.js file, so someone else will need to do it.

[2016-11-02 15:11] ariel-phet opened #150 "Why can plate charge go negative?"
@arouinfar why is plate charge allowed to go negative? Usually when we teach this subject we talk about "Q" as the charge on one of the plates but in an absolute value sense. Was this changed at some point, I don't recall discussing allowing plate charge to go negative in the bar graph.

[2016-11-02 15:28] andrewadare commented on #150
This is a wrinkle with plotting charge on a log scale for the lab book wrapper. The symmetry is broken in an arbitrary way, since the domain for log arguments is positive-only.

[2016-11-02 15:39] andrewadare commented on #82
This issue has been superseded by https://github.com/phetsims/phet-io/issues/748

[2016-11-02 15:39] #82 closed

[2016-11-02 15:40] #51 closed

[2016-11-02 15:42] andrewadare commented on #5
@jessegreenberg I'm doing a bit of housekeeping here - do we still need this issue? If so, no problem, otherwise feel free to close it.

[2016-11-02 15:57] arouinfar commented on #150
@ariel-phet the graph shows the charge on the top plate, which can be positive or negative, depending on the battery polarity.  We never had a conversation about this behavior, as it matches the Java version.  The bar graph label doesn't explicitly say "Top Plate Charge" but we've used color-coding  to tie the bar color to the charge on the top plate. I haven't observed any student difficulties wi

[2016-11-02 15:58] andrewadare opened #151 "Explore wider plate separation range"
To better observe the inverse relationship between charge Q and plate separation d, it may help to change from the existing d = 5-10mm range to 2-10mm.

[2016-11-02 15:59] jessegreenberg commented on #5
Thanks @andrewadare, yes I think we do.  I would like to keep this branch around for when we start to work on accessibility in this sim again, and we decided a while back to document branches with issues like this.

[2016-11-02 16:01] andrewadare commented on #151
![image](https://cloud.githubusercontent.com/assets/154163/19936420/f00a21c8-a0e2-11e6-9ce3-8fa781d05b9d.png)

A screenshot from the PhET-iO Lab Book wrapper:
![image](https://cloud.githubusercontent.com/assets/154163/19936449/07897d3a-a0e3-11e6-9258-bb5d77bf333a.png)

Empirically, with only 5-10mm to go on, it's tempting for students to infer a negative linear Q vs d relationship instead of the c

[2016-11-02 16:02] ariel-phet commented on #150
Well, when we teach this in intro EM and use the equation Q=CV all values are considered positive, so V is really the absolute value of the voltage difference, C is positive definite and Q is the absolute value of charged stored on one plate.

Although I agree that students would not be confused by the intent of the sim, I have seen students confused by such minus sign questions when doing calcula

[2016-11-02 16:10] arouinfar commented on #150
Looking at the Java version, the graph says "Plate Charge (top)" so we've dropped the "top" in the HTML5 version. I think this is an unintentional change, as I couldn't find any discussion about it in the meeting notes.

I'd be fine with showing abs(Q) in the bar graph, but I think we should still allow the battery to supply [-1.5 V, 1.5 V].

[2016-11-02 16:12] andrewadare commented on #151
A dev version is up here:

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.33/capacitor-lab-basics_en.html

Note that this is an excursion from the "official" testing cycle that's currently tracked in https://github.com/phetsims/tasks/issues/716.

I'm noticing that the bars in the horizontal chart are now maxing out well inside the new physical ranges, so they'll need

[2016-11-02 16:15] kathy-phet commented on #150
I kind like the switch of the type of charge from positive to negative with the color coding. I think it is kind of natural for you to see the connection to the top.

I see the issue with the absolute value being important, but I don't see that we are necessarily helping resolve this difficulty if we do the absolute value for them? It seems like this is a place where the instructional facilitation

[2016-11-02 16:16] kathy-phet commented on #150
I also think for the level of this basics sim ... that even understanding that charge can be negative is a learning goal.

[2016-11-02 16:19] ariel-phet commented on #150
@arouinfar agreed, we should definitely allow the battery to be flipped.

@kathy-phet my problem is that is just never how we discuss charge stored in a capacitor. Perhaps we should change the wording to "stored charge". When we say this sim is "basics" remember we envision that for college level intro physics, not for middle school I would (and have) used this sim for helping to teach physics 202

[2016-11-02 16:24] kathy-phet commented on #150
I am concerned "stored charge" doesn't help them realize its just the charge on one plate.
Let's discuss Thursday at design? I don't have time to continue discussing today.

[2016-11-02 16:25] arouinfar commented on #150
I'll tag this for design meeting @kathy-phet.

[2016-11-02 16:37] arouinfar commented on #150
I generally agree with @ariel-phet, but I do see how "stored charge" could be problematic. We'll discuss more during design meeting.

I'd also think that the Light Bulb screen can get at qualitative learning goals related to a discharging RC-circuit.
* Relate the size of the halo to the voltage across the capacitor (or bulb)
* Relate the draining rate to the capacitance
* Observe that the brightne

[2016-11-02 16:38] ariel-phet commented on #150
@arouinfar yes, totally agreed on the light bulb scene

[2016-11-02 17:12] arouinfar opened #152 "Should current arrows reflect magnitude?"
Engin commented that

The current arrows were only meant show the direction of the current in the original Java sim, and we ported them as-is. However, we explicitly show a draining RC-circuit in the Basics version. When draining the capacitor, the magnitude of the current exponentially decays. Should we model this in the simulation? We could scale the current arrow with the voltage as the capacit

[2016-11-02 17:29] arouinfar commented on #151
@andrewadare I think that reducing the separation to 2mm definitely adds some flexibility to the sim's use. I think we originally made the minimum 5mm due to the scaling of the graph, and perhaps because the electric field lines can be somewhat hard to see when the plates are so close. I think we've overcome the first of these concerns (though some tweaking will be necessary). After seeing the lat

[2016-11-02 18:35] ariel-phet commented on #152
Lets discuss with @andrewadare at design meeting, it is possible it is a fairly straightforward tweak since that information for the current is in a sense I believe already in the model. It might be a helpful further cue to make sense of what is going on.

[2016-11-02 19:03] ariel-phet commented on #151
I played around with this version for awhile, and the scaling for the bar graph seemed to be the only issue, but that seems to be fairly outweighed by the increased range of exploration

[2016-11-03 22:59] arouinfar commented on #152
Discussed in 11/3/16 design meeting.

* Because the current decays exponentially, the arrow would be pretty tiny (or have a very low opacity) for most of the time.
* The exponential decay of the current is a more advanced topic and could be addressed in the full version of Capacitor Lab, which could include the current meter.
* Change current checkbox to "Current Direction" to make things clearer.

[2016-11-03 23:06] arouinfar commented on #150
Discussed during the 11/3/16 design meeting.

* In general, most of the team likes the connection between the the charges on the top plate and the color of the bar graph.
* Using "stored charge" terminology may unintentionally cue students to think that the plate charge is a sum of the charges on both plates.
* In Java, the plate charge bar graph shows a red/blue bar, but the value beneath it is a

[2016-11-03 23:15] arouinfar commented on #151
Discussed during the 11/3/16 design meeting

We like the 2mm separation, but @andrewadare should make a few more tweaks.
- [ ] Rescale bar graphs so that the max value is 2.7 p[unit] for all three bars.
- [ ]  Reduce E-field line stroke weight to 1 pixel
- [ ] Reduce E-field arrowhead size to -- what @andrewadare demoed looked good

Reducing the E-field stroke and arrowhead size will make the fiel

[2016-11-03 23:27] arouinfar opened #153 "Discretize plate area (add snap-to feature)"
From Unfuddle

This is a minor problem but I'm using the Capacitor Lab for a physics class
https://phet.colorado.edu/en/simulation/capacitor-lab
and we are told to make the area of the plate "exactly" 250 mm^2.
The dragging handle does not allow for this, but is kind of jumpy.  I tried for many minutes and could only get it to 250.6.
I am using a Mac, and tried the accessibility features and using

[2016-11-04 15:55] andrewadare commented on #151
It was also requested in yesterday's meeting to snap the plate area and separation drags to rounder values. The plate separation was easy; drags now snap to increments of 0.2 mm, and every value in the 2-10mm range can be visited. The plate area is a little more complicated.

In PlateAreaDragHandler, I modified the drag callback as follows:
[code]
The drag resolution is limited by `event.pointer.p

[2016-11-04 16:14] andrewadare commented on #153
I missed this issue at first and should have put https://github.com/phetsims/capacitor-lab-basics/issues/151#issuecomment-258470577 here. But part of that comment is moot because there is plenty of resolution to step in 10 mm^2 increments.

So this is completed and will be ready for review when I put up a new dev version.

[2016-11-04 16:36] samreid opened #154 "Factor out MAX_PLATE_CHARGE_DISCONNECTED"
In https://github.com/phetsims/phet-io/issues/801, we added this code:

[code]

It would be better to compute this analytically instead of empirically.  @andrewadare can you look into this?

This is in a branch for now, but will be coming to master soon.

[2016-11-04 19:03] andrewadare commented on #151
Significant refactoring was required (see 918168e, c0907dd, 9b6ab50, and 	14d6162), but the bar meter ranges are now individually settable in a much more flexible way. I found the range max values as described [here](https://github.com/phetsims/capacitor-lab-basics/blob/14d6162058c23ff4d08845b307b08938ca7a0a7e/js/common/CLBConstants.js#L105-L113). I think this achieves what we're going for.

[2016-11-04 19:14] andrewadare commented on #151
@arouinfar - I have a question about this:

I am noticing I didn't really follow this specification, because my commits above made the sim look like this:
![image](https://cloud.githubusercontent.com/assets/154163/20018946/a549e96c-a28f-11e6-9037-3e664b0a6e77.png)

Did you want all three bars to have a matched numeric range (as if there's an imaginary x-axis for common reference)? In that case, th

[2016-11-04 19:23] andrewadare commented on #151
To clarify my question, I think you might have been suggesting to make the constants [here](https://github.com/phetsims/capacitor-lab-basics/blob/14d6162058c23ff4d08845b307b08938ca7a0a7e/js/common/CLBConstants.js#L105-L113) all the same value (2.7e-12) instead of what they are now.

[2016-11-04 19:25] arouinfar commented on #151
@andrewadare correct. The request was for all three bars to max out at 2.7E-12 in their respective units.

[2016-11-04 19:31] andrewadare commented on #151
Got it, thanks for the clarification.
![image](https://cloud.githubusercontent.com/assets/154163/20019594/b9280308-a292-11e6-832e-41b6f9662289.png)
The three bars now have a common scale, set by the quantiy that takes on the largest possible value when the battery is connected.

[2016-11-04 19:32] arouinfar commented on #151
Looks great @andrewadare!

[2016-11-04 19:43] andrewadare commented on #154
The changes made for #151 should help here (when the time comes), specifically the introduction of PLATE_CHARGE_METER_MAX_VALUE to CLBConstants.

[2016-11-04 20:02] andrewadare commented on #154
@samreid I'm going to leave this assigned to you until you merge 1.3-phetio into master, then reassign to me (or feel free to reach out for collaboration when the time comes).

[2016-11-04 20:31] andrewadare opened #155 "Dev version with changes from 11/3 design meeting"
@arouinfar @ariel-phet @kathy-phet

I believe I've addressed the items in #150, #151, #152, and #153. I put up 1.0.0-dev.35 for your perusal:

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.35/capacitor-lab-basics_en.html

Please let me know if any of these changes are misaligned with what you were envisioning, or if you find any problems.

[2016-11-04 20:52] kathy-phet commented on #155
Looks great to me!

[2016-11-04 20:53] samreid commented on #154
1.3-phetio is merged to master, please proceed at your convenience.

[2016-11-04 21:17] phet-steele commented on #145
I can't remember why I was keeping this open, so until I remember: closing.

[2016-11-04 21:17] #145 closed

[2016-11-04 21:30] phet-steele commented on #144
Thank you @andrewadare, this is working well.

[2016-11-04 21:30] #144 closed

[2016-11-04 22:08] andrewadare commented on #154
The global constant appears to be working for the slider in the instance proxies wrapper:

![image](https://cloud.githubusercontent.com/assets/154163/20023873/6e83a9cc-a2a8-11e6-9cf5-092c0d39eeb8.png)

Note that its numeric value is different than what you hard-coded because of the changes tracked in #151.

@samreid back over to you for review; close if this works for you as expected.

[2016-11-04 23:41] ariel-phet commented on #155
I think everything is looking good @andrewadare

My only tweak is I think we need to go with "Plate Charge (top)" like in the Java full version or else I think it is a little odd. That approach seems to have worked well in the past and shouldn't cause too much of an i18n issue.

What do you think @arouinfar?

What do you

[2016-11-05 17:17] samreid commented on #154
@phet-steele can you test this on phettest?

[2016-11-07 17:43] arouinfar commented on #155
Looks great @andrewadare!

Now that we've removed the +/- on the plate charge, I agree with @ariel-phet that we should change the label to "Plate Charge (top)".

However, we'll need to shift some things around in the panel to accommodate the longer string. I like the symmetry of having the panel sized to the top wire, so I don't want to make the panel any larger. Instead, I think we should reduce

[2016-11-07 18:18] ariel-phet commented on #155
@arouinfar I also thing "(top)" could potentially be in a smaller font than "Plate Charge"

As long as that does not look odd, it would save a bit of space, and I feel like it should be de-emphasized a bit. Might be worth trying.

[2016-11-07 18:20] arouinfar commented on #155
@ariel-phet we could try that, but I still think we'll need to shorten the bars regardless.

[2016-11-07 18:26] ariel-phet commented on #155
@arouinfar agreed, but might help feel more balanced.

I keep trying to think if there is a shorter way to say Plate Charge (top) but have yet to have any better idea.

[2016-11-07 18:33] arouinfar commented on #155
@ariel-phet The only thing I can think of would be "Plate Q (top)" but that's far more problematic, so it's probably best to stick with "Plate Charge (top)".

@andrewadare try adding "(top)" in a smaller font. The bars will likely still need be be shortened a bit, but not as much as in my previous screenshot. To be clear, the max bar size would still correspond to 2.7E-12 [units], but the max bar

[2016-11-07 20:10] phet-steele commented on #146
@andrewadare The above problem is fixed, with the unintended consequence that battery voltage is shown in transit even when the probes are not over the battery circuit:

1. Place the probes over the plates and charge the plates to 1.5 V
2. Disconnect the plates
3. Change the battery voltage to something other than 1.5 V
4. Drag the switch, the voltmeter will then display the battery voltage

![clb

[2016-11-07 23:46] andrewadare commented on #155
This was annoyingly tricky to get right, considering the stringTest=double test, the off-range behavior for the max bar values, the font sizing, and the spacing between the title and value strings for each bar. There is no perfect solution that covers all the cases, but I tried to strike a decent balance.

![image](https://cloud.githubusercontent.com/assets/154163/20080910/8f867d08-a509-11e6-9612-

[2016-11-07 23:50] andrewadare commented on #155
After a bit more obsessing, I added more breathing room, so the title string font is a bit smaller.

![image](https://cloud.githubusercontent.com/assets/154163/20081035/43eaf030-a50a-11e6-90ea-24c06055aae5.png)

[2016-11-07 23:52] kathy-phet commented on #155
How important is it to keep the right alignment?

[2016-11-07 23:53] andrewadare commented on #155
If you mean the off-limit arrows, they now stay in-bounds for the worst-case scenario with the double-string test:

![image](https://cloud.githubusercontent.com/assets/154163/20081098/9f039350-a50a-11e6-8cbc-7a44a3664c10.png)

[2016-11-07 23:57] andrewadare commented on #155
Oh, @kathy-phet did you mean matching the right side of the panel to the vertical wire on the right?

We could try extending it, but there are potential consequences with internationalization like this:

![image](https://cloud.githubusercontent.com/assets/154163/20081210/485e9a1c-a50b-11e6-9066-5154dfcc40af.png)

[2016-11-07 23:59] andrewadare commented on #155
I'm pretty happy with the latest solution. I think all the important constraints have been satisfied.

[2016-11-08 00:03] arouinfar commented on #155
@andrewadare there seems to be quite a lot of negative space to the right of the bar graphs  https://github.com/phetsims/capacitor-lab-basics/issues/155#issuecomment-259001638 I think it would be better to shift the bar graphs + values further to the right like so:
<img width="810" alt="screen shot 2016-11-07 at 4 49 04 pm" src="https://cloud.githubusercontent.com/assets/8419308/20081017/2b0c0f2c-

[2016-11-08 16:52] phet-steele commented on #154
Works great for me, thanks @andrewadare.

[2016-11-08 16:52] #154 closed

[2016-11-08 17:33] andrewadare commented on #155
@arouinfar If the panel is allowed to expand, that makes things easier. I made some changes in 		3814a3b that allow this. I restored the bars to their original length (255px). Since built versions don't support query parameters like `stringTest=double` or `stringTest=long`, is it possible for you to have a look at the current layout on master?

[2016-11-08 18:04] andrewadare commented on #155
After discussion with @ariel-phet, we tried out simply moving the whole panel to the left and extending its width, as well as changing from "Plate Charge (top)" to "Top Plate Charge".

[2016-11-08 18:24] ariel-phet commented on #150
Plate charge now now longer goes negative in the readout. This can be closed.

[2016-11-08 18:24] #150 closed

[2016-11-08 18:31] arouinfar commented on #155
@andrewadare have you pushed these changes to master?Things look a bit off when I pull master. The string still reads "Plate Charge (top)" and the panel resizes itself for no explicable reason.

<img width="594" alt="screen shot 2016-11-08 at 11 31 03 am" src="https://cloud.githubusercontent.com/assets/8419308/20111801/de80c4d4-a5a6-11e6-8332-d252551d1d02.png">

[2016-11-08 18:40] andrewadare commented on #155
@arouinfar not yet, there were a few more layout changes requested that I'm still working on.

[2016-11-08 18:45] arouinfar commented on #155
Got it @andrewadare. Please let me know when it's ready for me to review on master.

I think "Top Plate Charge" is a good idea.

Also, I don't think we should dynamically resize the bar graph panel. That is, the width of the panel should be a constant for a given locale. For the en locale, restrict the panel width to match the top wire, as there seems to be plenty of room for the strings if the ba

[2016-11-08 18:53] andrewadare commented on #155
@arouinfar - since @ariel-phet suggested to make the panel wider, the dynamic resizing no longer seems necessary at all, and it was causing me more layout troubles than it's worth. Can you have a look at master now and see if it's acceptable? I'll be AFK for a bit to go vote.

[2016-11-08 18:58] arouinfar commented on #155
In general, I like the changes @andrewadare. Centering the expanded panel over the top wire is a good compromise. However, I'm not quite sure why there is so much negative space to the right of the bars. I think it looks a bit odd to go off-scale with so much room left.

<img width="651" alt="screen shot 2016-11-08 at 11 56 16 am" src="https://cloud.githubusercontent.com/assets/8419308/20112681/93

[2016-11-08 18:59] andrewadare commented on #155
@ariel-phet requested that the panel not expand with stringTest=double.

[2016-11-08 19:26] ariel-phet commented on #155
Ah - @andrewadare I think I may have miscommunicated a bit.

- Yes, the panel should not expand, it should have a fixed width as you said
- However, I think @arouinfar is correct that there should not be so much negative space on the right hand side
- So it seems the bars could be made a bit longer in the bar graph, and the maxWidth for the check box labels can be made just a bit larger than the c

[2016-11-08 22:01] andrewadare commented on #155
I identified the main reason why this was so troublesome. The bar origin was positioned relative to the right side of the title text for each bar. When I made the strings longer with stringTest=double, it was pushing the bars over. I fixed that and things seem better now.

![image](https://cloud.githubusercontent.com/assets/154163/20118969/e3a64f02-a5c3-11e6-972d-39a7168d58d1.png)

![image](https:

[2016-11-09 16:45] andrewadare commented on #146
@phet-steele I fixed some missing cases in ParallelCircuit and the voltmeter readout behavior looks correct now on my end.

[2016-11-09 17:10] andrewadare commented on #148
@jonathanolson suggested trying the screenshot with `?rootRenderer=canvas`. With that parameter set, the problem is not observed.

He mentioned on Skype that this has appeared before when CanvasNode improperly clears content.

[2016-11-09 17:12] andrewadare commented on #148
EFieldNode and PlateChargeNode are using CanvasNode, but ShadedSphereNode (the component of interest) is not.

[2016-11-09 17:18] phet-steele commented on #146
@andrewadare I checked master. I agree, the behaviour also looks correct.

[2016-11-09 18:42] andrewadare commented on #148
@jonathanolson and I spent some time troubleshooting this. The bug is not reproducible on FF or Safari.

We were able to reproduce the bug initially, but after taking a few more screenshots, the bug mysteriously disappeared. I updated Chrome to this on my OSX laptop:

Version 54.0.2840.87 (64-bit)

@jonathanolson just tried on a separate laptop with a fresh Chrome update, and the bug didn't appear

[2016-11-09 18:58] phet-steele commented on #148
@andrewadare, it's working wondrously now! I even checked on dev.32 where the problem was seen originally. So, close I guess?

[2016-11-09 19:04] andrewadare commented on #148
Indeed. Looks like this Chrome-specific problem fixed itself.

[2016-11-09 19:12] andrewadare commented on #117
CL:B is getting very close to the RC stage. The only known outstanding bug, #148, just evaporated. After all the work done for #151, #152, #153, #154, and #155, one more dev round would be prudent.

Once I finish #149, and probably https://github.com/phetsims/phet-io/issues/748, the sim will be ready to turn over to @jonathanolson for code review (just a heads up).

[2016-11-09 19:15] #146 closed

[2016-11-09 20:01] andrewadare commented on #149
CLBQueryParameters file added; chipper methods were replaced. Tests look good.

[2016-11-09 20:01] #149 closed

[2016-11-09 20:08] andrewadare commented on #115
@jessegreenberg This change never made it into the code, and we're heading into RC testing and code review. Given that the existing code has been heavily tested, I'm inclined to skip this refactor and mark it as a deferred task. If you have any objections to that, please let me know.

[2016-11-09 20:10] #152 closed

[2016-11-09 20:10] #151 closed

[2016-11-09 20:34] jessegreenberg commented on #115
@andrewadare I would probably fix this issue as part of the code review, it will probably come up then anyway.  "collapsing into a single file" is likely not appropriate, but maybe inheritance would be help reduce  the duplicate code.  I was thinking that things like the constants, ```resetPinColors``` and the input listeners might be moved to a supertype.  tandem might make it harder to generaliz

[2016-11-09 22:35] andrewadare commented on #115
@jessegreenberg I took another look at these two files, and I put the three common constants into CLBConstants.

After that, there's very little duplicated code:
![image](https://cloud.githubusercontent.com/assets/154163/20156421/77d46532-a68d-11e6-833f-5d9d7d491c09.png)

These types have different constructor signatures, different parents, and different listener implementations. Changing the inhe

[2016-11-10 16:53] andrewadare opened #156 "Replace PropertySet -> Property everywhere"
cf. https://github.com/phetsims/axon/issues/102

[2016-11-11 17:16] andrewadare commented on #156
Note to self: I renamed the `value` property to `measuredVoltageProperty` for Voltmeter. Fuzz tests pass, but this is a good place to check if there are problems in the near future.

[2016-11-11 19:23] andrewadare commented on #156
PropertySet is out!

[2016-11-11 19:23] #156 closed

[2016-11-11 20:10] andrewadare opened #157 "This is a 3D sim"
The sim uses a custom 3D model-view transform. Several components have 3D geometry, but just as many don't. This is causing maintenance problems, readability problems, and phet-io problems like https://github.com/phetsims/phet-io/issues/811.

It's leading to code like this in CircuitSwitch,
[code]
and this snippet from WireShapeCreator:
[code]
WireSegment itself takes a startPoint and an endPoint

[2016-11-11 20:37] andrewadare opened #158 "Refactor WireSegment"
WireSegment has a zoo of factory methods that add little value and are causing a maintenance burden. In preparation for #157, it could benefit from simplification.

[2016-11-11 21:51] andrewadare commented on #158
This looks like a nice improvement. I spared the factories that are more general and called in several different places. Tests pass; closing.

[2016-11-11 21:51] #158 closed

[2016-11-11 22:32] andrewadare commented on #157
This is looking pretty good now. Local fuzz tests pass, and no more ambiguity over whether positions are 2D or 3D in the model. @phet-steele I'm going to leave this issue open, and please comment here if you spot any problems that look related to this in the next testing round.

[2016-11-12 06:10] jonathanolson commented on #157
Try adding the assertion:
[code]
at the top of CLBModelViewTransform3D's modelToViewPosition (it expects Vector3s). It will be fired from:
[code]
in VoltmeterBodyNode, triggered by passing in what was presumably now a Property(Vector3) to a MovableDragHandler which sets location Vector2-style.

Didn't fully track down to determine origin/fix. Detected by Scenery type assertions being added in a no

[2016-11-12 16:36] andrewadare commented on #157
@jonathanolson thanks for catching this. It should be addressed by 75665ef.

[2016-11-14 16:17] #153 closed

[2016-11-14 17:44] jessegreenberg commented on #115
@andrewadare thanks for looking into this!  I hadn't really thought through this fully, only noticed some common patterns that might be factored out.  The comparison you showed aboved proves that creating a common type doesn't make sense here.  I agree that https://github.com/phetsims/capacitor-lab-basics/commit/ec05f9e3eb05c607f0c4c361e22e9ade9ca50e0e is the most maintanable option at this point.

[2016-11-14 17:44] #115 closed

[2016-11-28 19:18] phet-steele opened #159 "Some PhET Menu buttons aren't functioning"
Neither "Report a Problem...", "PhET Website...", nor "Screenshot" from the PhET menu are directing me anywhere. I see no errors in the console. Other sims are behaving just fine.

Seen on Win 10 Chrome, for phetsims/tasks/issues/729.

[2016-11-28 19:21] phet-steele opened #160 "Bar graph panel is messy if a value has 4 digits"
Adding a 4th digit to the value of Stored Energy moves the string right while causing some overlap.
Assigning to @arouinfar for comments on what direction to take.

![clb01](https://cloud.githubusercontent.com/assets/5863899/20682067/a81283e8-b563-11e6-9df8-3863a4f7403e.gif)

Seen on Win 10 Chrome, for phetsims/tasks#729.

No troubleshooting info (see #159).

[2016-11-28 19:44] arouinfar commented on #160
Thanks @phet-steele. The string should instead expand to the left, so that the unit label does not move.

[2016-11-28 19:52] arouinfar commented on #160
Here's an example @andrewadare. The fourth digit would get added to the left of the number so that there's no apparent shift in the value.
![screen shot 2016-11-28 at 12 50 40 pm](https://cloud.githubusercontent.com/assets/8419308/20683462/545ad15a-b569-11e6-8283-7a689a370bf8.png)

[2016-11-29 18:04] jessegreenberg commented on #125
Removing assignment since this issue has been deferred.

[2016-11-29 18:05] jessegreenberg commented on #24
Removing assignment until we begin to work on this sim again for accessibility.

[2016-11-29 18:24] jonathanolson commented on #117
Heard it is ready for a code review. Added checklist, assigning.

[2016-11-29 18:56] jonathanolson opened #161 "Voltmeter cursor"
The "hand" (cursor: 'pointer') doesn't seem to appear until a drag is started.

Presumably if the user hovers a mouse over the voltmeter, it should change the cursor.

[2016-11-29 18:57] jonathanolson commented on #161
See https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 19:00] jonathanolson opened #162 "Hand cursor shows up over battery voltage labels"
Mouse over the "1.5 V" label on the battery (gets a cursor). Looks draggable, but dragging does not do anything.

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 19:32] jonathanolson opened #163 "Function type documentation"
For function-typed parameters, it's really helpful to know the type signature/return value, e.g.:

[code]

It would be great to know what functions (like createWires) returns, and a bit more about it. Particularly since later usage doesn't tell me what the type of ```this.wires``` is:
[code]

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 19:36] jonathanolson opened #164 "AbstractCircuit constructor documentation"
createCircuitSwitches is specified as a parameter in the documentation, but it doesn't exist

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 19:44] jonathanolson opened #165 "Type documentation for properties"
Properties declared on objects should have visibility modifiers, preferably with type information and sometimes with documentation.

For example, in AbstractCircuit's constructor, for currentAmplitudeProperty:
[code]
or see ```this.wires``` declaration in the same file.

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 19:58] jonathanolson opened #166 "model.md and implementation.md documentation"
Should exist at capacitor-lab-basics/doc/, as noted in the code review guidelines:

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 20:07] jonathanolson opened #167 "light-bulb-base.png"
1:1 correspondence between asset and resource files; for example, several images may be in the same .ai file.

Since license.json notes it's from Faraday (and I see faradays-law has a light-bulb-base.png), this should be factored out to scenery-phet.

Did similar work for make-a-ten (https://github.com/phetsims/make-a-ten/issues/231), (https://github.com/phetsims/scenery-phet/commit/5ced4569a646e7

[2016-11-29 20:11] jonathanolson opened #168 "Fill in credits"
From the review checklist:

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 20:11] jonathanolson commented on #167
For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 20:18] jonathanolson commented on #23
Instrumentation issue was closed. Does this code need to be moved to master, or what additional work is needed?

[2016-11-29 20:19] jonathanolson opened #169 "Extra branches"
From the checklist:

I see:

- ama/wireseg-factories-out (can be removed, since it was merged in)
- ama/property (has a commit on it not in master)
- wip (can be removed, since it was merged in)
- accessible-instance (pinged for update in relevant issue)

[2016-11-29 20:21] jonathanolson opened #170 "Math.round usage"
From the checklist:

I see multiple usages in IGridSizeStrategy.

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 20:21] jonathanolson commented on #169
For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-29 20:30] jonathanolson opened #171 "AbstractCircuit's createCircuitComponents"
The following code feels a bit risky:
[code]
Can AbstractCircuit either filter these (e.g. ```circuitComponents.filter( ... )```), or could it be passed a way to create capacitors/lightBulbs/others independently?

I don't see necessary documentation to tell what is included in the components, or how it relates to the counts, so it's hard for me to verify correctness at this point.

For code review

[2016-11-29 20:34] jonathanolson opened #172 "AbstractCircuit's updateSegments"
This creates a lot of function closures (replacing with normal for loops would fix it):
[code]

Marking as deferred until performance review is done, to determine if this should be improved.

[2016-11-29 20:44] jonathanolson opened #173 "Most methods missing visibility documentation"
E.g. ```@public```, ```@protected``` or ```@private```.

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-30 02:52] jonathanolson opened #174 "Consider 'zone' model concept"
ParallelCircuit is full of functions that are similar, except they are for:

- lightBulbTop
- lightBulbBottom
- capacitorTop
- capacitorBottom
- batteryTop
- batteryBottom
- topPlate
- bottomPlate

that are repeated elsewhere, such as Voltmeter.

Consider an enumeration of zones, so that instead of:
[code]
with functions that are extremely similar (duplicated code), you have one function:
[code]
a

[2016-11-30 02:52] jonathanolson commented on #174
For code review: #117

[2016-11-30 03:03] jonathanolson opened #175 "[kite] Add Shape-Shape intersection"
Voltmeter.probesAreTouching needs it, I'll take care of it.

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-30 03:11] jonathanolson commented on #166
Also curious about how much of the model is in the view coordinate frame, and how the coordinate frames relate (for implementation notes).

[2016-11-30 03:22] jonathanolson opened #176 "[kite] Constructive Area Geometry"
Seems like it would be helpful:

[code]

This sim uses a lot of Shapes. @andrewadare and @pixelzoom, do you know what could be gained by using this instead?

[2016-11-30 03:24] pixelzoom commented on #176
Not sure at this point, and my memory of Capacitor Lab is fuzzy.  I seem to recall the the Java version leaned heavily on CAG. So if there's still stuff to be ported from Java, it would probably make porting easier.

[2016-11-30 03:25] pixelzoom commented on #176
Might ask @jessegreenberg also, since he did the HMTL5 port.

[2016-11-30 03:28] jonathanolson opened #177 "Future porting plans"
Just saw a note:
[code]

Are things going to get fleshed out into a full Capacitor Lab sim where currently unused code should be left in place?

My recommendations for the sim will definitely change if I'm not aware of future implementation during code review.

For code review: https://github.com/phetsims/capacitor-lab-basics/issues/117

[2016-11-30 04:24] ariel-phet commented on #177
@jonathanolson there will eventually be a port of the java version of Capacitor Lab, but the current plan is to do a port of that sim using its model. The model for Capacitor Lab: Basics is I believe more or less written from scratch to deal with the situations only in the sim (full Capacitor lab has series and parallel capacitors and dielectrics and such)

[2016-11-30 17:59] jonathanolson commented on #177
It looks like a port, and has unused code related to dielectrics (and the base parts of the model seem to support more general things), which is why I was wondering what to do.